/* 로그인/회원가입 공통 */
.container {
  background-color: var(--background-color);
  text-align: center;
  width: 100%;
  max-width: 64rem;             
  margin: 6rem auto 4rem;  
}

/* 상단 로고 영역 */
.logo-subpage {
  width: 100%;
  max-width: 64rem;              
  margin: 6rem auto;          
  text-align: center;
}
.logo-subpage img {
  width: 39.6rem;                
  height: 13.2rem;             
}

/* 로그인 */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;                    
  width: 100%;
  height: 43rem;           
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 29rem;              
  gap: 1.6rem;                      
}

/* 회원가입 */
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;                      
  width: 100%;
  height: 66.4rem;               
}
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 52.4rem;               
  gap: 1.6rem;                    
}

/* 로그인/회원가입 공통 */
.form-field {
  height: 9.3rem;                       /* 93px 각 항목의label과 input을 포함하는 높이 지정 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
label {
  text-align: left;
  font-size: 1.8rem;            
  font-weight: 700;
  margin-bottom: 0.8rem;          
}
input {
  width: 100%;
  height: 5.6rem;                 
  padding: 1.6rem 2.4rem;          
  background-color: var(--input-background-color);
  border: none;
  border-radius: 1.2rem;         
  font-size: 1.6rem; 
}
input:focus {
  border: 0.01rem solid var(--focus-border-color);  
  outline: none;                        /* 기본 포커스 스타일 제거 */
}
.password-wrapper {
  position: relative;
}
.password-wrapper .toggle-password {
  position: absolute;
  top: 1.6rem;                      
  right: 1.6rem;                  
  bottom: 1.6rem;                 
}
.btn_submit {
  width: 100%;
  height: 5.6rem;                
  border-radius: 4rem;         
  padding: 1.6rem 12.4rem;         
  background-color: var(--submit-button-bg);
  border: none;
  font-size: 2rem;            
  font-weight: 600;
  color: var(--button-text-color);
}
.social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 7.4rem;               
  border-radius: 0.8rem;         
  background-color: var(--social-login-bg);
  padding: 0 2.3rem;           
  font-size: 1.6rem;                
  font-weight: 500;
  line-height: 2.4rem;            
}
.signup-link {
  font-size: 1.5rem;           
  font-weight: 500;
}
.signup-link a {
  color: var(--link-color);
  text-decoration:underline;
  text-underline-offset: 0.2rem;        /* 밑줄과 텍스트 사이 간격을 조정 */
}
