:root {
  --primary-color: #3692FF;
  --background-color: #FFFFFF;
  --section-text-color: #374151;
  --gnb-bg: #ffffff;
  --text-color: #333;
  --content-box-gray-bg: #FCFCFC;
  --button-text-color: #FFFFFF;
  --footer-text-color: #9CA3AF;
  --footer-bg: #111827;
  --banner-bg: #CFE5FF;
  --input-background-color: #F3F4F6;
  --focus-border-color: #3694FF;
  --submit-button-bg: #9CA3AF;
  --social-login-bg: #E6F2FF;
  --link-color: #3182F6;
}
/* 공통 영역 */
html {
  font-size: 100%; /* 1rem = 16px */
}

body {
  font-family: 'Pretendard', Poppins, "Noto Sans KR", sans-serif;
  color: var(--text-color);                  /* 기본 글꼴 색상 */
  background: var(--background-color);          /* 기본 배경 색상 */
  margin: 0;
  padding: 0;
  font-size: 1rem;              
  display: flex;
  flex-direction: column;         /* 로고와 컨테이너를 세로로 배치 */
  align-items: center;
  justify-content: center;
}

header {
  margin-top: 6.25rem;            /* 100px */
  margin-bottom: 3.125rem;        /* 50px */
}
.logo img {
  width: 24.75rem;                /* 396px */
  height: 8.25rem;                /* 132px */
}

/* 로그인/회원가입 페이지 스타일 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  text-align: center;
  width: 100%;
  max-width: 40rem;               /* 640px */
}

/* 로그인 */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;                      /* 32px */
  width: 100%;
  height: 26.875rem;              /* 430px */
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 18.125rem;              /* 290px */
  gap: 1rem;                      /* 16px */
}

/* 회원가입 */
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;                      /* 32px */
  width: 100%;
  height: 41.5rem;                /* 664px */
}
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 32.75rem;               /* 524px */
  gap: 1rem;                      /* 16px */
}

/* 로그인/회원가입 공통 */
.form-field {
  height: 5.8125rem;              /* 93px 각 항목의label과 input을 포함하는 높이 지정 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
label {
  text-align: left;
  font-size: 1.125rem;            /* 18px */
  font-weight: 700;
  margin-bottom: 0.5rem;          /* 8px */
}
input {
  width: 100%;
  height: 3.5rem;                 /* 56px */
  padding: 1rem 1.5rem;           /* 16px 24px */
  background-color: var(--input-background-color);
  border: none;
  border-radius: 0.75rem;         /* 12px */
  font-size: 1rem; 
  box-sizing: border-box; 
}
input:focus {
  border: 0.0625rem solid var(--focus-border-color);  /* 1px */
  outline: none;                      /* 기본 포커스 스타일 제거 */
}
.password-wrapper {
  position: relative;
}
.password-wrapper .toggle-password {
  position: absolute;
  top: 1rem;                      /* 16px */
  right: 1rem;                    /* 16px */
  bottom: 1rem;                   /* 16px */
}
.btn_submit {
  width: 100%;
  height: 3.5rem;                 /* 56px */
  border-radius: 2.5rem;          /* 40px */
  padding: 1rem 7.75rem;          /* 16px 124px */
  background-color: var(--submit-button-bg);
  border: none;
  font-size: 1.25rem;             /* 20px */
  font-weight: 600;
  color: var(--button-text-color);
}

.social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 4.625rem;               /* 74px */
  border-radius: 0.5rem;          /* 8px */
  background-color: var(--social-login-bg);
  padding: 0 1.4375rem;           /* 0 23px */
  font-size: 1rem;                /* 16px */
  font-weight: 500;
  line-height: 1.5rem;            /* 24px */
}
.signup-link {
  font-size: 0.9375rem;           /* 15px */
  font-weight: 500;
}
.signup-link a {
  color: var(--link-color);
}
