/* 상단 배너 영역 */
.banner {
  display: flex;
  align-items: flex-end;                /* 세로 정렬: 하단 */
  justify-content: center;              /* 가로 정렬: 가운데 */
  width: 100%;   
  min-width: 80rem;                     /* 작은 화면에서 보기 좋게 */
  height: 54rem;             
  margin: 0 auto 0;                     /* 헤더의 높이만큼 마진 추가하고 가로로 가운데 위치, 하단 마진은 0으로 주어야 함*/
  background-color: var(--banner-bg);
}
.banner-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 110rem;              
  height: 34rem;            
  background-image: url('/images/img_home_top.png');   /* 화면이 작아지면 왼쪽 컨텐츠에 살짝 겹치도록 백그라운드 이미지로 설정 */
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  
}
.banner-top-message {
  width: 35.7rem;           
  height: 26rem;            
  font-size: 4rem;          
  font-weight: 700;
  line-height: 5.6rem;      
}
.btn-items {                            /* 구경하러 가기 버튼 */
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: var(--button-text-color);
  width: 35.7rem;           
  height: 5.6rem;              
  font-size: 2rem;           
  font-weight: 600;
  line-height: 3.2rem;       
  border-radius: 4rem;       
  border: none; 
  cursor: pointer; 
}

/* 섹션 영역 */
.section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  margin: 0 auto;
}
.section {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 192rem;    
  height: 72rem;        
}
.section img {
  max-width: 100%;                      /* 부모 요소의 너비에 맞게 이미지 크기를 조정 */
  height: auto;                         /* 이미지의 비율을 유지하면서 높이를 자동으로 조정 */
}
.section-left {
  justify-content: flex-start;
  padding-left: 20rem;                  /* margin 대신 padding 을 주어 내부 요소의 width 가 줄어들어도 최대한 보여지는 영역의 width를 높여 줌 */
  text-align: left;
}
.section-right {
  justify-content: flex-end;
  padding-right: 20rem;       
  text-align: right;  
}
.contents-box-left, .contents-box-right {
  display: flex;
  align-items: center;
  gap: 3rem;                
  width: 100%;
  min-height: 44.4rem;                  /* 내부 요소의 높이가 늘어날 경우 자동으로 증가될 수 있도록 height 대신 min-height 로 설정 */
  background-color: var(--content-box-gray-bg);
}
.contents-box-left {
  justify-content: flex-start;  
  max-width: 95.5rem;       
}
.contents-box-right {
  justify-content: flex-end;
  max-width: 95.5rem;       
}
.section-message {
  min-height: 23.8rem;      
  height: auto;                         /* 높이를 auto로 설정해 세로로 확장되도록 설정 */
  min-width: 8rem;                      /* 세로 확장시 secetion-left 의 높이를 벗어나지 않게 하기 위해 적당한 min-width 설정 */
}
.section-message1 {
  max-width: 27.4rem;      
}
.section-message2 {
  max-width: 31.7rem;      
}
.section-message3 {
  max-width: 33.5rem;      
}
.section-wrapper span {
  display: block;
  margin-bottom: 1.6rem;   
}
.section-title {
  font-size: 1.8rem;       
  font-weight: 700;
  line-height: 2.6rem;     
  color: var(--primary-color);
}
.section-subtitle {
  font-size: 4rem;         
  font-weight: 700;
  line-height: 5.6rem;     
  color: var(--section-text-color); 
}
.section-description {
  font-size: 2.4rem;       
  font-weight: 500;
  line-height: 3.2rem;     
  color: var(--section-text-color); 
}

/* 하단 배너 영역 */
.banner-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 110rem;           
  height: 39.7rem;         
  background-image: url('/images/img_home_bottom.png');   /* 화면이 작아지면 왼쪽 컨텐츠에 살짝 겹치도록 백그라운드 이미지 설정 */
  background-size: auto 100%;                             /* 브라우저 글꼴 크기 조정 대비 가로는 자동, 세로는 100%로 조정 */
  background-repeat: no-repeat;
  background-position: right bottom;
}
.banner-bottom-message {
  width: 29.5rem;          
  height: 11.2rem;         
  font-size: 4rem;         
  font-weight: 700;
  line-height: 5.6rem;     
}