@import "css/reset.css";

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


.loginButton {
  width: 128px;
  height: 48px;
  color: #F3F4F6;
  background-color: #3692FF;
  padding: 12px, 23px, 12px, 23px;
  border-radius: 8px;
  border-style: none;
  font-size: 16px;
  font-weight: 600;
}

.nav {
  margin: 0 auto;
  max-width: 1520px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
}

.top-banner {
  background-color: #cfe5ff;
  width: 1920;
  height: 520px;
  font-weight: 700;
}

.top-content {
  width: 1120px;
  margin: 0 auto;
  display: flex;
}

.top-detail {
  font-size: 40px;
  color: #374151;
  padding: 200px 0 46px ;
  line-height: 56px;
}

.aroundButton {
  width: 357px;
  height: 56px;
  color: #F3F4F6;
  background-color: #3692FF;
  padding: 16px, 124px, 16px, 124px;
  border-radius: 40px;
  border-style: none;
  font-size: 20px;
  font-weight: 600;
}

.homeTopImg {
  Width: 746px;
  Height: 340px;
  margin: 180px 0;
}

.middle-banner {
  width: 1920px;
  margin: 0 auto;
}

.middleImg1,
.middleImg2, 
.middleImg3 {
  width: 588px;
  height: 444px;
}

.main-sub-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #3692FF;
  margin-bottom: 12px;
}

.main-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #374151;
  margin-bottom: 24px;
}

.main-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #374151;
  background-color: #FCFCFC;
}

.top-item,
.middle-item,
.bottom-item {
  display: flex;
  width: 1120px;
  height: 444px;
}

.top-item,
.bottom-item {
  margin: 138px 0 276px 360px;
}

.middle-item {
  margin: 138px 0 276px 591px;
}

.top-item-right,
.bottom-item-right{
  gap: 12px;
  padding: 103px 0 103px 80px;
  background-color: #FCFCFC;
}

.middle-item-left {
  gap: 12px;
  padding: 103px 80px 103px 01px;
}

.bottom-banner {
  background-color: #CFE5FF;
}

.bottom-banner-content {
  display: flex;
  justify-content: space-between;
  width: 1120px;
  margin: 0 auto;
  height: 540px;
}

.homeBottomImg {
  width: 746px;
  height: 397px;
  margin: 143px 0;
}

.bottom-banner-detail {
  font-size: 40px;
  color: #374151;
  padding: 250px 0 46px ;
  line-height: 56px;
  font-weight: 700;
}

.footer {
  background-color: #111827;
  color: #E5E7EB;
  height: 100%;
  min-height: 160px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
  color: #9CA3AF;
  width: 100%;
  max-width: 1520px;
  margin: 0px auto;
  padding: 20px 200px 0;
}

@media (max-width: 1920px) {
  .bottom-banner2-content {
      padding-left: 200px;
      padding-right: 200px;
  }
}

.footer-center {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 19px;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 20px;
}

a {
  color: #9CA3AF;
  text-decoration: none;
}

a:visited {
  color: #9CA3AF;
}

a,
button {
  cursor: pointer;
}