body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgba(178, 214, 243, 0.5);
    color: white;
    font-weight: lighter;
}
img{
    width:95%;
    height: 100%;
    margin-top: 50px;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0px 30px 20px 30px;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0px 40px 100px 30px rgba(0,0,0,0.4);
}
input, button{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}
button{
    width:150px;
}
button:hover{
    cursor: pointer;
}
.font{
    font-size: 10px;
    background-color: rgba(0,0,0,0.2);
    padding: 1px;
}
.hide{
    display: none;
}