.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 8.8rem;
  height: 4.2rem;
  background-color: var(--color-primary-100);
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
}
