*{
  box-sizing: border-box;
  font-family: Pretendard, sans-serif;
}
body{
margin-top: 3.75rem;
}
:root{
--maincolor : #1f2937;
--coolgrey: #f3f4f6;
--darkgrey:#9ca3af;
--skyblue:#3182F6;
--white:white;
--whiteblue:#E6F2FF;
--blue: #3692FF;
}


img {
  margin:auto;
  display: block;
}
.pandalogo{
  width: 24.75rem; 
  height: 8.25rem;
  margin:auto;
  display: block;
}

form {
  margin: 2.5rem auto;
  width: 40rem;
  
}

label {
  color: var(--maincolor);
  display: block;
  margin: 1rem 0 ;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 21.48px;
}

input {
  border: none;
  background-color: var(--coolgrey);
  border-radius: 12px;
  color: var(--maincolor);
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 16px 0;
  padding: 16px 24px;
  width: 100%;
}
input:focus{
  outline: 1px solid var(--blue);
}



.button {
  background: var(--darkgrey);
  border: none;
  color: var(--white);
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin: 24px 0;
  padding: 16px;
  width: 100%;
  border-radius: 40px;
}
#password_box{
  position: relative;
  
}

.eyes{
  position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 1rem;
    right: 1.5rem;
    bottom: 1rem;
   
}

#simplelogin{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--whiteblue);
  width: 40rem;
  height: 4.625rem;
  border-radius: 8px;
  margin: 1.5rem 0;

}
#link_img{
  display: flex;
  gap: 1rem;
  margin-right: 1.4375rem;
}

.sim_text{
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color:var(--maincolor);
  margin-left: 1.4375rem;
}
.signup{
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.11875rem;
  color: var(--maincolor);
}
#sign{
  color:var(--skyblue);
}

.hide {
  display: none;
  }

  .invalid {
    border: 1px solid #f74747;
    
  }

  #error_email,#error_pass,#error_verpass{
    color: #f74747;
    font-size: 15px;
    line-height: 17.9px;
    font-weight: 600;
    margin: auto;
  }
  .modal {
    /*팝업 배경*/
      display: none; /*평소에는 보이지 않도록*/
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background: rgba(0,0,0,0.5);
    }
    .modal .modal_popup {
      /*팝업*/
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 20px;
          background: #ffffff;
          border-radius: 20px;
      }
      .modal .modal_popup .close_btn {
        display: block;
        padding: 10px 20px;
        background-color: rgb(116, 0, 0);
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        transition: box-shadow 0.2s;
    }