/* HEADER */
.nav-wrapper {
  display: flex;
  margin-right: 16px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  z-index: 999;
}

.header nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
  font-weight: bold;
  font-size: 16px;
  color: #4b5563;
}

.loginLink {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 12px 25px;
}

.button {
  background-color: #3692ff;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
}

@media (min-width: 744px) {
  .header nav ul {
    gap: 36px;
    font-size: 18px;
  }

  header {
    padding: 0 30px;
  }

  .header-logo {
    margin-right: 35px;
  }
}

@media (min-width: 1280px) {
  .header-logo {
    margin-right: 47px;
  }

  header {
    padding: 0 150px;
  }
}

/* FOOTER */

footer {
  font-size: 20px;
  background-color: #111827;
  padding: 50px 0 100px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.copyright {
  color: #9ca3af;
  margin-left: 200px;
}

.footerlink {
  display: flex;
  gap: 20px;
}

.snsicon {
  margin-right: 200px;
  display: flex;
  gap: 10px;
}

.footerlink a {
  color: #e5e7eb;
  text-decoration: none;
}
