* {
  margin: 0;
  padding: 0;
  color: #374151;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 심화 요구사항 1rem = 10px */
}

main {
  padding: 0;
}

/*main*/
#lookforbtn {
  width: 30rem;
  height: 5rem;
  border-radius: 99.9rem;
  margin-top: 2rem;
}

.button {
  background-color: #3692ff;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 600;
}

.banner {
  background-color: #cfe5ff;
  display: flex;
  align-items: center;
  height: 57rem; /*nav 만큼 더 줌*/
  font-size: 2.5rem;
  position: relative;
}

.wrapper {
  margin-top: 2rem;
  margin-left: 15rem;
  z-index: 1;
}

.banner-img {
  position: absolute;
  right: 20rem;
  bottom: -0.6rem;
}

#features {
  padding-bottom: 130px;
}

.feature {
  font-size: 2rem;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* 8.19 추가 */
.feature-img {
  width: 550px;
  height: auto;
}

.feature-content {
  width: 500px;
  height: auto;
}

.feature-subtitle {
  color: #3692ff;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.feature-title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 800;
}

.feature-description {
  font-size: 2rem;
}

.even-feature {
  margin-left: 15rem;
}

.odd-feature {
  margin-right: 15rem;
}

.even-feature-content {
  text-align: right;
  padding: 10rem 5rem 10rem 1rem;
}

.odd-feature-content {
  padding: 10rem 1rem 10rem 5rem;
}

/* sprint3 부터 추가된 내용 */

.board {
  flex-grow: 1;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 4rem;
  display: flex;
  gap: 4rem;
}

/* tablet, mobile 공통 코드 */
/* order로 이미지, 내용 순으로 정렬 */

@media (max-width: 1199px) {
  .banner {
    overflow: hidden;
  }
  .feature {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .feature-img {
    height: auto;
  }
  .feature-content {
    order: 1;
    padding: 1rem 0;
  }

  .banner {
    flex-direction: column;
    height: 800px;
  }
  .wrapper {
    margin: 0;
    padding-top: 15rem;
  }

  .copyright {
    margin-left: 0rem;
  }

  .snsicon {
    margin-right: 0rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }
}

/* tablet 용*/

@media (min-width: 744px) and (max-width: 1199px) {
  .banner-img {
    position: absolute;
    left: 50%;
    transform: translateX(-150%);
  }

  .banner-img img {
    width: 300%;
    height: auto;
  }

  .logo img {
    margin-left: 24px;
  }

  #loginbtn {
    margin-right: 24px;
  }
}

/* mobile 용 */

@media (min-width: 375px) and (max-width: 743px) {
  .banner-img {
    position: absolute;
    left: 50%; /* 배너 가운데로 위치 조정 */
    transform: translateX(-250%);
  }
  .banner-img img {
    width: 500%;
    height: auto;
  }

  .logo img {
    margin-left: 16px;
  }

  #loginbtn {
    margin-right: 16px;
  }

  .feature-img {
    width: calc(100% - 32px); /* 좌우 여백 32px을 제외 */
    height: auto;
  }

  .feature-content {
    width: calc(100% - 32px); /* 이미지와 동일한 가로 크기 */
  }

  .space {
    display: block;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 5rem;
    font-size: 2.5rem;
  }

  .footerlink {
    order: 1;
    flex: 1;
    display: flex;
    gap: 5rem;
  }

  .snsicon {
    order: 1;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .snsicon img {
    width: 3rem;
  }

  .copyright {
    order: 2;
    width: 100%;
    margin-top: 2rem;
  }
}

/* PC 화면에서 띄어쓰기 추가 */
@media (min-width: 1200px) {
  .space {
    display: block;
  }
}
