@font-face {
    font-family: "ROKAF";
    src: url("/fonts/ROKAFSans.ttf") format("truetype");
  }  

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    margin-top: 7.4rem;
}

.logoLink {
    text-decoration: none;
}

.logoGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39rem;
    height: 13.2rem;
    gap: 2rem;
}

.logo {
    width: 10.3rem;
    height: 10.3rem;
}

.logoTitle {
    font-size: 6.6rem;
    font-weight: 700;
    /* line-height: 9rem; */
    color: #3692FF;
    font-family: ROKAF;
}

.inputForm {
    display: flex;
    flex-direction: column;
}

.email,
.nickname,
.password,
.passwordConfirmation {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: #1F2937;
    margin: 1.6rem 0;
}

.emailInput,
.nicknameInput,
.passwordInput,
.passwordConfirmationInput {
    box-sizing: border-box;
    width: 64rem;
    height: 5.6rem;
    border: none;
    border-radius: 1.2rem;
    padding: 1.6rem 2.4rem;
    background-color: #F3F4F6;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: #9CA3AF;
    margin-bottom: 1.6rem;
}

.loginButton {
    width: 64rem;
    height: 5.6rem;
    border: none;
    border-radius: 4rem;
    background-color: #3692FF;
    /* background-color: #9CA3AF; */
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3.2rem;
    color: #F3F4F6;
}

.loginGroup {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64rem;
    height: 7.4rem;
    border: none;
    border-radius: 0.8rem;
    background-color: #E6F2FF;
    padding: 1.6rem 2.3rem;
}

.loginGroupTitle {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 500;
    color: #1F2937;
}

.loginLogoGroup {
    gap: 1.6rem;
}

.google,
.kakao {
    width: 4.2rem;
    height: 4.2rem;
}

.link {
    margin-left: 1.6rem;
    text-decoration: none;
}

.signInGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.signInTitle {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: #1F2937;
}

.signIn {
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 500;
    color: #3692FF;
}

.eye {
    position: relative;
    display: flex;
}

.eyeIcon {
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
}

.error {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.4rem;
    color: #F74747;
}

.errorInput {
    border: 1px solid #F74747;
}

.successInput {
    border: 1px solid #3692FF;
}