@font-face {
  font-family: "ROKAF";
  src: url("/fonts/ROKAFSans.ttf") format("truetype");
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  width: 64rem;
}

.logoLink {
  text-decoration: none;
}

.logoGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39rem;
  gap: 2rem;
}

.logo {
  width: 10.3rem;
  height: 10.3rem;
}

.logoTitle {
  font-size: 6.6rem;
  font-weight: 700;
  line-height: 9rem;
  color: #3692ff;
  font-family: ROKAF;
  margin: 0;
}

.inputForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.email,
.nickname,
.password,
.passwordConfirmation {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: #1f2937;
  margin: 1.6rem 0;
}

.emailInput,
.nicknameInput,
.passwordInput,
.passwordConfirmationInput {
  box-sizing: border-box;
  width: 100%;
  height: 5.6rem;
  border: none;
  border-radius: 1.2rem;
  padding: 1.6rem 2.4rem;
  background-color: #f3f4f6;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: #9ca3af;
  margin-bottom: 1.6rem;
}

.loginButton {
  width: 100%;
  height: 5.6rem;
  border: none;
  border-radius: 4rem;
  background-color: #3692ff;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.2rem;
  color: #f3f4f6;
}

.loginButton:disabled {
  background-color: #9ca3af;
}

.loginGroup {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7.4rem;
  border: none;
  border-radius: 0.8rem;
  background-color: #e6f2ff;
  padding: 1.6rem 2.3rem;
}

.loginGroupTitle {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 500;
  color: #1f2937;
}

.loginLogoGroup {
  gap: 1.6rem;
}

.google,
.kakao {
  width: 4.2rem;
  height: 4.2rem;
}

.link {
  margin-left: 1.6rem;
  text-decoration: none;
}

.signInGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.signInTitle {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: #1f2937;
}

.signIn {
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 500;
  color: #3692ff;
}

.eye {
  position: relative;
  display: flex;
}

.eyeIcon {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
}

.error {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #f74747;
  margin: 0 1rem;
}

.errorInput {
  border: 1px solid #f74747;
}

.successInput {
  border: 1px solid #3692ff;
}

@media (max-width: 1199px) and (min-width: 744px) {
  .container {
    margin-top: 20%;
  }

  .body {
    width: 98%;
  }
}

@media (max-width: 743px) {
  .container {
    margin-top: 10%;
  }

  .body {
    width: 98%;
  }

  .logoGroup {
    width: 19.8rem;
    gap: 1rem;
  }

  .logo {
    width: 5.1rem;
    height: 5.1rem;
  }

  .logoTitle {
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 4.4rem;
  }

  .email,
  .nickname,
  .password,
  .passwordConfirmation {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin: 1rem 0;
  }

  .emailInput,
  .nicknameInput,
  .passwordInput,
  .passwordConfirmationInput {
    padding: 1.6rem 2.4rem;
    margin-bottom: 0.8rem;
  }
}
