/* .bestSection {
    margin-top: 7.4rem;
    width: 120rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.bestName {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: #1F2937;
}

.bestPrice {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: #1F2937;
}

.bestFavoriteCount {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #4B5563;
}

.bestItem {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
}

.img {
    width: 28.2rem;
    height: 28.2rem;
    border-radius: 1.6rem;
}

@media (max-width: 1199px) and (min-width: 744px) {
    /* .bestSection {
        margin-top: 7.4rem;
        width: 69.6rem;
    } */

    .img {
        width: 34.3rem;
        height: 34.3rem;
        border-radius: 2rem;
    }
}

@media (max-width: 743px) {
    /* .bestSection {
        margin-top: 7.4rem;
        width: 34.4rem;
    } */

    .img {
        width: 34.3rem;
        height: 34.3rem;
        border-radius: 2rem;
    }
}