
.commentSection {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
    margin-bottom: 2rem;
}

.comment {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 600;
    color: #111827;
}

.commentInput {
    width: 100%;
    max-width: 120rem;
    height: 10.4rem;
    border-radius: 1.2rem;
    border: none;
    padding: 1.6rem 2.4rem;
    background-color: #F3F4F6;
    resize: none;
    box-sizing: border-box;
}

.submitBtn {
    width: 7.4rem;
    height: 4.2rem;
    border: none;
    border-radius: 0.8rem;
    padding: 1.2rem 2.3rem;
    box-sizing: border-box;
    background-color: #9CA3AF;
    align-self: flex-end;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 600;
    color: #F3F4F6;
}

.submitBtn.active {
    background-color: #2563EB;
    cursor: pointer;
}