:root {
    --color-light-gray: #F3F4F6;
    --color-dark-gray: #1F2937;
    --color-gray: #9CA3AF;
    --color-blue: #3692FF;
    --color-light-skyblue: #E6F2FF;
    --color-white: #FFFFFF;
    --color-create-account-blue: #3182F6;
    --error-red:#F74747;
}