 {*
  font-family: Poppins, "Nato Sans KR", sans-serif;
  box-sizing: border-box;
   margin: 0;
  padding: 0;
  background-color #FCFCFC;
  max-width:
 }


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0;
  gap: 24px;
  
}



/*body{*/
/*    box-sizing: border-box;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/


/*!*img {*!*/
/*!*  width: 500px;*!*/
/*!*}*!*/


/*a {*/
/*    text-decoration: none;*/
/*    color: inherit;*/
/*}*/



/*.wrapper {*/
/*    max-width: 120rem;*/
/*    margin: 0 auto;*/
/*    width: 100%;*/
/*}*/


/*.signup{*/
/*    a {*/
/*        text-decoration:#1967d6*/

/*    }*/
/*}*/


/*.button {*/
/*    background-color: #3692ff;*/
/*    color: #ffffff;*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.button:hover {*/
/*    background-color: #1967d6;*/
/*}*/

/*.button:focus {*/
/*    background-color: #1251aa;*/
/*}*/

/*.button:disabled {*/
/*    background-color: #9ca3af;*/
/*    cursor: default;*/
/*    pointer-events: none;*/
/*}*/

/*.pill-button {*/
/*    font-size: 2rem;*/
/*    font-weight: 700;*/
/*    border-radius: 99.9rem;*/
/*    padding: 1.6rem 12.4rem;*/
/*} *!*/






/*!* 첫번째 글씨체 *!*/
/*.first-line {*/
/*    font-size: 18px;*/
/*    line-height: 26px;*/
/*    font-weight: 700;*/
/*    color: #3692FF;*/
/*}*/

/*!* 두번째 글씨체 *!*/
/*.second-line {*/
/*    font-size: 40px;*/
/*    line-height: 56px;*/
/*    font-weight: 700;*/
/*    color: #374151;*/
/*}*/



/*!* 세번째 글씨체 *!*/
/*.third-line {*/
/*    font-size: 24px;*/
/*    line-height: 32px;*/
/*    font-weight: 500;*/
/*    color: #374151;*/



/*-------- 버튼 -------*/


