
* {
  font-family: Poppins, "Nato Sans KR", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
}



/*-------- 글씨체 -------*/


/* 첫번째 글씨체 */
.first-line {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #3692FF;
}

/* 두번째 글씨체 */
.second-line {
  font-size: 40px;
  line-height: 56px;
  font-weight: 700;
  color: #374151;
}



/* 세번째 글씨체 */
.third-line {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #374151;
}


/*-------- 버튼 -------*/



button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
