* {
  box-sizing: border-box;
}

	/* colors */
:root {
	--background-color: #CFE5FF;
	--white-color: #FFFFFF;
	--blue-color: #3692FF;
	--gray-color: #374151;
	--black-color: #111827;
	--secondary-color-white: #F3F4F6;
	--secondary-color-gray: #FCFCFC;
	--secondary-color-gray100: #9CA3AF;
	--secondary-color-gray200: #E5E7EB;
	--secondary-color-gray300: #E6F2FF;
	--secondary-color-gray400: #F9FAFB;
	--secondary-color-gray500: #DFDFDF;
  --secondary-color-gray600: #4B5563;
	--secondary-color-black: #1F2937;
	--yellyow-color: #F5E14B;
	--secondary-color-blue: #3182F6;
  
}

body {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*header*/

header {
  width: 100%;
  height: 4.375rem;
  background-color: var(--white-color);
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 0.0625rem solid var(--secondary-color-gray400);
  display: flex;
  justify-content: center;
}

.header {
  max-width: 120rem;
  height: 4.375rem;
  display: flex;
  flex-direction: row;
  padding: 0 ;
  justify-content: space-between;
  align-items: center;
}

.sub_header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

.pandaImg {  
  width: 2.5rem;
  height: 2.50875rem;
  cursor: pointer;
}

.sub_header h1 {
  font-size: 1.601875rem;
  font-weight: 700;
  font-family: ROKAF Sans;
  color: var(--blue-color);
  white-space: nowrap;
}

header button {
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: 600;
  width: 8rem;
  height: 3rem; 
  border-radius: 0.5rem;
  background-color: var(--blue-color);
  color: var(--secondary-color-white);
  border: none;
  cursor: pointer;
}

.sub_header h2{
  color: var(--secondary-color-gray600);
  font-family: Pretendard;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 21.48px;
  white-space: nowrap;
  margin-left: 2rem;
}

/* panda_1 */

.purchase {
  width: 100%;
  height: 33.75rem;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.panda_1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  gap: 1rem;
}

.perdiv {
  position: relative;
  bottom: 7rem;
}

.perdiv h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Pretendard;
  color: var(--gray-color);
  line-height: 3.5rem;
  text-align: left; 
  position: relative;
  bottom: 1.5625rem;
  white-space: nowrap;
}

.perdiv button {
  font-family: Pretendard;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
  width: 22.3125rem;
  height: 3.5rem;
  border-radius: 2.5rem;
  padding: 1rem, 7.75rem;
  gap: 0.625rem;
  background-color: var(--blue-color);
  color: var(--secondary-color-white);
  border: none;
  cursor: pointer;
}

.purchase img {
  width: 46.625rem;
  height: 21.25rem;
  
}

/* section */

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12.5rem;
  background-color: val(--white-color);
  gap: 10rem;
}

.check, .register, .search {
  width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bigbox, .bigbox3, .bigbox2 {
  width: 59.6875rem;
  background-color: var(--secondary-color-gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 22.5rem;
}

.check img, .search img, .register img {
  width: 36.75rem;
  height: 27.75rem;
  border-radius: 12px;
}

.smallbox, .smallbox2, .smallbox3 {
  display: flex;
  flex-direction: column;
  margin-right: 1.7rem;
  gap: 1.25rem;
}

.onetext, .onetext2, .onetext3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}

.check h5, .search h5, .register h5 {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
  font-family: Pretendard;
  color: var(--blue-color);
  position: relative;
  bottom: 1.25rem;
}

.check h2, .search h2, .register h2 {
  font-family: Pretendard;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
  line-height: 3.5rem;
  letter-spacing: 0.02em;
  color: var(--gray-color);
  position: relative;
}

.check h4, .search h4, .register h4 {
  font-family: Pretendard;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: left;
  color: var(--gray-color);
  position: relative;
}

/* serach add-element*/

.smallbox2 {
  padding-left: 1.25rem;
}

.bigbox2 {
  margin: 0 0 0 35.3rem;;
}

.search h5, .search h2, .search h4 {
  text-align: right;
}

/* register add-element */
.register{
  margin-bottom: 8.625rem;
}
.smallbox3 {
  padding-left: 1.3rem;
}

/* block */

.block {
  width: 100%;
  height: 9.375rem;
  background-color: var(--secondary-color-gray);
  display: flex;
  justify-content: center;;
}

.block > div {
  width: 70rem;
  height: 9.375rem;
}

/* panda_2 */

.up_footer {
  width: 100%;
  height: 33.75rem;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.upFooterIn {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.up_footer h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Pretendard;
  line-height: 3.5rem;
  text-align: left;
  color: var(--gray-color);
  white-space: nowrap;
}

.up_footer img {
  width: 46.625rem;
  height: 24.8125rem;
  position: relative;
  top: 0.1rem;
}

.trustdiv {
  position: relative;
  bottom: 11rem;
  gap: 10px;
  margin-top: 3.75rem;
}

/* footer */

footer {
  width: 100%;
  max-width: 120rem;
  height: 10rem;
  background-color: var(--black-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerbox {
  width: 120rem;
  margin: 2rem 0 ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.625rem;
  text-align: center;
}

.copy_txt h4{
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.193125rem;
  text-align: center;
  color: var(--secondary-color-gray100);
  white-space: nowrap;
}

.footer_a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.footer_a a {
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.193125rem;
  text-align: center;
  color: var(--secondary-color-gray200);
  text-decoration : none; 
  cursor: pointer;
  white-space: nowrap;
}

.sns_a {
  width: 7.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sns_a img {
  cursor: pointer;
}

@media screen and (min-width: 1920px) {
  body {
    background-color: var(--background-color);
  }
  .section{
    width: 120rem;
    background-color: var(--white-color);
  }
  .block{
    width: 120rem;
    
  }
  header, footer {
    width: 120rem;
  }
  .header {
    gap: 30rem;
    padding: 0 12.5rem;
  }
}

@media screen and (max-width: 1919px) {
  body {
    padding: auto;
  }
  .header{
    width: 120rem;
  }
  .header {
    width: 100%;
    padding: 0 12.5rem;
  }
  .footerbox {
    width: 100%;
    padding: 0 12.5rem;
  }

}

/* PC */
@media screen and (min-width: 1200px) {
  .header img{
    width: 40px;
    height: 40.14px;
  }
  .purchase img{
    width: 746px;
    height: 340px;
  }
  .check img, .search img, .register img{
    width: 588px;
    height: 444px;
  }
  .up_footer img{
    width: 746px;
    height: 397px;
  }
  .sns_a img{
    width: 20px;
    height: 20px;
  }
  .header {
    width: 100%;
    padding: 0 12.5rem;
  }
} 

/* Tablet */
@media screen and (max-width: 1199px) {
  .header{
    width: 100%;
    padding: 0 1.5rem;
  }
  .footerbox {
    width: 100%;
    padding: 0 1.5rem;
  }
} 

/* mobile */
@media screen and (min-width: 375px) and (max-width: 744px) {
  /* header */
  .header{
    padding: 0 1rem;
  }
  .navPlus{
    gap: 0.5rem;
    margin: 0 0.5rem;
  }
  .sub_header h1{
    font-size: 1.2rem;
  }
  .sub_header h2{
    font-size: 0.8rem;
    margin: 0 1rem
  }
  .hedaer button{
    width: 50%;
    padding: 0 1rem 0 0;
  }

  
  /* panda 1 */
  .purchase, .panda_1{
    width: 100%;
  }
  .perdiv{
    width: 100%;
    position: absolute;
    bottom: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .perdiv h1{
    font-size: 2rem;
    text-align: center;
  }
  .perdiv button{
    position: relative;
    bottom: 1rem;
  }
  .purchase img {
    width:100%;
    height: auto;
  }
  
  /* section */
  .section {
    position: relative;
    bottom: 1rem;
    display: flex;
    justify-content: center;
  }
  .check, .search, .register{
    width: 100%;
  }
  .check img, .search img, .register img {
    width: 100%;
    height: auto;
    padding: 0 2rem;
  } 
  .bigbox, .bigbox2, .bigbox3 {
    background-color: var(--white-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .smallbox, .smallbox2, .smallbox3{
    width: 100%;
    margin: 0;
    padding: 0 1.5rem;
    gap: 0.5rem;
  }
  .smallbox2{
    order: 1;
  }
  .onetext{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .onetext h2, .onetext2 h2, .onetext3 h2 {
    font-size: 1.5rem;
    
  }
  .onetext h4, .onetext2 h4, .onetext3 h4{
    font-size: 0.9rem;
    position: relative;
    bottom: 1.5rem;
    white-space: pre-line;
    
  }
  .smallbox h5, .smallbox2 h5, .smallbox3 h5{
    position: relative;
    top: 0.7rem;
  }
  .sectionBr{
    display: inline-block;
    content: " ";
    padding: 0 0.3rem;
  }

  /* panda2 */
  .up_footer{
    width: 100%;;
  }
  .upFooterIn{
    width: 100%;

  }
  .trustdiv{
    width: 100%;
    position: absolute;
    top: 0.1rem;
  }
  .trustdiv h1 {
    font-size: 2rem;
    text-align: center;
  }
  .up_footer img{
    width: 100%;
    height: auto;
  }
  /* footer */
  .copy_txt{
    font-size: 0.5rem;
  }
  .footer_a{
    font-size: 0.5rem;
  }
  .footerbox {
    width: 100%;
    font-size: 0.7rem;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
  }
  .sns_a img{
    width: 80%;
  }
}

/* br 제거 */
@media screen and (max-width: 430px){
  .navBr{
    display: block !important;
    
  }
  .header img{
    display: none;
  }
  .header{
    width: 100%;
  }
  .sub_header h2{
  margin: 0;
  }
  .copy_txt{
    order: 3;
    width: 100%; 
    position: relative;
    right: 7.2rem;
  }
}

