@import "./reset.css";

@media screen and (min-width: 1920px) {
  body {
    background-color: var(--background-color);
  }
  .section {
    background-color: var(--white-color);
  }
}
@media screen and (max-width: 1919px) {
  .header {
    padding: 0 12.5rem;
  }
}

body {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

/*header*/

header {
  width: 120rem;
  height: 4.375rem;
  background-color: var(--white-color);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
  border-bottom: 0.0625rem solid var(--secondary-color-gray400);
}

.header {
  padding: 0.5625rem 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
}

header img {  
  width: 2.5rem;
  height: 2.50875rem;
  cursor: pointer;
}

header h1 {
  font-size: 1.601875rem;
  font-weight: 700;
  font-family: ROKAF Sans;
  color: var(--blue-color);
}

header button {
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: 600;
  width: 8rem;
  height: 3rem; 
  border-radius: 0.5rem;
  background-color: var(--blue-color);
  color: var(--secondary-color-white);
  border: none;
  cursor: pointer;
}

/* panda_1 */

.purchase {
  width: 100%;
  height: 33.75rem;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.panda_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 6.25rem;
}

.perdiv {
  position: relative;
  bottom: 1rem;
}

.perdiv h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Pretendard;
  color: var(--gray-color);
  line-height: 3.5rem;
  text-align: left; 
  position: relative;
  bottom: 1.5625rem;
}

.perdiv button {
  font-family: Pretendard;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
  width: 22.3125rem;
  height: 3.5rem;
  border-radius: 2.5rem;
  padding: 1rem, 7.75rem;
  gap: 0.625rem;
  background-color: var(--blue-color);
  color: var(--secondary-color-white);
  border: none;
  cursor: pointer;
}

.purchase img {
  width: 46.625rem;
  height: 21.25rem;
  position: relative;
  left: 0.625rem;
}

/* section */

.section {
  width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12.5rem;
  background-color: val(--white-color);
  gap: 10rem;
}

.check, .register, .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bigbox, .bigbox3, .bigbox2 {
  width: 59.6875rem;
  background-color: var(--secondary-color-gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8.625rem;
  margin-right: 22.5rem;
}

.check img, .search img, .register img {
  width: 36.75rem;
  height: 27.75rem;
  border-radius: 12px;
}

.smallbox, .smallbox2, .smallbox3 {
  display: flex;
  flex-direction: column;
  margin-right: 1.25rem;
  gap: 1.25rem;
}

.onetext, .onetext2, .onetext3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}

.check h5, .search h5, .register h5 {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
  font-family: Pretendard;
  color: var(--blue-color);
  position: relative;
  bottom: 1.25rem;
}

.check h2, .search h2, .register h2 {
  font-family: Pretendard;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
  line-height: 3.5rem;
  letter-spacing: 0.02em;
  color: var(--gray-color);
  position: relative;
}

.check h4, .search h4, .register h4 {
  font-family: Pretendard;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: left;
  color: var(--gray-color);
  position: relative;
}

/* serach add-element*/

.smallbox2 {
  padding-left: 1.25rem;
}

.bigbox2 {
  margin: 0 0 0 36.9375rem;;
}

.search h5, .search h2, .search h4 {
  text-align: right;
}

/* register add-element */

.smallbox3 {
  padding-left: 2.5rem;
}

/* block */

.block {
  width: 120rem;
  height: 9.375rem;
  background-color: var(--secondary-color-gray);
  display: flex;
  justify-content: center;;
}

.block > div {
  width: 70rem;
  height: 9.375rem;
}

/* panda_2 */

.up_footer {
  width: 100%;
  height: 33.75rem;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.up_footer > div {
  height: 24.8125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 8.9375rem;
}

.up_footer h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Pretendard;
  line-height: 3.5rem;
  text-align: left;
  color: var(--gray-color);
}

.up_footer img {
  width: 46.625rem;
  height: 24.8125rem;
}

.trustdiv {
  padding-bottom: 3.75rem;
  gap: 10px;
  margin-top: 3.75rem;
}

/* footer */

footer {
  width: 120rem;
  height: 10rem;
  gap: 10px;
  background-color: var(--black-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerbox {
  width: 70rem;
  margin: 2rem 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.copy_txt h4{
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.193125rem;
  text-align: center;
  color: var(--secondary-color-gray100);
}

.footer_a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.footer_a a {
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.193125rem;
  text-align: center;
  color: var(--secondary-color-gray200);
  text-decoration : none; 
  cursor: pointer;
}

.sns_a {
  width: 7.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

sns_a img {
  cursor: pointer;
}