@import "./reset.css";

@media screen and (min-width: 1920px) {
  .purchase, .up_footer, header {
    width: 100%;
  }
  body {
    background-color: #CFE5FF;
  }
}
@media screen and (max-width: 1919px) {
  .header div {margin-left: 200px;}
  .header .login_btn {margin-right: 200px;}
  .footerbox h4{
    margin-left: 200px;
  }
  .a2box {
    margin-right: 200px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*header*/

header {
  width: 1920px;
  height: 70px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
  border-bottom: 1px solid #DFDFDF
}

.header {
  width: 1120px;
  margin: 9px 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header div {
  width: 153px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a, .purchase a, .footerbox a, .a2box a {
  text-decoration: none;
  cursor: pointer;
}

header img {  
  width: 40px;
  height: 40.14px;
  cursor: pointer;
}

header h1 {
  font-size: 25.63px;
  font-weight: 700;
  font-family: ROKAF Sans;
  color: #3692FF;
}

header button {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  width: 128px;
  height: 48px; 
  border-radius: 8px;
  background-color: #3692FF;
  color: #F3F4F6;
  border: none;
  cursor: pointer;
}

.purchase {
  width: 100%;
  height: 540px;
  background-color: #CFE5FF;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*main*/

.purchase > div {
  width: 1110px;
  height: 340px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 200px;
}

.perdiv h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: Pretendard;
  color: #374151;
  line-height: 56px;
  text-align: left; 
  position: relative;
  bottom: 25px;
}

.perdiv button {
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  width: 357px;
  height: 56px;
  border-radius: 40px;
  padding: 16px, 124px, 16px, 124px;
  gap: 10px;
  background-color: #3692FF;
  color: #F3F4F6;
  border: none;
  cursor: pointer;
}

.purchase img {
  width: 746px;
  height: 340px;
  position: relative;
  left: 10px;
}

.perdiv {
  width: 357px;
  height: 260px;
  position: relative;
  top: 30px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;

}

.check {
  width: 1920px;
  height: 720px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bigbox {
  width: 955px;
  background-color: #FCFCFC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 138px;
  margin-right: 360px;
}

.check img {
  width: 588px;
  height: 444px;
}

.smallbox {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  gap: 20px;
}

.onetext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.check h5 {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  font-family: Pretendard;
  color: #3692FF;
  position: relative;
  bottom: 20px;
}

.check h2 {
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #374151;
  position: relative;
}

.check h4 {
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #374151;
  position: relative;
}

.search {
  width: 1920px;
  height: 720px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bigbox2 {
  width: 969px;
  height: 444px;
  background-color: #FCFCFC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 591px;
  margin-bottom: 138px;
}

.search img {
  width: 588px;
  height: 444px;
}

.smallbox2 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 20px;
}

.onetext2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.search h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  font-family: Pretendard;
  color: #3692FF;
  position: relative;
  text-align: right;
  bottom: 20px;
}

.search h2 {
  font-family: Pretendard;
  text-align: right;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #374151;
  position: relative;
}

.search h4 {
  font-family: Pretendard;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #374151;
  position: relative;
}

.register {
  width: 1920px;
  height: 720px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bigbox3 {
  width: 987px;
  height: 444px;
  background-color: #FCFCFC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 138px;
  margin-right: 360px;
}

.register img {
  width: 588px;
  height: 444px;
  border-radius: 12px;
}

.smallbox3 {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  gap: 20px;
}

.onetext3 {
  width: 335px;
  height: 238px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.register h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  font-family: Pretendard;
  color: #3692FF;
  position: relative;
  text-align: left;
  bottom: 20px;
}

.register h2 {
  font-family: Pretendard;
  text-align: left;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: #374151;
  position: relative;
}

.register h4 {
  font-family: Pretendard;
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #374151;
  position: relative;
}

.block {
  width: 1920px;
  height: 150px;
  background-color: #FCFCFC;
  display: flex;
  justify-content: center;;
}

.block > div {
  width: 1120px;
  height: 150px;
}

/*footer*/

.up_footer {
  width: 100%;
  height: 540px;
  background-color: #CFE5FF;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.up_footer > div {
  width: 1110px;
  height: 397px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 143px;
  gap: 50px;
}

.up_footer h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: Pretendard;
  line-height: 56px;
  text-align: left;
  color: #374151;
}

.up_footer img {
  width: 746px;
  height: 397px;
}

.trustdiv {
  width: 295px;
  height: 172px;
  padding: 0px 0px 60px 0px;
  gap: 10px;
  margin-top: 60px;
}

footer {
  width: 1920px;
  height: 160px;
  gap: 10px;
  background-color: #111827;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerbox {
  width: 1120px;
  margin: 32px 400px 32px 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.a0box h4{
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
  color: #9CA3AF;
}

.a1box {
  width: 159px;
  height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.a1box a {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
  color: #E5E7EB;
  text-decoration : none;
}

.a2box {
  width: 116px;
  height:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}