@charset "UTF-8";
@import url("color.css");

html {
   font-family: Pretendard;
}

main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   min-height: 100%;
   max-width: 1920px;
   margin: 0 auto;
}

.logo {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 60px;
   margin-bottom: 40px; /*232px-(132+60)*/
}

.overall-area {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 24px;
}

.login-area{
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.letter-box {
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.login-fillup-zone{
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.letter{
   font-weight: 700;
   font-size: 18px;
   color: var(--color-dark-gray);
   font-family: Pretendard;
}

.gray-box{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 616px;
   height: 56px;
   border-radius: 12px;
   background-color: var(--cool-gray-100);
   padding-left: 24px;
   border: 2px solid transparent;
}

.gray-box input::placeholder{
   font-weight: 400;
   font-size: 16px;
   color: var(--cool-gray-400);
   margin-left: 24px;
}

.gray-box:focus-within {
   border-color: var(--color-blue);
   outline: none;
}

.gray-box-outer {
   border-color: var(--error-red);
   outline: none;
}

.gray-box input:focus {
   border-color: none;
   outline: none;
}

.gray-box input {
   flex-grow: 1;
   height: 100%;
   border: 2px solid transparent;
   background: none;
}

.vis-password{
   cursor: pointer;
   margin-right: 24px;
}

.login-button:disabled{
   width: 640px;
   height: 56px;
   border-radius: 40px;
   border: none;
   background-color: var(--cool-gray-400);
   font-weight: 600;
   font-size: 20px;
   color: var(--color-white);
}

.login-button{
   cursor: pointer;
   width: 640px;
   height: 56px;
   border-radius: 40px;
   border: none;
   background-color: var(--color-blue);
   font-weight: 600;
   font-size: 20px;
   color: var(--color-white);
}

.external-login{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 640px;
   height: 74px;
   border-radius: 8px;
   background-color: var(--color-light-skyblue);
}

.external-login-letter{
   font-weight: 500;
   color: var(--color-dark-gray);
   margin-left: 23px;
}

.external-login-icons{
   display: flex;
   gap: 16px;
   margin-right: 23px;
}

.external-login-icons a{
   cursor: pointer;
   width: 42px;
   height: 42px;
}

.create-account{
   display: flex;
   justify-content: center;
   font-weight: 500;
   font-size: 15px;
   color: var(--color-dark-gray);
}

.create-account a{
  color: var(--signin-blue);
}

.error-red {
   color: var(--error-red);
   font-size: 15px;
   font-weight: 600;
   margin-left: 16px;
}