body {
    font-family: 'Pretendard', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px
}

input {
    padding: 16px 24px 16px 24px;
    gap: 10px;
    border-radius: 12px;
    background-color: #f3f4f6;
    border: 0;

}

input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#logo {
    width: 103.53px;
    height: 103.88px;
}

#google {
    width: 42px;
    height: 42px;
}
#kakao {
    width: 42px;
    height: 42px;
}

.pandamarket {
    font-size: 66.34px;
    font-weight: 700;
    line-height: 89.56px;
    font-family: 'ROKAF sans';
    color: #3692FF;
    margin: 0;
}
.content {
    width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px

}

.content h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.48px;
}

.login {
    background-color: #9ca3af;
    border-radius: 40px;
    padding: 16px 124px 16px 124px;
    border: 0;


}

.login a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.sns-login {
    width: 640px;
    display: flex;
    align-items: center;
    background-color: #E6F2FF;
    border-radius: 8px;
    justify-content: space-between;

}

.sns-login p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #1F2937;
    margin-left: 23px;
}

.icon {
    margin-right: 23px;
    gap: 16px
}

footer {
    font-size: 15px;
    font-weight: 500;
    line-height: 17.9px;
    color: #1F2937;
}

footer a {
    color: #3182F6;
}

