@font-face {
    font-family: 'ROKAF';
    src: url('./assets/fonts/ROKAFSans.ttf') format('truetype');
}

html {
    /* 10px */
    font-size: 62.5%;
    font-family: Pretendard;
}

body {
    background-color: #FCFCFC;
    margin: 0;
}

a {
    text-decoration: none;
    color:#E5E7EB;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7rem;
    background-color: white;
    z-index: 1;
}

.nav {
    justify-content: space-between;
    width: 192rem;
    height: 7rem;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 0 12.5rem;
}

.logo-title {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.title {
    color: #3692FF;
    font-size: 2.563rem;
    line-height: 3.46rem;
    font-weight: 700;
    margin-left: 0.8rem;
    font-family: ROKAF;
}

.login {
    width: 12.8rem;
    height: 4.8rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 600;
    background-color: #3692FF;
    border-radius: 0.8rem;
    color: white;
    border: none;
    cursor: pointer;
}

.home-top {
    margin-top: 7rem;
}

.home-top,
.home-bottom {
    display: flex;
    width: 100%;
    height: 54rem;
    background-color: #CFE5FF;
    justify-content: center;
    align-items: end;
}

.home-top h1,
.home-bottom h1 {
    width: 30rem;
    font-size: 4rem;
    line-height: 5.6rem;
    font-weight: 700;
    color: #374151;
}

.item-btn {
    background-color: #3692FF;
    width: 35.7rem;
    height: 5.6rem;
    border-radius: 4rem;
    border: none;
    padding: 1.6rem 0;
    gap: 1rem;
    color: #F9FAFB;
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 600;
    cursor: pointer;
}

.home-top-img,
.home-bottom-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */

.item-section, 
.search-section,
.register-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 72rem;
    background-color: white;
}

.section-category {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: #3692FF;
}

.section-title {
    font-size: 4rem;
    line-height: 5.6rem;
    font-weight: 700;
    color: #374151;
}

.section-description {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 500;
    color: #374151;
}

.hot-item,
.search, 
.register {
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hot-item,
.register {
    margin-left: 3.2rem;
}

.search {
    text-align: end;
    margin-right: 3.2rem;
}

.section {
    display: flex;
    width: 120rem;
}

.section1-hot-item,
.section2-search,
.section3-register {
    display: flex;
    width: 96.9rem;
    height: 44.4rem;
    background-color: #FCFCFC;
    cursor: pointer;
}

.search-section section {
    display: flex;
    justify-content: end;
}

.section2-search {
    margin-left: 23.1rem;
    justify-content: flex-end;
}

/* footer */

.footer-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.2rem 12.5rem;
    gap: 1rem;
    width: 192rem;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #111827;
    width: 100%;
    height: 16rem;
    border: 0.1rem solid;
    border-color: #111827;
}

.privacy,
.FAQ {
    color: #E5E7EB;
    cursor: pointer;
}

.codeit {
  color: #9CA3AF;
  cursor: pointer;
}

.PF {
    display: flex;
    gap: 3.2rem;
}

footer img{
    cursor: pointer;
    margin-left: 1rem;
}

.icon {
    display: flex;
}

@media (max-width: 1199px) {
    .nav {
        width: 100%;        
        margin: 0 2.4rem;
    }

    .title {
      font-size: 2.5rem;
      line-height: 3.5rem;
    }

    .login {
      font-size: 1.6rem;
      height: 4.2 rem;
      width: 8.8rem;
    }

    .home-top,
    .home-bottom {
        height: 77.4rem;
    }

    .home-top h1,
    .home-bottom h1 {
      font-size: 4rem;
      line-height: 5.6rem;
        width: 100%;
        text-align: center;
    }

    .home-top-img,
    .home-bottom-img {
        display: flex;
        flex-direction: column;
    }

    .top,
    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;    
        margin: 15rem;
        text-align: center;
    }

    .top h1 br {
        display: none;
    }

    .item-section,
    .search-section,
    .register-section {
        height: 87rem;
        display: flex;
        align-items: center;
    }

    .section1-hot-item,
    .section2-search,
    .section3-register {
        display: flex;
        flex-direction: column;
    }

    .section {
      display: flex;
      justify-content: center;
      width:69.6rem;
      height: 77rem;
    }

    .hot-image,
    .search-image,
    .register-image {
        height: 52.4rem;
        width: 69.6rem;
    }

    .hot-item,
    .search,
    .register {
        width: 100%;
        margin: 0;
    }

    .section-category {
        font-size: 1.8rem;
        margin: 1rem 0;
    }

    .section-title {
        font-size: 3.2rem;
        line-height: 4.48rem;
        margin: 0;
    }

    .section-title br {
        display: none;
    }

    .section-description {
        font-size: 1.8rem;
        line-height: 2.16rem;
        margin: 1rem 0;
    }

    .section2-search {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }

    .footer-icon {
      margin: 2.4rem;
    }
}


@media (max-width: 743px) {
    .nav {
        width: 100%;
        margin: 0 1.6rem;
    }

    .logo {
      display: none;
    }

    .title {
      font-size: 2rem;
      line-height: 2.7rem;
    }

    .login {
      font-size: 1.6rem;
      height: 4.2rem;
      width: 8.8rem;
    }

    .home-top,
    .home-bottom {
        height: 77.4rem;
    }

    .home-top h1 ,
    .home-bottom h1 {
        width: 100%;
        font-size: 3.2rem;
        line-height: 4.48rem;
        text-align: center;
    }

    .home-top-img,
    .home-bottom-img {
        display: flex;
        flex-direction: column;
    }

    .top,
    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;    
        margin: 15rem;
        text-align: center;
    }

    .top h1 br {
        display: block;
    }

    .item-section,
    .search-section,
    .register-section {
        height: 55rem;
        display: flex;
        align-items: center;
    }

    .section1-hot-item,
    .section2-search,
    .section3-register {
        display: flex;
        flex-direction: column;
        width: 34.4rem;
        height: 25.9rem;
    }

    .section {
      display: flex;
      justify-content: center;
      width: 37.5rem;
      height: 43rem;
    }

    .hot-image,
    .search-image,
    .register-image {
        height: 52.4rem;
        width: 69.6rem;
    }

    .hot-item,
    .search,
    .register {
        width: 100%;
        margin: 0;
    }

    .section-category {
        font-size: 1.6rem;
        line-height: 2.24rem;
        margin: 1rem 0;
    }

    .section-title {
        font-size: 2.4rem;
        line-height: 3.36rem;
        margin: 0;
    }

    .section-description {
        font-size: 1.6rem;
        line-height: 1.92rem;
        margin: 1rem 0;
    }

    .section2-search {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }

    .footer-icon {
      margin: 1.6rem;
    }

    .footer-icon p {
      font-size: 1.6rem;
      line-height: 2rem;
    }
}