@font-face {
    font-family: 'ROKAF';
    src: url('./assets/fonts/ROKAFSans.ttf') format('truetype');
}

html {
    font-family: Pretendard;
}

body {
    background-color: #FCFCFC;
    margin: 0;
}

a {
    text-decoration: none;
    color:#E5E7EB;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    /* border: 1px solid;
    border-color: black; */
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 200px;
}

.title {
    color: #3692FF;
    font-size: 25.63px;
    line-height: 34.6px;
    font-weight: 700;
    margin-left: 8px;
    font-family: ROKAF;
}

.login {
    width: 128px;
    height: 48px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    background-color: #3692FF;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 200px;
}

.home-top {
    margin-top: 70px;
}

.home-top,
.home-bottom {
    display: flex;
    width: 100%;
    height: 540px;
    background-color: #CFE5FF;
    justify-content: center;
    align-items: end;
    /* border: 1px solid;
    border-color: blue; */
}

.home-top h1,
.home-bottom h1 {
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    color: #374151;
}

.item-btn {
    background-color: #3692FF;
    width: 357px;
    height: 56px;
    border-radius: 40px;
    border: none;
    padding: 16px auto;
    gap: 10px;
    color: #F9FAFB;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    cursor: pointer;
}

.home-top-img,
.home-bottom-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */

.section1, 
.section2,
.section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 720px;
    background-color: white;
    /* border: 1px solid;
    border-color: red; */
}

.section-category {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #3692FF;
}

.section-title {
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    color: #374151;
}

.section-description {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: #374151;
}

.hot-item,
.search,
.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hot-item,
.register {
    margin-left: 32px;
}

.search {
    text-align: end;
    margin-right: 32px;
}

.section {
    display: flex;
    width: 1200px;
}

.section1-hot-item,
.section2-search,
.section3-register {
    display: flex;
    width: 969px;
    height: 444px;
    background-color: #FCFCFC;
    cursor: pointer;
}

.section2 section {
    display: flex;
    justify-content: end;
}

.section2-search {
    margin-left: 231px;
    justify-content: flex-end;
}

/* footer */

.footer-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 400px;
    gap: 10px;
}

footer {
    background-color: #111827;
    width: 100%;
    height: 160px;
    border: 1px solid;
    border-color: #111827;
}

.codeit,
.Privacy,
.FAQ {
    color: #E5E7EB;
    cursor: pointer;
}

.PF {
    display: flex;
    gap: 32px;
}

footer img{
    cursor: pointer;
    margin-left: 10px;
}
