body {
    font-family: 'Pretendard' , sans-serif;
    line-height: 1.5;
    color: #374151;
    background-color: #ffffff;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    gap: 10px;
    border: 1px;
    border-color: #DFDFDF;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
    padding: 0;
    font-size: inherit;
}

#logo {
    width: 40px;
    height: 40px;
}

#panda1 {
    width: 746px;
    height: 340px;
}

#panda3 {
    width: 588px;
    height: 444px;
}

#panda4 {
    width: 588px;
    height: 444px;
}

#panda5 {
    width: 588px;
    height: 444px;
}

#panda2 {
    width: 746px;
    height: 397px;
}

.title {
    display: flex;
    align-items: center;
    margin-left: 200px;
}


.title h1 {
    color: #3692FF;
    font-size: 25.63px;
    line-height: 34.6px;
    font-weight: 700px;
    margin-left: 8px;
}

.login {
    width: 128px;
    height: 48px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    background-color: #3692FF;
    border-radius: 8px;
    color: #F3F4F6;
    margin-right: 200px;
}

.main1 {
    background-color: #CFE5FF;
    display: flex;
}

.main1 > .check {
    display: flex;
    margin-top: 200px;
    margin-left: 405px;
}

.main1 .check_items {
    padding: 0 0 60px 0;
}

.main1 .text1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
}

.items {
    display: flex;
    width: 357px;
    height: 56px;
    padding: 16px 124px 16px 124px;
    gap: 10px;
    background-color: #3692FF;
    border-radius: 40px;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    color: #F9FAFB;

}

.subtitle {
    font-size: 18px;
    color: #3692FF;
    font-weight: 700;
}

.content {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.main2 h1,
.main3 h1,
.main4 h1 {
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
}

.boxbox {
    display: flex;
    align-items: center;
    background: #FCFCFC;
    gap: 64px;
    margin-top: 138px;
}

.main2 {
    height: 720px;
}

.main2 .boxbox {
    margin-left: 360px;
}

.main2 div {
    width: 955px;
}

.main3 {
    height: 720px;
}

.main3 .boxbox {
    margin-left: 591px;
}

.main3 div {
    text-align: right;
    width: 969px;
}

.main4 {
    height: 720px;
}

.main4 .boxbox {
    margin-left: 360px;
}

.main4 div {
    width: 987px;
}

.main5 {
    background-color: #CFE5FF;
    display: flex;
}

.main5 > .box {
    display: flex;
    gap: 64px;
    margin-top: 143px;
    margin-left: 405px;
    align-items: center;
}

.main5 h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
}

footer {
    background-color: #111827;
    gap: 10px;
    padding: 32px 400px 32px 400px;
}

footer div {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
    align-items: center;
    color: #9ca3aF;
}

.ppf {
    gap: 30px
}

.sns {
    gap: 12px;
    display: flex;
    align-items: center;
    width: 116px;
}

