* {
  font-family: Poppins, "Nato Sans KR", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
}


/*--------웹페이지 -------*/



/* 헤더 스타일 */
header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  padding: 9px, 400px, 9px, 400px;
  background-color: white;
  z-index: 1;
}



/* 바디 스타일 */

body {
  margin: 0;
  word-break: keep-all;
  font-family: Poppins, "Nato Sans KR", sans-serif;
  }


  /* nav 스타일 */

  #nav {
    justify-content: space-between;
    width: 1920px;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 0 200px;
    gap:10px;
    z-index: 1;
  }

  
  .first-last-section{
  
    background-color:  #CFE5FF; 
    display: flex;
    width: 100%;
    
    justify-content: center;
    flex-direction: row;
    align-items: end;
    
  
  }
/* height: 440px; */
.second-tird-fourth-section{
  background-color:  #ffffff; 
  height: 540px;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 200px;
  align-items:center;
  
}

/* 풋터 스타일 */
footer{

  justify-content:space-between;
  display:flex;
  background-color:  #000000;
  color: #9ca3af;
  display: flex;
  padding: 32px 200px 100px 200px;
  font-size: 1rem;
  gap: 10rem;
  box-sizing: border-box;
  align-items: center;

}

#footer1{
  display: flex;
  gap: 3rem;
  margin-left:;
  align-items: center;
}

#footer2{
  display: flex;
  gap: 1.4rem;
  color:#ffffff;
  /* margin-left:100px */
}
#footer3{
  
  display: flex;
  gap: 1rem;
  margin-left:;
  
}


/*-------- 글씨체 -------*/


/* 첫번째 글씨체 */
.first-line {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #3692FF;
}

/* 두번째 글씨체 */
.second-line {
  font-size: 40px;
  line-height: 56px;
  font-weight: 700;
  color: #374151;
}



/* 세번째 글씨체 */
.third-line {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #374151;
}


/*-------- 버튼 -------*/



button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

