@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

input {
    box-sizing: border-box;
}

input:focus {
    border: 2px solid #3692FF;
    outline: none;
}

input:not(:focus) {
    border: none;
}
a{
    cursor: pointer;
}
button{
    cursor: pointer;
}
body {
    background: #FCFCFC;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Pretendard;
}

.logo-title {
    width: 396px;
    height: 132px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.sign-up-entire {
    width: 640px;
    height: 664px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sign-up-box {
    width: 640px;
    height: 524px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sign-up-input {
    width: 640px;
    height: 93px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.48px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sign-up-button {
    width: 640px;
    height: 56px;
    padding: 16px 124px 16px 124px;
    gap: 10px;
    border-radius: 40px;
    background: #9CA3AF;
    border: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.easy-login-frame {
    width: 640px;
    height: 74px;
    border-radius: 8px;
    background: #E6F2FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.easy-login-text {
    width: 101px;
    height: 24px;
    margin-left: 23px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #1F2937;
}

.easy-login-iconbox {
    width: 100px;
    height: 42px;
    margin-right: 23px;
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 42px;
    height: 42px;
}

.general-login-frame {
    width: 158px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    line-height: 17.9px;
    text-align: left;
}

.general-login-text {
    width: 115px;
    height: 18px;
    color: #1F2937;
}

.login-link {
    width: 39px;
    height: 18px;
    color: #3182F6;

}
#username,
#nickname,
#password,
#password-check {
    width: 640px;
    height: 56px;
    padding: 16px 24px 16px 24px;
    border-radius: 12px;
    background: #F3F4F6;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}