@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
input {
    box-sizing: border-box;
}

input:focus {
    border: 0.2rem solid #3692FF;
    outline: none;
}

input:not(:focus) {
    border: none;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

body {
    background: #FCFCFC;
}

#frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Pretendard;
}

#logo-title {
    width: 39.6rem;
    height: 13.2rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

#sign-up-entire {
    width: 64rem;
    height: 74.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#sign-up-box {
    width: 64rem;
    height: 60.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
}

.sign-up-input {
    width: 64rem;
    height: 11.9rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.148rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sign-up-button {
    width: 64rem;
    height: 5.6rem;
    padding: 1.6rem 12.4rem 1.6rem 12.4rem;
    gap: 1rem;
    border-radius: 4rem;
    background: #9CA3AF;
    border: none;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
    text-align: center;
    color: #FFFFFF;
}

#easy-login-frame {
    width: 64rem;
    height: 7.4rem;
    border-radius: 0.8rem;
    background: #E6F2FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#easy-login-text {
    width: 10.1rem;
    height: 2.4rem;
    margin-left: 2.3rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    text-align: left;
    color: #1F2937;
}

#easy-login-iconbox {
    width: 10rem;
    height: 4.2rem;
    margin-right: 2.3rem;
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 4.2rem;
    height: 4.2rem;
}

#general-login-frame {
    width: 15.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.79rem;
    text-align: left;
}

#general-login-text {
    width: 11.5rem;
    height: 1.8rem;
    color: #1F2937;
}

#login-link {
    width: 3.9rem;
    height: 1.8rem;
    color: #3182F6;

}

#username,
#nickname,
#password,
#password-check {
    width: 64rem;
    height: 5.6rem;
    padding: 1.6rem 2.4rem 1.6rem 2.4rem;
    border-radius: 1.2rem;
    background: #F3F4F6;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: left;

}

.password-frame {
    width: 64rem;
    height: 5.6rem;
    border-radius: 1.2rem;
    background: #F3F4F6;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
}

#watch-toggle {
    position: absolute;
    right: 2.4rem;
    cursor: pointer;
}

#watch-toggle-check {
    position: absolute;
    right: 2.4rem;
    cursor: pointer;
}
.guide {
    height: 1.8rem;
    color: red;
    margin-left: 1.6rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.79rem;
    text-align: left;
    background: #FCFCFC;
}
.deactivate{
    pointer-events: none;
}
.fail {
    border-style: 0.2rem solid red;
}

.fail:not(:focus) {
    border: 0.2rem solid red;
    outline: none;
}