:root {
    --color-light-gray: #F3F4F6;
    --color-dark-gray: #1F2937;
    --color-gray: #9CA3AF;
    --color-blue: #3692FF;
    --color-light-skyblue: #E6F2FF;
    --color-white: #FFFFFF;
    --color-create-account-blue: #3182F6;

}

html {
    font-family: Pretendard;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    max-width: 1920px;
    margin: 0 auto;
 }

 .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px; /*232px-(132+60)*/
 }

 .overall_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
 }

 label {
   display: flex;
   flex-direction: column;
   gap: 16px;
 }

 .signup_area{
    display: flex;
    flex-direction: column;
    gap: 24px;
 }

 .signup_fillup_zone{
    display: flex;
    flex-direction: column;
    gap: 24px;
 }

 .letter-box {
   display: flex;
   flex-direction: column;
   gap: 16px;
}

 .letter{
    font-weight: 700;
    font-size: 18px;
    color: var(--color-dark-gray);
    font-family: Pretendard;
 }

 .gray_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 616px;
    height: 56px;
    border-radius: 12px;
    background-color: var(--color-light-gray);
    padding-left: 24px;
    border: 2px solid transparent;
 }

 .gray_box input::placeholder{
    font-weight: 400;
    font-size: 16px;
    color: var(--color-gray);
    margin-left: 24px;
 }

.gray_box:focus-within {
    border-color: var(--color-blue);
}

.gray_box input:focus {
    border-color: none;
    outline: none;
}

 .gray_box input {
    flex-grow: 1;
    height: 100%;
    border: 2px solid transparent;
    background: none;
}

 .vis_password{
    cursor: pointer;
    margin-right: 24px;
 }

 .button{
    width: 640px;
    height: 56px;
    border-radius: 40px;
    border: none;
    background-color: var(--color-gray);
    font-weight: 600;
    font-size: 20px;
    color: var(--color-white);
 }

 .external-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 640px;
    height: 74px;
    border-radius: 8px;
    background-color: var(--color-light-skyblue);
 }

 .external-login-letter{
    font-weight: 500;
    color: var(--color-dark-gray);
    margin-left: 23px;
 }

 .external-login-icons{
    display: flex;
    gap: 16px;
    margin-right: 23px;
 }

 .external-login-icons a{
    cursor: pointer;
    width: 42px;
    height: 42px;
 }

 .create-account{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    color: var(--color-dark-gray);
 }

 .create-account a{
   color: var(--color-create-account-blue);
 }