@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
a {
  text-decoration: none;
  cursor: pointer;* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    line-height: 1.15;
    font-size: 62.5%; /*1rem = 10px*/
  }
  img {
    max-width: 100%; 
    height: auto;
  }
}
button {
  cursor: pointer;
}
.underbar-link{
  color: #E5E7EB;
}


#main{
  margin: 0;
  padding: 0;
  font-family: 'Pretendard';
  white-space: nowrap;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav {
  background: #FFFFFF;
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
#nav-main {
  width: 112rem;
  height: 5.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20rem;
  margin-right: 20rem;
}
#logo-name {
  width: 15.3rem;
  height: 5.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  width: 4rem;
  height: 4.014rem;
}
#name {
  width: 10.3rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  font-size: 2.563rem;
  font-weight: 700;
  line-height: 3.46rem; 
  text-align: left;
  color: #3692FF;
}
#button-login {
  width: 12.8rem;
  height: 4.8rem;
  color: #F3F4F6;
  background-color: #3692ff;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
}
#frame-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-edge{
  width: 100%;
  height: 54rem;
  display: flex;
  justify-content: center;
  align-items: end;
  background: #CFE5FF;
}
.content-center{
  width: 192rem;
  height: 72rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.right-align{
  justify-content: end;
}

.left-align{
  display: flex;

}
#entire-watch {
  width: 111rem;
  height: 34rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#textbox-watch {
  width: 35.7rem;
  height: 26rem;
  position: relative;
}
#image-watch {
  width: 74.6rem;
  height: 34rem;
}
#watch-text1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  text-align: left;
  color: #374151;
}
#button-items {
  width: 100%;
  height: 100%;
  color: #F9FAFB;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.2rem;
  text-align: center;
  background-color: #3692FF;
  border-radius: 4rem;
}

#buttonsize-items {
  width: 100%;
  height: 100%;
  border-radius: 4rem;
}

#watch-text2 {
  width: 100%;
  height: 5.6rem;
  position: absolute;
  left: 0;
  bottom: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#check-entire {
  background: #FCFCFC;
  width: 95.5rem;
  height: 44.4rem;
  margin-left: 36rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#check-textbox {
  width: 27.4rem;
  height: 23.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 2.9rem;
}
#check-image {
  width: 58.8rem;
  height: 44.4rem;
}
#check-text1 {
  width: 60rem;
  height: 2.6rem;
  font-family: Pretendard;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-align: left;
  color: #3692FF;
}
#check-textbox2 {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#check-text2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: 0.02em;
  text-align: left;
  width: 22.2rem;
  height: 11.2rem;
}

#check-text3 {
  width: 100%;
  height: 6.4rem;
  font-family: Pretendard;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
  text-align: left;
  color: #374151;
}

#search-entire {
  background: #FCFCFC;
  width: 96.9rem;
  height: 44.4rem;
  margin-right: 36rem;
  display: flex;  
  justify-content: space-between;
  align-items: center;
}

#search-textbox {
  width: 31.7rem;
  height: 23.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

#search-image {
  width: 58.8rem;
  height: 100%;
}

#search-text1 {
  width: 6rem;
  height: 2.6rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-align: left;
  color: #3692FF;
}

#search-textbox2 {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

#search-text2 {
  width: 100%;
  height: 11.2rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: 0.02em;
  text-align: right;
  color: #374151;
}

#search-text3 {
  width: 28.8rem;
  height: 6.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
  text-align: right;
  color: #374151;
}
#register-entire {
  background: #FCFCFC;
  width: 98.7rem;
  height: 44.4rem;
  margin-left: 36rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#register-image {
  width: 58.8rem;
  height: 100%;
}
#register-textbox {
  width: 33.5rem;
  height: 23.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#register-text1 {
  width: 7.1rem;
  height: 2.6rem;
  font-family: Pretendard;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-align: left;
  color: #3692FF;
}

#register-textbox2 {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#register-text2 {
  width: 29.3rem;
  height: 11.2rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: 0.02em;
  text-align: left;
  color: #374151;


}
#register-text3 {
  width: 33.5rem;
  height: 6.4rem;
  font-family: Pretendard;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
  text-align: left;
  color: #374151;
}
#top-margin{
  margin-top: 13.8rem;
}
#trust-entire {
  width: 111rem;
  height: 39.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#trust-textbox {
  width: 29.5rem;
  height: 17.2rem;
  padding: 0 0 6rem 0;
  gap: 1rem;
  opacity: 0;
  display: flex;
  flex-direction: column;

}

#trust-text1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  text-align: left;
  width: 100%;
  height: 11.2rem;
  gap: 0;
  opacity: 0;
  color: #374151;
}

#trust-image {
  width: 74.6rem;
  height: 100%;
}

#footer {
  background: #111827;
  width: 100%;
  height: 16rem;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  font-family: 'Pretendard';
}

#under-bar {
  width: 112rem;
  height: 2rem;
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20rem;
  margin-right: 20rem;
}

#underbar-text1 {
  width: 11.2rem;
  height: 1.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  text-align: center;
  color: #9CA3AF;
}
#underbar-textbox {
  width: 15.9rem;
  height: 1.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#underbar-text2 {
  width: 10rem;
  height: 1.9rem;
  gap: 0;
  opacity: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  text-align: center;
  color: #E5E7EB;
}
#underbar-text3 {
  width: 2.9rem;
  height: 1.9rem;
  gap: 0;
  opacity: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  text-align: center;
  color: #E5E7EB;
}

#underbar-imagebox {
  width: 11.6rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.iconbox{
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#facebook-icon,
#twitter-icon,
#youtube-icon,
#instagram-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.facebook-icon{
  width: 1.8rem;
  height: 1.8rem;
}
.twitter-icon{
  width: 1.892rem;
  height: 1.538rem;
}
.youtube-icon{
  width: 2rem;
  height: 1.334rem;
}
.instagram-icon{
  width: 1.7rem;
  height: 1.7rem;
}