@import'./reset.css';

:root {
  /* font-size */
  --text-4xl-40: 4rem; /* 40px */
  --text-3xl-32: 3.2rem; /* 32px */
  --text-2xl-24: 2.4rem; /* 24px */
  --text-xl-20: 2rem; /* 20px */
  --text-2lg-18: 1.8rem; /* 18px */
  --text-lg-16: 1.6rem; /* 16px */
  --text-md-14: 1.4rem; /* 14px */
  --text-sm-13: 1.3rem; /* 13px */
  --text-xs-12: 1.2rem; /* 12px */

  /* color */
  --primary-color-100: #3692FF;
  --primary-color-200: #1967D6;
  --primary-color-300: #1251AA;
  --error-color: #F74747;
  --secondary-color-gray900: #111827;
  --secondary-color-gray800: #1F2937;
  --secondary-color-gray700: #374151;
  --secondary-color-gray600: #4B5563;
  --secondary-color-gray500: #6B7280;
  --secondary-color-gray400: #9CA3AF;
  --secondary-color-gray200: #E5E7EB;
  --secondary-color-gray100: #F3F4F6;
  --secondary-color-gray50: #F9FAFB;
  --background-color-gray10: #FCFCFC;
  --background-color: #CFE5FF;
  --background-color-light-blue: #E6F2FF;
  --background-color-white: #FFFFFF;
  --border-color: #DFDFDF;
}

/* 공통 */

html {
	font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Pretendard;
  margin: 0;
}

a.logo,
.privacy,
.faq,
.facebook,
.twitter,
.youtube,
.instagra {
  cursor: pointer;
}

.full-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-bottom-text {
  font-size: var(--text-4xl-40);
  font-weight: 700;
  line-height: 5.6rem;
  text-align: left;
  color: var(--secondary-color-gray700);
}

/* 네비게이션바 */

.full-nav {
  display: flex;
  width: 100%;
  height: 7rem;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: var(--background-color-white);
  border: 0.1rem solid var(--border-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 192rem;
  height: 7rem;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 0.9rem 40rem;
}

.logo {
  width : 15.3rem; /*153px*/
  height: 5.1rem; /*51px*/
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.8rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  padding: 1.2rem 2.3rem;
  background-color: var(--primary-color-100);
  color: var(--secondary-color-gray100);
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

/* top */

.full-top {
  display: flex;
  background-color: var(--background-color);
  width: 100%;
  margin-top: 7rem;
  justify-content: center;
}

.top-section {
  display: flex;
  width: 111rem;
  height: 34rem;
  margin: 20rem auto 0;
  align-items: center;
}

.top-text-section {
  display: flex;
  flex-direction: column;
  width: 35.7rem;
  height: 26rem;
  padding: 0 0 6rem 0;
  gap: 3.2rem;
}

.items-button {
  display: flex;
  align-items: center;
  width: 35.7rem;
  height: 5.6rem;
  padding: 1.6rem 12.4rem;
  border-radius: 4rem;
  background-color: var(--primary-color-100);
  font-size: var(--text-xl-20);
  font-weight: 600;
  color: var(--secondary-color-gray50);
  line-height: 3.2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.top-picture {
  width: 74.6rem;
  height: 34rem;
}

/* center 공통  */
.mainsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 72rem;
  background-color: var(--background-color-white);
}

.main-img {
  width: 58.8rem; /*588px*/
  height: 44.4rem; /*444px*/
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: 23.8rem;
}

.topic {
  font-size: var(--text-2lg-18);
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--primary-color-100);
}

.text {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.maintext {
  font-size: var(--text-4xl-40);
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: 0.02em;
  color: var(--secondary-color-gray700);
}

.subtext {
  font-size: var(--text-2xl-24);
  font-weight: 500;
  line-height: 3.2rem;
  color: var(--secondary-color-gray700);
}

/* center 개별 */

#item.text-section,
#register.text-section {
  text-align: left;
}

#search.text-section {
  text-align: right;
}

.hotitem-section {
  display: flex;
  align-items: center;
  width: 95.5rem;
  height: 43.6rem;
  gap: 6.4rem;
  margin: 13.8rem 60.5rem 13.8rem 36rem;
  background-color: var(--background-color-gray10);
  /* cursor: pointer; */
}

.search-section {
  display: flex;
  align-items: center;
  width: 96.9rem;
  height: 44.4rem;
  gap: 6.4rem;
  margin: 13.8rem 36rem 13.8rem 59.1rem;
  background-color: var(--background-color-gray10);
  /* cursor: pointer; */
  
}

.register-section {
  display: flex;
  align-items: center;
  width: 98.7rem;
  height: 44.4rem;
  gap: 6.4rem;
  margin: 13.8rem 57.3rem 13.8rem 36rem;
  background-color: var(--background-color-gray10);
  /* cursor: pointer; */
}

/* bottom */

.full-bottom {
  background-color: var(--background-color);
  margin-top: 13.8rem;
}

.bottom-section {
  display: flex;
  align-items: center;
  width: 111rem;
  height: 39.7rem;
  margin: 14.3rem auto 0;
  gap: 6.9rem;
}

.bottom-text-section {
  width: 29.5rem;
  height: 17.2rem;
  padding: 0 0 6rem 0;
}

.bottom-picture {
  width: 74.6rem;
  height: 39.7rem;
}

/* footer */

.full-footer {
  display: flex;
  justify-content: center;
  background: #111827;
  width: 100%;
  height: 16rem;
}

.footer-section {
  display: flex;
  width: 192rem;
  justify-content: space-between;
  padding: 3.2rem 40rem;
  gap: 1rem;
}

.company-name,
.footer-link-section a {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.909rem;
  text-align: center;
  color: var(--secondary-color-gray200);
  height: 1.1875rem;
}

.footer-link-section {
  display: flex;
  gap: 1.875rem;
  width: 9.9375rem;
  height: 1.9rem;
}

.footer-link-section a {
  text-decoration: none;
}

.link-icon {
  display: flex;
  width: 11.6rem;
  height: 2rem;
  gap: 1.2rem;
}


@media (width < 1920px) {

  .nav {
    width: 100%;
    padding: 0.9rem 20rem;
  }
  
  .footer-section {
    padding: 3.2rem 20rem;
  }
}

