@import "reset.css";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-100: #3692FF;
  --primary-200: #1967D6;
  --primary-300: #1251AA;
  --gray-900: #111827;
  --gray-800: #1F2937;
  --gray-700: #374151;
  --gray-600: #4B5563;
  --gray-500: #6B7280;
  --gray-400: #9CA3AF;
  --gray-200: #E5E7EB;
  --gray-100: #F3F4F6;
  --gray-50: #F9FAFB;
  --error-red: #F74747;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Pretendard-Regular";
  color: var(--gray-700);
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #DFDFDF;
}

.header-contents {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1520px;
  height: 70px;
  justify-content: space-between;
}

.logo-img {
  cursor: pointer;
  display: flex;
    align-items: center;
    width: 153px;
    justify-content: space-between;
    gap: 10px;
}

.logo-img-1 {
  display: none;
  width: 40px;
}

.logo-img-2 {
  width: 103px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 16px;
  width: 232px;
}

.nav-right {
  font-size: 1.6rem;
  padding: 12px 23px;
  background: var(--primary-100);
  border-radius: 8px;
  margin-right: 16px;
  min-width: 88px;
}

.login-button-hyp {
  text-decoration: none;
  color: #FFFFFF;
}

.menu {
  font-size: 1.8rem;
  font-weight: 700px;
  color: var(--gray-600);
  white-space: nowrap;
}

.main-banner {
  background-color: #CFE5FF;
  height: 540px;
  width: 100%;
    background-image: url('main-banner.png');
    background-size: 626.12px 281px;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.main-contents {
  width: 100%;
  margin: 0 auto;
  display: flex;
    flex-direction: column;
}

.main-text {
  color: var(--gray-700);
    font-size: 3.2rem;
  font-weight: 700;
  line-height: 44.8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
    white-space: pre-wrap;
}

.shop-button {
  text-decoration: none;
  background: var(--primary-100);
  padding: 16px 124px;
  border-radius: 40px;
  color: #FFFFFF;
  font-size: 2rem;
  line-height: 24px;
  width: 357px;
}

.banners {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 0 32px 0;
}

.mid-banner {
  display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
    width: 100%;
  background-color: #FCFCFC;
  padding: 32px 16px;
}

.left-aligned {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
    gap: 8px;
}

.right-aligned {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
    gap: 8px;
}

.ban-img {
  width: 100%;
}

.leftsided {
  gap: 8px;
    display: flex;
    flex-direction: column;
}

.rightsided {
  text-align: right;
  display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary-100);
}

.subtitle {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 33.6px;
}

.text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
}

.bottom-banner {
  background-color: #CFE5FF;
  height: 540px;
  width: 100%;
  background-image: url('bottom-banner.png');
  background-size: 498px 270px;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.main-text.bottom {
  margin-top: 90px;
}

footer {
  background-color: var(--gray-900);
  height: 160px;
  font-size: 1.6rem;
    padding: 32px 16px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
    flex-wrap: wrap;
    width: 1520px;
}

.footer-version {
  color: var(--gray-400);
  order: 3;
    display: flex;
    flex-basis: 100%;
}

.footer-buttons {
  display: flex;
  gap: 30px;
  order: 1;
    justify-content: center;
}

.footer-button-text {
  text-decoration: none;
  color: var(--gray-200);
}

.footer-icons {
  display: flex;
  gap: 12px;
  order: 2;
    justify-content: flex-end;
  }
  
  /* ---------Tablet---------- */
  @media (min-width: 744px) {
    .logo-img-1 {
      display: block;
    }
  
    .nav-left {
      gap: 30px;
    }
  
    .main-banner {
      height: 771px;
      background-size: 996px 447px;
    }
  
    .main-text {
      white-space: nowrap;
      font-size: 4rem;
      gap: 24px;
      margin-top: 114px;
      line-height: 56px;
    }
  
    .title,
    .text {
      font-size: 1.8rem;
      line-height: 21.6px;
    }
  
    .subtitle {
      font-size: 3.2rem;
    }
  
    .bottom-banner {
      height: 771px;
      background-size: 996px 540px;
    }
  
    .footer-contents {
      flex-wrap: nowrap;
    }
  
    .footer-version {
      order: 1;
      flex-basis: auto;
      flex-grow: 1;
    }
  
    .footer-buttons {
      order: 1;
      flex-grow: 1;
      justify-content: center;
    }
  
    .footer-icons {
      order: 1;
      flex-grow: 1;
    }
  }
  
  /* -----------PC------------ */
  @media (min-width: 1200px) {
    .main-banner {
      height: 540px;
      background-position-x: 80%;
      background-size: 996px 447px;
      display: flex;
      align-items: center;
    }
  
    .main-contents {
      align-items: center;
    }
  
    .main-text,
    .bottom {
      text-align: left;
      align-items: flex-start;
      margin: 0 0 0 -700px;
      white-space: pre-wrap;
    }
  
    .main-text.bottom {
      margin-top: 0;
    }
  
    .mid-banner {
      max-width: 1120px;
      gap: 276px;
      margin: 138px 0;
    }
  
    .banner {
      width: 969px;
      flex-direction: row;
      align-items: center;
      padding: 0;
    }
  
    .right-aligned {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .ban-img {
      width: 588px;
    }
  
    .leftsided {
      padding-left: 30px;
    }
  
    .rightsided {
      padding-right: 30px;
    }
  
    .title {
      line-height: 25.2px;
    }
  
    .subtitle {
      font-size: 4rem;
      line-height: 56px;
      white-space: pre-wrap;
    }
  
    .text {
      font-size: 2.4rem;
      line-height: 28.8px;
    }
  
    .bottom-banner {
      height: 540px;
      background-position-x: 80%;
      display: flex;
      align-items: center;
    }
}