.modal {
  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.off {
  display: none;
}

.modal-content {
  width: 54rem;
  height: 25rem;
  border-radius: 8px;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.modal-content p {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.modal-content .button {
  position: absolute;
  right: 2.8rem;
  bottom: 2.8rem;

  padding: 1.2rem 2.3rem;
  border-radius: 8px;
}
