.card {
  display: grid;
  gap: 1.6rem;
  grid-template-rows: 1fr auto;
}

.card .product-img {
  width: 22.1rem;
  aspect-ratio: 1/1;

  border-radius: 16px;
}

.card .product-info {
  height: 8rem;

  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.product-info .title {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--gray-800);
}

.product-info .price {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--gray-800);
}

.product-info .like {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--gray-600);
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* Tablet */
@media (max-width: 1199px) {
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* Mobile */
@media (max-width: 743px) {
  .card .product-img {
    width: 16.8rem;
    border-radius: 12px;
  }
}
