.sort-order {
  height: 100%;
  width: 13rem;
  border-radius: 12px;
  border: 1px solid var(--gray-200);
  padding: 1.2rem 2rem;
  background-color: white;

  color: var(--gray-800);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort-order-list {
  position: absolute;
  display: grid;
  grid-template-rows: repeat(2, 4.2rem);
  grid-gap: 0;
  margin-top: 0.8rem;
  width: 13rem;
}

.sort-order-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--gray-200);
  border-bottom: 0;
  border-radius: 1.2rem 1.2rem 0 0;
  background-color: #ffffff;
  color: var(--gray-800);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
}

.sort-order-list li:last-child {
  border-bottom: 1px solid var(--gray-200);
  border-radius: 0 0 1.2rem 1.2rem;
}

.sort-order-list li:hover {
  background-color: var(--Primary-100);
  color: var(--gray-50);
  border: none;
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* Tablet */
@media (max-width: 1199px) {
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* Mobile */
@media (max-width: 743px) {
  .sort-order {
    width: 4.2rem;

    justify-content: center;
  }

  .sort-order-list {
    transform: translateX(-8.8rem);
  }
}
