.product-list-wrapper {
  margin: 100px 200px;
}
.product-control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 16px;
}
.section-title {
  display: flex;
  align-items: center;
  color: #111827;
  font-weight: bold;
  font-size: 11px;
}

.search-sort-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar-wrapper {
  flex: 1;
  display: flex;
  background-color: #f3f4f6;
  border-radius: 12px;
  margin-right: 20px;
  width: 325px;
}

.search-bar-input {
  border: none;
  height: 42px;
  flex: 1;

  margin-left: 15px;
  border-radius: 10px;
  background-image: url("../../images/etc/reading-glasses.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.search-bar-input::placeholder {
  color: #9ca3af;
  font-size: 13px;
}

.create-item-button {
  background-color: #3692ff;
  border: none;
  color: #ffffff;
  width: 130px;
  border-radius: 7px;
  padding: 10px;
  margin-right: 20px;
}

.sort-dropdown {
  border-radius: 10px;
  width: 110px;
  height: 40px;
  text-align: left;
  padding: 0 10px;
  border-color: #dfdfdf;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  overflow: hidden;
  width: 100%;
}

.item-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 16px;
  color: #1f2937;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.item-name {
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  /* overflow: hidden; */
}

.item-price {
  font-size: 16px;
  font-weight: bold;
}

.favorite-count {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #4b5563;
  font-size: 12px;
}

.pagination-bar-wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.pagination-bar-wrapper button {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-bar-wrapper button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination-bar-wrapper button:hover {
  background-color: #b3d6fc;
  border-color: #b3d6fc;
}

/* 모바일용 */
/* 위치 변경해야함 */
@media (min-width: 375px) and (max-width: 743px) {
  .product-list-wrapper {
    margin: 100px 10px;
  }
  .search-bar-wrapper {
    width: 200px;
  }
  .section-title,
  .search-bar-input,
  .create-item-button,
  .sort-dropdown {
    font-size: 10px;
  }
}

/* 태블릿 */
@media (min-width: 744px) and (max-width: 1199px) {
  .product-list-wrapper {
    margin: 100px 20px;
  }
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .search-bar-wrapper {
    width: 250px;
  }
  .section-title {
    font-size: 10px;
  }
}

/* PC (1200px 이상) */
@media (min-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
