/* variables.css */
:root {
  /* Primary colors */
  --primary-100: #3692FF;
  --primary-200: #1967D6;
  --primary-300: #1251AA;

  /* Secondary colors */
  --secondary-900: #111827;
  --secondary-800: #1F2937;
  --secondary-700: #374151;
  --secondary-600: #4B5563;
  --secondary-500: #6B7280;
  --secondary-400: #9CA3AF;
  --secondary-200: #E5E7EB;
  --secondary-100: #F3F4F6;
  --secondary-50: #F9FAFB;

  /* Secondary colors */
  --error-color: #F74747;
}
