.footer-bar-menu-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.909rem;
    text-align: center;
}

.footer-bar-menu-img {
    width: 2rem;
    height: 2rem;
}

.footer-bar-menu-html {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.909rem;
    text-align: center;
    text-decoration: none;
}