.best-products {
    display: flex;
    justify-content: center;

    margin: 1.25rem 0;
    width: 75rem;
}

.best-product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
}

.best-product-item {
    display: flex;
    flex-direction: column;

    gap: 1.25rem;
}

.best-product-item-img {
    width: 17.625rem;
    height: 17.625rem;
    border-radius: 1.25rem; 
}

.best-product-info {
display: flex;
flex-direction: column;
}

.best-product-name {
font-size: 0.875rem;
font-weight: 500;
line-height: 1.5rem;
text-align: left;
}

.best-product-price {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625rem;
    }

.best-product-title {
font-size: 1.25rem;
font-weight: 700;
line-height: 2rem;
}

.best-product-favorite {
font-size: 0.75rem;
font-weight: 500;
line-height: 1.125rem;
}