.header {
  position: sticky;
  top: 0;
  z-index: 99999;

  display: flex;
  align-items: center;

  width: 100%;
  max-width: 120rem;
  height: 4.375rem;

  margin: auto;

  background-color: #ffffff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 12.5rem;

  width: 100%;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 9.5625rem;
  height: 3.1875rem;
}

.mobile {
  display: none;
}

.menu {
  display: flex;
  align-items: center;

  padding: 0;

  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
  text-align: center;

  list-style: none;

  gap: 0.625rem;
}

.menu a {
  color: #4B5563;
}

.auth {
  color: white;
  background-color: #3292FF;
  padding: 0.75rem 3.125rem;
  border-radius: 0.5rem;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .menu {
    font-size: 1rem;
  }
}

@media (max-width: 743px) {
  .menu {
    font-size: 0.875rem;
  }

  .logo {
    display: none;
  }

  .mobile {
    display: block;
  }
}