html,
body {
  margin: 0 auto;
  padding: 0;

  width: 100%;

  font-size: 16px;

  color: #374151;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}

button {
    background-color: white;
    border-radius: 6.25rem;
    border: 1px solid #9CA3AF;
    width: 2.5rem;
    height: 2.5rem;
}

.page-number {
    display: flex;
    justify-content: center;
    gap: 0.32rem;
    margin: 1.25rem 0 2.5rem;
}