.pagination {
    display: flex;
    justify-content: center;

    margin: 1.25rem 0 2.5rem;
    gap: 0.32rem;
}

.button {
    width: 2.5rem;
    height: 2.5rem;

    border-radius: 6.25rem;
    border: 1px solid #E5E7EB;

    background-color: white;
    text-align: center;
}

.button:hover {
    background-color: #2F80ED;
    color: white;
}

.img {
    margin: auto;
    display: block;
}

.active {
    width: 2.5rem;
    height: 2.5rem;

    border-radius: 6.25rem;
    border: 1px solid #E5E7EB;

    background-color: #2F80ED;
    color: white;
}