.page-nav-button {
    width: 2.5rem;
    height: 2.5rem;

    background-color: white;
    border-radius: 6.25rem;
    border: 1px solid #E5E7EB;

    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;

    margin: 1.25rem 0 2.5rem;
    gap: 0.32rem;
}

.pagination button.active {
    background-color: #2F80ED;
    color: white;
}