.ProductBar {
    display: flex;
    justify-content: space-between;

    width: 1200px;

}

.ProductBarInfo {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.product-add {
    background-color: #3692FF;
    color: white;
    border-radius: 8px;
    border-style: none;

    width: 132px;
    height: 42px;
}

.side {
    display: flex;
    align-items: center;
    gap: 10px;

}

.search-bar {
display: flex;
align-items: center;
justify-content: space-between;

position: relative;

width: 325px;
height: 42px;

border-radius: 12px;
padding: 9px 20px;

background-color: #F3F4F6;
}

.search-input {
    border: none;
    background-color: #F3F4F6;
    width: 100%;
    margin-left: 30px;
}

.search-img {
    position: absolute;

    width: 24px;
    height: 24px;

}

.search-input:focus {
    outline: none;
}