.products {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 75rem;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.25rem;
}

.product-item {
    display: flex;
    flex-direction: column;

    gap: 1.25rem;
}

.product-item-img {
    width: 13.75rem;
    height: 13.75rem;
    border-radius: 1.25rem; 
}

.product-info {
display: flex;
flex-direction: column;
}

.product-name {
font-size: 0.875rem;
font-weight: 500;
line-height: 1.5rem;
}

.product-price {
font-size: 1rem;
font-weight: 700;
line-height: 1.625rem;
}

.product-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    }
    
    .product-favorite {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    }