html,
body {
  margin: 0 auto;
  padding: 0;

  width: 100%;

  font-size: 16px;

  color: #374151;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProductBar {
    display: flex;
    justify-content: center;

    width: 1200px;

    margin: 0 30px;
}

.ProductBarInfo {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.product-add {
    background-color: #3692FF;
    color: white;
    border-radius: 8px;
    border-style: none;

    height: 42px;
    width: 100%;
}

.side {
    display: flex;
    align-items: center;
    gap: 10px;

}

.search-bar {
display: flex;
align-items: center;
justify-content: space-between;

position: relative;
}

#search {
    border-radius: 5px;
    border-style: none;
    background-color: #F3F4F6;

    width: 325px;
    height: 42px;
}

#search::placeholder {
    padding: 9px 40px;
}

.search-img {
    position: absolute;

    width: 24px;
    height: 24px;

    margin: 10px;
}