.container {
    width: 75rem;

    padding: 0 1.5rem;
    margin: auto;
    border: none;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 1rem 0;
}

.title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
}

.form {
    margin-bottom: 1.5rem;
}

.form label {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.625rem;
}

.form input {
    width: 100%;

    margin: 1rem 0;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;

    background-color: #F3F4F6;
}

.form input::placeholder {
    color: #9CA3AF;
}

.form input:focus {
    outline: none;
}

.form textarea {
    width: 100%;
    height: 17.625rem;

    margin: 1rem 0;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;

    background-color: #F3F4F6;
}

.form textarea::placeholder {
    color: #9CA3AF;
}

.form textarea:focus {
    outline: none;
}

.add {
    width: 5rem;
    height: 2.625rem;

    padding: 0.75rem 1.44rem;
    border-radius: 0.5rem;

    background-color: #3692ff;
    color: white;
}

.add:disabled {
    cursor: default;
    background-color: #9CA3AF;
}

.error {
    color: red;
}

@media screen and (min-width: 744px) and (max-width: 1199px) {
    .container {
        width: 43.5rem;
    }
}

@media screen and (max-width: 743px) {
    .container {
        width: 21.5rem;
    }
}