:root {
  /* font-size */
  --text-4xl-40: 4rem; /* 40px */
  --text-3xl-32: 3.2rem; /* 32px */
  --text-2xl-24: 2.4rem; /* 24px */
  --text-xl-20: 2rem; /* 20px */
  --text-2lg-18: 1.8rem; /* 18px */
  --text-lg-16: 1.6rem; /* 16px */
  --text-md-14: 1.4rem; /* 14px */
  --text-sm-13: 1.3rem; /* 13px */
  --text-xs-12: 1.2rem; /* 12px */

  /* color */
  --primary-color-100: #3692FF;
  --primary-color-200: #1967D6;
  --primary-color-300: #1251AA;
  --error-color: #F74747;
  --secondary-color-gray900: #111827;
  --secondary-color-gray800: #1F2937;
  --secondary-color-gray700: #374151;
  --secondary-color-gray600: #4B5563;
  --secondary-color-gray500: #6B7280;
  --secondary-color-gray400: #9CA3AF;
  --secondary-color-gray200: #E5E7EB;
  --secondary-color-gray100: #F3F4F6;
  --secondary-color-gray50: #F9FAFB;
  --background-color-gray10: #FCFCFC;
  --background-color: #CFE5FF;
  --background-color-light-blue: #E6F2FF;
  --background-color-white: #FFFFFF;
  --border-color: #DFDFDF;
}

@media screen and (374px < width < 744px) {
  body {
    padding: 2.4rem 1.6rem;
  }

  header {
    margin: 2.4rem 0;
  }

  .logo {
    width: 19.8rem;
    height: 6.6rem;
  }

  main {
    max-width: 40rem;
  }

  #loginForm {
    gap: 1.6rem;
  }

  .loginWrapper {
    gap: 0.8rem;
  }

  label {
    font-size: var(--text-md-14);
    line-height: 1.671rem;
  }

  .easyLogin {
    padding: 0 2.4rem;
  }

}