html{
  font-family: Pretendard;
}

body{
  background-color: #fcfcfc;
  margin: 0;
}

.main{
  display: flex;
  width: 640px;
  margin: 0 auto;
  padding: 0 0 120px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.pandamarket{
  padding: 80px 0;
  width: 396px;
  height: 132px;
  align-items: center;
  cursor: pointer;
}

.login{
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

label{
  font-size: 18px;
  font-weight: 700;
  color: #1F2937;
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
}

input{
  width: 592px;
  border-radius: 12px;
  padding: 16px 24px;
  gap: 10px;
  background-color: #F3F4F6;
  border: 0;
  cursor: pointer;
}

input:focus{
  border-color: #3692FF;
  cursor: pointer;
}

.password{
  position: relative;
}

.visibility{
  position: absolute;
  top: 35px;
  right: 16px;
  bottom: 16px;
  cursor: pointer;
}

.log-in{
  display: flex;
  width: 640px;
  height: 56px;
  border-radius: 40px;
  padding: 16px 124px;
  color: white;
  background-color: #9CA3AF;
  justify-content: center;
  border: 0;
  cursor: pointer;
}

.simple{
  display: flex;
  width: 640px;
  height: 74px;
  background-color: #E6F2FF;
  border-radius: 8px;
}

.simple-login{
  height: 24px;
  margin-top: 25px;
  margin-left: 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1F2937;
}

.icon{
  display: flex;
  width: 100px;
  height: 42px;
  margin-top: 16px;
  margin-left: 393px;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.first{
  font-weight: 500;
  font-size: 15px;
}

.panda-first a{
  color: #3182F6;
  cursor: pointer;
}

.error {
  height: 18px;
  color: #F72727;
  background-color: #FCFCFC;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.9px;
  text-align: left;
  margin-top: 1px;
}

.inactive {
  pointer-events: none;
}

.fail {
  border-style: 1px solid #F72727;
}

.fail:not(:focus) {
  border: 1px solid #F72727;
  outline: none;
}