:root{
    
    font-size: 62.5%; /* 10px 기준 */

    
    /* color */
    --maincolor : #1f2937;
    --coolgrey: #f3f4f6;
    --darkgrey:#9ca3af;
    --skyblue:#3182F6;
    --white:white;
    --whiteblue:#E6F2FF;
    --blue: #3692FF;

    box-sizing: border-box;
font-family: Pretendard, sans-serif;

}

@media screen and (743px <width<1200px){

    body{
      margin-top: 4.8rem;
    }
        
    img {
        margin:auto;
        display: block;
    }
    .pandalogo{
        width: 39.6rem; 
        height: 13.2rem;
        margin:auto;
        display: block;
    }
    
    form {
        margin: 4rem auto;
        width: 64rem;
        
      }
      ----------------------------------------여기까지함
      
      label {
        color: var(--maincolor);
        display: block;
        margin: 1rem 0 ;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.3425rem;
      }
      
      input {
        border: none;
        background-color: var(--coolgrey);
        border-radius: 12px;
        color: var(--maincolor);
        display: block;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        margin: 1rem 0;
        padding: 1rem 1.5rem;
        width: 100%;
      }
      input:focus{
        outline: 1px solid var(--blue);
      }
      
      
    
      .button {
        background: var(--darkgrey);
        border: none;
        color: var(--white);
        display: block;
        font-size: 1.25rem;
        font-weight: 600;
        margin: 1.5rem 0;
        padding: 1rem;
        width: 100%;
        border-radius: 40px;
      }
      #password_box{
        position: relative;
     
      }
    
      .eyes, .open_eyes{
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        right: 1.5rem;
        top:1rem;
        bottom: 1rem;
      
    }
    
    #simplelogin{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--whiteblue);
        width: 40rem;
        height: 4.625rem;
        border-radius: 8px;
        margin: 1.5rem 0;
    
    }
    #link_img{
        display: flex;
        gap: 1rem;
        margin-right: 1.4375rem;
    }
    
    .sim_text{
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        color:var(--maincolor);
        margin-left: 1.4375rem;
    }
    .signup{
        text-align: center;
        font-size: 0.9375rem;
        font-weight: 500;
        line-height: 1.11875rem;
        color: var(--maincolor);
    }
    #sign{
        color:var(--skyblue);
    }
    
    .hide {
      display: none;
      }
    
      .invalid {
        border: 1px solid #f74747;
      }
    
      #error_email, #error_pass{
        color: #f74747;
        font-size: 15px;
        line-height: 17.9px;
        font-weight: 600;
        position: relative;
      }
    
    
    
    
    
      .modal {
        /*팝업 배경*/
          display: none; /*평소에는 보이지 않도록*/
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            background: rgba(0,0,0,0.7);
        }
        .modal .modal_popup {
          /*팝업*/
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              padding: 20px;
              background: #ffffff;
              border-radius: 20px;
            
              
          }
          .modal .modal_popup .close_btn {
            display: block;
            padding: 10px 20px;
            border: none;
            border-radius: 8px;
            color: #fff;
            cursor: pointer;
            transition: box-shadow 0.2s;
        }
        .close_btn{
          width: 120px;
          height: 48px;
          background: #3692FF;
          position: absolute;
          bottom: 28px;
          right: 28px;
        }
        .modal_popup{
          display: flex;
          justify-content:center;
          align-items:center;     
          width: 540px;
          height: 250px;
        }
        .mdFont{
          font-size: 1rem;
          font-weight: 500;
          line-height: 19.9px;
        }




}