.best_container {
  margin: 50px 0;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.best_wrapper {
  background-color: #f9fafb;
  padding: 0 30px;
  border-radius: 10px;
  flex: 1;
}

.title_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.title_img h3 {
  padding: 0 10px 0 10px;
}
.user_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.user_stats {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4b5563;
}

.create_at {
  color: #9ca3af;
}
