.container {
  position: relative;
}

.optionList {
  position: absolute;
  top: 100%;
  width: 13.9rem;
  height: 9.2rem;
  right: 0;
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
  border: 0.1rem solid var(--color-gray-200);
  background-color: white;
  margin-top: 0.7rem;
  z-index: 1;
}

.option {
  height: 4.2rem;
  background-color: transparent;
  color: var(--color-gray-500);
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  padding: 1.3rem 1.2rem;
  cursor: pointer;
}
