@import url(reset.css);
@import url(color.css);

html,
body {
  font-family: Pretendard;
  color: var(--color-gray-800);
}

.container {
  width: 100%;
  max-width: 120rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  gap: 2.4rem;
  margin-top: 10rem;
}

@media (max-width: 1199px) and (min-width: 744px) {
  .container {
    max-width: 69.6rem;
  }
}

@media (max-width: 743px) {
  .container {
    max-width: 34.3rem;
  }
}
