.main {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	padding: 18px 0;
	height: auto;
	background-color: white;

	@media (max-width: 1200px) {
		padding: 15px;
	}

	@media (max-width: 744px) {
		padding: 10px;
	}

	& h2 {
		font-size: var(--text-xl);
		margin: var(--text-xl) 0;
		font-weight: 700;
	}

	& .bestArticles {
		list-style-type: none;
		margin: 0;
		padding: 0;
		gap: 16px;
		display: flex;
		justify-content: space-between;

		& li {
			padding: 0 24px 12px;
			background-color: var(--secondary-color-gray50);

			& .bestImageWrapper {
				position: relative;
				width: 102px;
				height: 30px;
			}

			& .titleWrapper {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 10px;
			}

			& .title {
				flex-shrink: 1;
				font-size: var(--text-xl);
				font-weight: 600;
			}

			& .imageWrapper {
				flex-shrink: 0;
				position: relative;
				width: 72px;
				height: 72px;
			}

			& .infos {
				display: flex;
				font-size: var(--text-md);
				justify-content: space-between;
				align-items: center;
			}
		}
	}

	& .sub {
		flex-grow: 1;
		margin: 0 12.5rem;

		@media (max-width: 1200px) {
			margin: 0 auto;
		}
	}

	& .articles {
		list-style-type: none;
		margin: 0;
		padding: 0;
		gap: 16px;

		& li {
			padding: 24px 0;
			border-bottom: 1px solid var(--secondary-color-gray200);
		}
		& .titleWrapper {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			& .title {
				flex-shrink: 1;
				font-size: var(--text-xl);
				font-weight: 600;
			}

			& .imageWrapper {
				flex-shrink: 0;
				position: relative;
				width: 72px;
				height: 72px;
			}
		}
		& .infos {
			display: flex;
			justify-content: space-between;
			align-items: center;

			& .authorAndDate {
				font-size: var(--text-md);
				display: flex;
				justify-content: flex-start;
				gap: 10px;
				align-items: center;

				& .profile {
					position: relative;
					display: inline-block;
					width: 24px;
					height: 24px;
				}
			}
		}
	}
}

.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: var(--text-xl) 0;
	gap: 16px;

	& .inputWrapper {
		position: relative;
		height: 32px;
		flex-grow: 1;

		& .input {
			position: absolute;
			inset: 0;
			padding-left: 32px;
		}

		& .searchIconContainer {
			position: absolute;
			left: 6px;
			top: 6px;
			bottom: 6px;
			width: 20px;
		}
	}

	& .sort {
		height: 32px;
	}
}

.a_button {
	text-decoration: none;
	display: inline-block;
	font-size: var(--text-lg);
	background-color: var(--primary-color-100);
	color: var(--secondary-color-gray100);
	font-weight: 600;
	display: flex;
	justify-content: center;
}

.main .a_button {
	padding: 10px 23px;
	border-radius: 8px;
}

.section {
	margin: 0 -12.5rem;
	padding: 5rem 12.5rem;
	justify-content: center;
	align-items: center;
	height: auto;
	background-color: white;
}
