.menu {
    position: relative;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 13rem;
    height: 4.2rem;

    padding: 1.2rem 2rem;
    border-radius: 1.2rem;
    border: 0.1rem solid #E5E7EB;

    color: #1F2937;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;

    background-color: white;
}

.selected {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    z-index: 2;
    gap: 1rem;
}

.options {
    position: absolute;
    top: 120%;

    width: 100%;

    padding: 1.2rem 2rem;

    border-radius: 1.2rem;
    border: 0.1rem solid #E5E7EB;

    cursor: pointer;
    z-index: 1;

    background-color: white;

}

.option {
    color: #1F2937;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    text-align: center;

    cursor: pointer;
}

.option+.option {
    border-top: 0.1rem solid #E5E7EB;
}

.mobile {
    display: none;
}

@media (max-width: 743px) {
    .menu {
        width: 20%;
    }

    .selected {
        display: none;
    }

    .icon {
        display: none;
    }

    .mobile {
        display: block;
    }
}