#modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 540px;
  height: 250px;
  border-radius: 8px;
  box-sizing: border-box;
}

#modal-message {
  margin-top: 108px;
  color: var(--secondary-800);
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

#modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 28px 28px auto;
  border: 0;
  border-radius: 8px;
  background-color: var(--primary-100);
  color: #ffffff;
  width: 120px;
  height: 48px;
  padding: 12px 23px;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  cursor: pointer;
  gap: 10px;
}

@media (max-width: 743px) and (min-width: 375px) {
  .modal-content {
    width: 327px;
    height: 220px;
  }

  #modal-message {
    margin-top: 81px;
  }

  #modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
  }
}