*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: pretendard;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 0.1rem solid #dfdfdf;
  position: sticky;
  top: 0;
  height: 7rem;
  padding: 0 20rem;
  gap: 3.2rem;
}

.navbar {
  display: flex;
  flex-grow: 1;
}

.navbar_menu {
  list-style: none;
  display: flex;
}

.navbar_menu_li{
  display: flex;
  justify-content: center;
  width: 10.9rem;
  color: var(--secondary-600);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.148rem;
  text-decoration: none;
}

.login_button {
  cursor: pointer;
  padding: 1.2rem 2.3rem;
  border-radius: 0.8rem;
  border: 0;
  background-color: var(--primary-100);
  color: #ffffff;
  font-weight: 600;
  gap: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.home_top {
  display: flex;
  justify-content: center;
  background-color: #cfe5ff;
  width: 100%;
  height: 54rem;
  overflow: hidden;
}

.home_top_items {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 3.2rem;
  margin-right: -1.6rem;
  text-wrap: nowrap;
}

.home_top_items_h1 {
  color: var(--secondary-700);
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  align-self: start;
}

.items_button {
  cursor: pointer;
  height: 5.6rem;
  border: 0;
  border-radius: 4rem;
  background-color: var(--primary-100);
  padding: 1.6rem 12.4rem;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  gap: 1rem;
}

.home_top_img {
  align-self: flex-end;
  width: 996px;
  height: 447px;
}

.home_middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home_mid_hot-item {
  display: flex;
  justify-content: start;
  gap: 6.4rem;
  margin: 13.8rem 24.5rem 13.8rem 0;
}

.home_mid_search {
  display: flex;
  justify-content: flex-end;
  gap: 6.4rem;
  margin: 13.8rem 0 13.8rem 23.1rem;
}

.home_mid_register {
  display: flex;
  gap: 6.4rem;
  margin: 13.8rem 17.8rem 13.8rem 0;
}

.home_mid_hot-item_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.home_mid_search_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  gap: 1.2rem;
}

.home_mid_register_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.home_middle h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.52rem;
  color: var(--primary-100);
}

.home_middle h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.6rem;
  letter-spacing: 0.08rem;
  color: var(--secondary-700);
}

.home_middle h2 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.88rem;
  letter-spacing: 0.192rem;
  color: var(--secondary-700);
}

.home_middle img {
  width: 588px;
  height: 444px;
  border-radius: 1.2rem;
  overflow: hidden;
}

.home_mid_bot_margin {
  display: flex;
  background-color: #fcfcfc;
  width: 100%;
  height: 13.8rem;
}

.home_bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #cfe5ff;
  width: 100%;
  height: 54rem;
  overflow: hidden;
}

.home_bottom_article {
  display: flex;
  gap: 4.6rem;
  margin: 0 0 0 6.85rem;
  text-wrap: nowrap;
}

.home_bottom_article h1 {
  align-self: center;
  color: #374151;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
}

.home_bottom_img {
  align-self: flex-end;
  width: 996px;
  height: 540px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-900);
  height: 16rem;
  padding: 3.2rem 20rem 10.8rem 20rem;
  gap: 1rem;
}

#footer_codeit {
  color: var(--secondary-400);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.909rem;
}

#footer_menu {
  display: flex;
  gap: 3rem;
}

#footer_menu a {
  text-decoration: none;
  color: var(--secondary-200);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.909rem;
}

#footer_social-media {
  display: flex;
  text-decoration: none;
  gap: 1.2rem;
}