/* * @format

#nav {
  justify-content: space-between;
  width: 1920px;
  height: 70px;
  background-color: white;
  display: flex;
  margin: 0 200px;
  gap: 10px;
  z-index: 1;
} */

/* .adjustImageC {
}

.button {
} */
