@charset "UTF-8";
@import url(./color.css);

html {
  font-family: Pretendard;
}

body {
  margin: 0 auto;
  background-color: #fcfcfc; /*color pallet에 없어서 임의로 추가*/
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: white;
  padding: 0 400px;
  border: 1px solid #dfdfdf; /*color pallet에 없어서 임의로 추가*/
}

.container {
  width: 1220px;
  margin: 0 400px;
}

.logoMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 21px;
}

#logo {
  width: 153px;
  height: 52px;
}

.menu {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-gray-600);
}

.profile {
  display: flex;
  gap: 6px;
  align-items: center;
}

#profileImg {
  width: 40px;
  height: 40px;
}

#profileName {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-gray-600);
}

.productsTool {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.productsTool #searchAndSort {
  display: flex;
  gap: 10px;
}

.searchBar {
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 10px;
  width: 305px;
  height: 42px;
  border-radius: 12px;
  background-color: var(--color-gray-100);
}

#search-input {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;

  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-gray-400);
  }

  &:focus {
    border-color: none;
    outline: none;
  }
}

#addProduct {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-gray-100);
  width: 133px;
  height: 42px;
  border-radius: 8px;
  background-color: var(--color-primary-100);
}

.selectContainer {
  width: 130px;
  height: 42px;
}

select {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 1px solid var(--color-gray-200);
  font-size: 16px;
  color: var(--color-gray-800);
  padding-left: 12px;
}

.select option {
  border-radius: 12px;
  border: 1px solid var(--color-gray-200);
  font-size: 16px;
  color: var(--color-gray-800);
  background-color: white;
}

.bestImg {
  width: 282px;
  height: 282px;
  border-radius: 16px;
}

.productImg {
  width: 221px;
  height: 221px;
  border-radius: 16px;
}

.header {
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0;
}
.name {
  font-size: 14px;
  font-weight: 500;
}

.price {
  font-size: 16px;
  font-weight: 700;
}

.like {
  font-size: 12px;
  font-weight: 500;
}

.bestProductsListing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.productsListing {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.bestProductsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 378px;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 317px;
  width: 220px;
  margin: 16px 0;
}

.pageButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 40px;
  margin-bottom: 120px;
}

.arrowButton {
  cursor: pointer;
}

.pageButton {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-gray-500);
  background-color: white;
  border: 1px solid var(--color-gray-200);
  border-radius: 40px;
  padding: 12.5px 12.5px;

  &.active {
    color: var(--color-gray-50);
    background-color: #2f80ed;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 125px;
  background-color: var(--color-gray-900);
  padding: 35px 400px;
}

#copyright {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray-400);
}

.externalPageContainer {
  display: flex;
  gap: 30px;
}

.externalPage {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray-200);
  text-decoration: none;
}

.snsContainer {
  display: flex;
  gap: 12px;
}

.snsLogo {
  cursor: pointer;
}

@media (min-width: 744px) and (max-width: 1199px) {
  nav {
    padding: 0 30px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
  }

  .bestImg {
    width: 100%;
    height: 100%;
    border-radius: 19.46px;
  }

  .productImg {
    width: 100%;
    height: 100%;
    border-radius: 19.46px;
  }

  .productsListing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  .productsContainer {
    width: 100%;
    gap: 10px;
  }

  .bestProductsListing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .bestProductsContainer {
    height: 100%;
    gap: 10px;
  }

  footer {
    padding: 35px 30px;
  }
}
@media (min-width: 375px) and (max-width: 743px) {
  nav {
    padding: 0 30px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .productsListing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .bestProductsListing {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  footer {
    padding: 35px 30px;
  }
}
