/* Mobile styles */

:root {
  /* Gray scale */
  --gray-900: #1b1d1f;
  --gray-800: #26282b;
  --gray-700: #4b5563;
  --gray-600: #454c53;
  --gray-500: #72787f;
  --gray-400: #9ea4a8;
  --gray-200: #e5e7eb;
  --gray-100: #e8ebed;
  --gray-50: #f7f7f8;

  /* Primary color */
  --blue: #3692ff;

  /* Layout dimensions */
  --header-height: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

body {
  color: #374151;
  word-break: keep-all;
  font-family: "Pretendard", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  z-index: 1000000;
}
.headerNav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerNav img {
  content: url("../../imgFile/판다마켓글씨로고.png");
}
.headerNav button {
  padding: 21px 15px;
  gap: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: var(--gray-700);
}

header:nth-child(3) {
  margin-right: 0; /* 세 번째 요소 다음에는 간격을 없앱니다 */
  margin-left: auto; /* 네 번째 요소를 오른쪽 끝으로 밀어냅니다 */
}
.headerNav button .InPage{
  color: #369bff;
}
.with-header {
  margin-top: var(--header-height);
}

footer {
  background-color: #111827;
  color: #9ca3af;
  font-size: 16px;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
  gap: 60px;
}

#copyright {
  order: 3;
  flex-basis: 100%;
}

#footerMenu {
  display: flex;
  gap: 30px;
  color: var(--gray-200);
}

#socialMedia {
  display: flex;
  gap: 12px;
}

.wrapper {
  width: 100%;
  padding: 0 16px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
}

.button {
  background-color: var(--blue);
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #1967d6;
}

.button:focus {
  background-color: #1251aa;
}

.button:disabled {
  background-color: #9ca3af;
  cursor: default;
  pointer-events: none;
}

.pill-button {
  font-size: 16px;
  font-weight: 600;
  border-radius: 999px;
  padding: 14.5px 33.5px;
}

.full-width {
  width: 100%;
}

.break-on-desktop {
  display: none;
}

/* Tablet styles (너비 768px 이상의 화면) */

@media (min-width: 768px) {
  header {
    padding: 0 24px;
  }
  .headerNav img {
    content: url("../images/logo/logo.svg");
  }

  .wrapper {
    padding: 0 24px;
  }

  .pill-button {
    font-size: 20px;
    font-weight: 700;
    padding: 16px 126px;
  }

  footer {
    padding: 32px 104px 108px 104px;
  }

  #copyright {
    flex-basis: auto;
    order: 0;
  }
}

@media (min-width: 1280px) {
  header {
    padding: 0 200px;
  }
  .headerNav img {
    content: url("../images/logo/logo.svg");
  }

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  .break-on-desktop {
    display: inline;
  }

  footer {
    padding: 32px 200px 108px 200px;
  }
}
