body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 54rem;
  height: 25rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  border: 0.1rem solid #888;

  text-align: center;
  box-shadow: 0px 4px 16px rgba(108, 57, 57, 0.2);
  border-radius: 8px;

  @media (max-width: 743px) {
    width: 32.7rem;
    height: 22rem;
  }
}

p {
  margin-top: 10.8rem;

  color: var(--gray-800);
  text-align: center;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media (max-width: 743px) {
    margin-top: 8.1rem;
  }
}

.confirm-button {
  width: 12rem;
  height: 4.8rem;
  padding: 1.2rem 2.3rem;
  border: none;
  border-radius: 5px;

  position: absolute;
  right: 2.8rem;
  bottom: 2.8rem;

  background-color: var(--blue);
  color: white;

  cursor: pointer;
  font-size: 1.6rem;

  @media (max-width: 743px) {
    position: absolute;
    left: 50%;
    bottom: 2.3rem;
    transform: translateX(-50%);
  }
}

.confirm-button:hover,
.confirm-button:focus {
  background-color: var(--blue);
}
