.detail {
  margin-top: 24px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.product_detail {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.sale_info {
  width: 100%;
}

.sales_info_header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product_name {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #1f2937;
}

.product_price {
  font-weight: 600;
  font-size: 40px;
  line-height: 47.73px;
  color: #1f2937;
}

.br {
  margin-top: 16px;
  border: 0.5px solid #e5e7eb;
  margin-bottom: 16px;
  width: 100%;
}

.more_info {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product_produce {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #4b5563;
}

.product_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #4b5563;
}

.tags {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.product_tags {
  display: flex;
  gap: 8px;
}

.tag {
  display: flex;
  gap: 8px;
  height: 36px;
  border-radius: 26px;
  padding: 6px 16px;
  box-sizing: border-box;
  background-color: #f3f4f6;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #1f2937;
}

.profile {
  margin-top: 62px;
  display: flex;
  justify-content: space-between;
}

.owner_info {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.profile_img {
  width: 40px;
  height: 40px;
}

.no_profile_img {
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.panda {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #4b5563;
}

.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9ca3af;
}

.heart_info {
  display: flex;
  gap: 24px;
}

.divider {
  display: flex;
  height: 40px;
  border-radius: 35px;
  padding: 4px 12px;
  border: 1px solid #e5e7eb;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.favorite {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #6b7280;
}

.br_two {
  width: 1200px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0.5px solid #e5e7eb;
}

.comment {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.new_comment_wrapper {
  display: flex;
  flex-direction: column;
}

.contact_text {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #111827;
}

.contact_input {
  width: 100%;
  height: 104px;
  border-radius: 12px;
  padding: 16px 24px;
  background-color: #f3f4f6;
  border: none;
  resize: none;
  margin-top: 9px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.contact_input::placeholder {
  color: #9ca3af;
}

.button_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.register_button {
  height: 42px;
  border-radius: 8px;
  padding: 12px 23px;
  background-color: #9ca3af;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #f3f4f6;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}
