.bestProduct {
    width: 28.2rem;
    height: 37.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productImg {
    width: 100%;
    height: 28.2rem;
    border-radius: 1.6rem;
}

.productInfo {
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productTitle {
    height: 2.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    text-align: left;
}

.productPrice {
    height: 2.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.6rem;
    text-align: left;
}

.favoriteCount {
    height: 1.8rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: left;
    display: flex;
    align-items: center;
}

.favoriteImg {
    width: 1.34rem;
    height: 1.165rem;
    margin-right: 0.4rem;
}

@media(max-width: 1199px) {
    .bestProduct {
        width: 34.3rem;
        height: 43.4rem;
    }

    .productImg {
        height: 34.3rem;
        border-radius: 1.946rem;
    }

    .productInfo {
        width: 100%;
        height: 8.1rem;
    }
}