ul.best-items {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

ul.best-items>li {
	width: 24%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

ul.best-items>li img {
	aspect-ratio: 1 / 1;
}
