ul.items {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

ul.items>li {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

ul.items.best>li {
	width: 24%;
}

ul.items.normal>li {
	width: 19%;
}

ul.items>li img {
	aspect-ratio: 1 / 1;
}
