* {
  box-sizing: border-box;
}

img {
  box-sizing: content-box;
  max-width: 100%;
}

@media (max-width:1200px) {

  html,
  body {
    font-size: 14px;
  }

  main a.button {
    padding: 12px 80px;
  }

  section.sec-top,
  section.sec-bottom {
    height: unset;
  }

  .img-home-top,
  .img-home-bottom {
    width: unset;
  }

  .img-home-middle {
    height: auto;
  }

  .sec-top .description,
  .sec-bottom .description,
  .sec-bottom h2 {
    height: unset;
    padding: var(--text-4xl) 0;
  }

  header .sub,
  footer .sub {
    margin: 0 24px;
  }

  .sub {
    margin: 0 auto;
  }

  section {
    flex-direction: column;
    margin: 0 auto;
    padding: 0 24px;
  }

  .sec-bottom-divider {
    margin: 0;
  }
}

@media (max-width:744px) {

  html,
  body {
    font-size: 12px;
  }

  main a.button {
    padding: 12px;
    max-width: 75%;
  }

  header img.logo {
    height: 27px;
  }

  header .sub,
  footer .sub {
    margin: 0 16px;
  }

  header nav ul li {
    padding: .2em .2em;
    font-size: var(--text-2lg);
    font-weight: 700;
  }

  header a.button {
    padding: 11px 7px;
  }

  .sub {
    margin: 0 auto;
  }

  section {
    margin: 0 auto;
    padding: 0 16px;
  }

  section.sec-top,
  section.sec-bottom {
    background-position: bottom 0 center;
  }

  footer .sub-footer {
    display: grid;
    grid-template: repeat(2, auto) / 1fr auto;
    grid-template-areas:
      "privacyFAQ SNS"
      "codeit SNS";
    gap: 13px;
  }

  footer .codeit-2024 {
    grid-area: codeit;
  }

  footer .privacy-policy-and-FAQ {
    grid-area: privacyFAQ;
    gap: 15px;
  }

  footer .sns-icons {
    grid-area: SNS;
  }
}