.wrapper {
  max-width: 1200px;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-200);
}

.mains {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.subs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.names {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.4rem;
  color: var(--gray-400);
}

.favorites {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.6rem;
}
