.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  color: var(--gray-400);
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--gray-200);
  background-color: var(--gray-50);
}

.commentContent {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

.profile {
  display: flex;
  gap: 8px;
}

.profile_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1.2rem;
}

.date {
  color: var(--gray-400);
}
