.FooterBox {
    box-sizing: border-box;
    padding: 32px 200px 32px 200px;
    width: 100%;
    height: 160px;
    background-color: #111827;
  }
  .FooterMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
  }
  .FooterCodeit {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
    color: #9ca3af;
  }
  .FooterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
  }
  .FooterSocialImg {
    display: flex;
    gap: 12px;
  }
  
  @media (max-width: 1199px) {
    .FooterBox {
      padding: 32px 24px;
    }
  }
  
  @media (max-width: 743px) {
    .FooterBox {
      padding: 32px 16px;
      margin: 0 16px;
    }
    .FooterMenu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 25px 68px;
    }
    .FooterCodeit {
      grid-row: 2;
      margin: 0;
    }
    .FooterCenter {
      margin: 0;
    }
    .FooterCenter p {
      margin: 0;
      white-space: nowrap;
    }
    .FooterSocialImg {
      margin: 0;
    }
  }
  