.wrapper {
  position: relative;
}

.kebabIcon {
  cursor: pointer;
}

.menu {
  position: absolute;
  background-color: #ffffff;
  border: 0.1rem solid var(--gray-300);
  border-radius: 0.8rem;
  z-index: 99;
  right: 0.5rem;
  padding: 0;
}

.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.9rem;
  height: 4.6rem;
  font-size: 1.6rem;
  color: var(--gray-500);
  border-bottom: 1px solid var(--gray-300);
  cursor: pointer;
}

.menu li:last-child {
  border-bottom: none;
}

.menu li:hover {
  background-color: var(--gray-200);
}

.edit {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.delete {
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
