.modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;

  .modalWrapper {
    width: 540px;
    height: 250px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-200);
    border-radius: 16px;
    padding: 24px;

    @media (max-width: 744px) {
      max-width: 496px;
      width: 100%;
      margin: 24px;
    }

    .modalContents {
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: center;
      font-size: 1.6rem;
      font-weight: 500;

      @media (max-width: 744px) {
        max-width: 448px;
        width: 100%;
      }
    }
  }
}
