.withHeader {
  padding-top: 7rem;      /* margin-top 으로 했더니 ProductMain과 Footer가 겹침 padding으로 해야 */
}

.content {
  max-width: 120rem;
  width: 100%;
  min-width: 37.1rem;
  padding: 2.4rem auto 5rem;
  margin: 2.4rem auto;
}

/* Tablet 사이즈 */
@media (max-width: 1199px) and (min-width: 744px) {
  .content {
    width: calc(100% - 10.4rem);
    margin: 2.4rem auto 2rem;
  }
}

/* Mobile 사이즈 */
@media (max-width: 743px) {
  .content {
    width: calc(100% - 3.2rem);
    margin: 2.4rem auto 2rem;
  }
}