.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 120rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.header h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-align: left;
  color: var(--secondary-black-100);
}

.header button {
  width: 7.4rem;
  height: 4.2rem;
  padding: 1.2rem 2.3rem;
  gap: 1rem;
  border-radius: 0.8rem;
  background-color: var(--secondary-gray-300);
  border: none;
  font-weight: 600;
  line-height: 2.3rem;
  text-align: left;
  color: var(--secondary-gray);
}

.section,
.footer {
  width: 120rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section h2,
.footer h2 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-align: left;
  color: var(--secondary-black-100);
}

.section input {
  height: 5.6rem;
  padding: 1.6rem 2.4rem;
  gap: 1rem;
  border-radius: 1.2rem;
  border: none;
  background-color: var(--secondary-gray-700);
  font-weight: 400;
  line-height: 2.6rem;
  text-align: left;
}

.section input::placeholder {
  color: var(--secondary-gray-300);
}

.footer textarea {
  width: 120rem;
  height: 28.2rem;
  padding: 1.6rem 2.4rem;
  gap: 1rem;
  border-radius: 1.2rem;
  border: none;
  background-color: var(--secondary-gray-700);
  margin-bottom: 30rem;
  font-weight: 400;
  line-height: 2.6rem;
  text-align: left;
}

.footer textarea::placeholder {
  color: var(--secondary-gray-300);
}
