.form {
  width: 120rem;
  margin-bottom: 2rem;
}

.label {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.searchImg {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  right: 116rem;
  top: 1rem;
}

.search {
  width: 105.4rem;
  height: 4.2rem;
  padding: 0.9rem 2rem 0.9rem 1.6rem;
  gap: 1rem;
  border-radius: 1.2rem;
  background-color: var(--secondary-gray);
  border: none;
}

.search::placeholder {
  font-weight: 400;
  line-height: 2.6rem;
  text-align: left;
  color: var(--secondary-gray-300);
  position: absolute;
  left: 4rem;
}
