.footer_container {
  font-size: 20px;
  background-color: #111827;
  padding: 50px 0 100px 0;
  bottom: 0;
  width: 100%;
  color: white;
}

.footer_content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.copyright {
  color: #9ca3af;
  margin-left: 200px;
}

.footerlink {
  display: flex;
  gap: 20px;
}

.snsicon {
  margin-right: 200px;
  display: flex;
  gap: 10px;
}
.footerlink a {
  color: #e5e7eb;
  text-decoration: none;
}
