.subTop {
	width: 100%;
	display: grid;
	grid-template-columns: 49% 49%;
	gap: 2%;
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid var(--gray-800);

	@media (max-width: 744px) {
		grid-template-columns: 100%;
	}
}

.sub {
	width: 100%;
}

.imageContainer {
	display: inline-block;
	width: 100%;
	flex-grow: 1;

	@media (max-width: 744px) {
		width: 100%;
	}

	& img {
		inset: 0;
		width: 100%;
		height: auto;
	}
}

.info {
	display: inline-block;
	width: 100%;
	flex-grow: 1;

	@media (max-width: 744px) {
		width: 100%;
	}

	& h2 {
		font-size: var(--24px);
		font-weight: 600;
	}

	& .price {
		font-size: var(--40px);
		font-weight: 600;
	}

	& h3 {
		font-size: var(--16px);
		font-weight: 600;
		margin: 1em 0 .5em;
	}

	.description {
		font-size: var(--16px);
		font-weight: 400;
	}

	.tag {
		background-color: var(--gray-800);
		margin-right: .5em;
		padding: var(--6px) var(--16px);
		border-radius: 100px;
		line-height: 2;
	}

	.ownerAndLikes {
		margin-top: 1em;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& img {
			width: var(--40px);
			height: var(--40px);
		}

		& .owner {
			display: flex;
			gap: var(--14px);

			& .nickname {
				font-size: var(--14px);
				font-weight: 500;
			}

			& .date {
				font-size: var(--14px);
				font-weight: 400;
				color: var(--gray-700);
			}
		}
	}

	& .likes {
		& img {
			width: 27px;
			height: 23px;
		}
	}
}

.head {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 16px;

	& input {
		width: 100%;
		height: 80px;
		padding: 1em;
		background-color: var(--gray-800);
	}
}

.kebabContainer {
	position: relative;
	width: 24px;
	height: 24px;

	& .menu {
		position: absolute;
		top: 24px;
		right: 12px;
		width: 130px;
		height: 92px;

		& button {
			border: 1px solid var(--secondary-color-gray200);
			background-color: white;
			z-index: 100;
		}

		& button:first-child {
			border-bottom: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 46px;
			border-radius: 8px 8px 0 0;
		}

		& button:last-child {
			border-top: 0;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 46px;
			border-radius: 0 0 8px 8px;
		}
	}
}

.profileAndLikes {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 10px;
}

.authorAndDate {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 40px;
	padding-right: 20px;
	gap: 8px;
	border-right: 1px solid var(--secondary-color-gray200);

	& .profileContainer {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 40px;
	}

	& .author {
		font-size: var(--text-md)
	}

	& .date {
		font-size: var(--text-md);
		color: var(--secondary-color-gray400);
	}
}

.likes {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: max-content;
	margin-left: 20px;
	gap: 8px;
	height: 40px;
	padding: 4px 12px 4px 12px;
	border-radius: 20px;
	border: 1px solid var(--secondary-color-gray200);

	& .heartContainer {
		position: relative;
		left: 0;
		width: 32px;
		height: 32px;
	}
}

.content {
	font-size: var(--text-2lg);
	padding: var(--text-2lg) 0;
	border-top: 1px solid var(--secondary-color-gray200);
}

.sub {
	& .comments {
		& .center {
			text-align: center;
			font-size: var(--text-lg);
			color: var(--secondary-color-gray400);

			& .imgReplyEmptyContainer {
				position: relative;
				width: 140px;
				height: 140px;
				margin: 24px auto;
			}
		}
	}
}

.sub {
	& .comment {
		width: 100%;
		height: 104px;
		resize: none;
		background-color: var(--secondary-color-gray100);
		border: 0;
		padding: 1em;
		border-radius: 12px;
	}

	& .a_button {
		text-decoration: none;
		font-size: var(--text-lg);
		background-color: var(--primary-color-100);
		color: var(--secondary-color-gray100);
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 0;
		margin: 8px 0;
		float: right;
		padding: 6px 16px;
		border-radius: 8px;
	}

	& .a_button:disabled {
		background-color: var(--gray-800);
	}
}

.cBoth.noFloat {
	float: none;
	clear: both;
}

.sub .comments {
	& ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		& li {
			padding: 32px 0 16px;
			border-bottom: 1px solid var(--secondary-color-gray200);
		}

		& .commentContent {
			font-size: var(--text-md);
			font-weight: 400;
		}

		& .editButton {
			text-decoration: none;
			font-size: var(--text-lg);
			background-color: var(--primary-color-100);
			color: var(--secondary-color-gray100);
			font-weight: 600;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 0;
			margin: 8px 0;
			float: right;
			padding: 6px 16px;
			border-radius: 8px;
		}

		& .cancelButton {
			text-decoration: none;
			font-size: var(--text-lg);
			background-color: var(--gray-800);
			color: var(--secondary-color-gray100);
			font-weight: 600;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 0;
			margin: 8px 10px;
			float: right;
			padding: 6px 16px;
			border-radius: 8px;
		}

		& .profileAndNicknameAndTime {
			display: flex;
			justify-content: flex-start;
			gap: 8px;
			align-items: flex-start;

			& .profileContainer {
				position: relative;
				width: 32px;
				height: 32px;
			}

			& .nicknameAndTime {
				display: flex;
				flex-direction: column;
				gap: 0;
				align-items: flex-start;
				font-size: var(--text-xs);

				& .nickname {
					color: var(--secondary-color-gray600);
				}

				& .time {
					color: var(--secondary-color-gray400);
				}
			}
		}
	}
}

.sub {
	& .backToBoards {
		text-decoration: none;
		font-size: var(--text-2lg);
		background-color: var(--primary-color-100);
		color: var(--secondary-color-gray100);
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 0;
		margin: 64px auto;
		padding: 6px 16px;
		border-radius: 100px;

		& .imgBack {
			position: relative;
			width: 24px;
			height: 24px;
		}
	}
}

.backToItems {
	margin: 3em auto;
	display: inline-block;

	& .a_button {
		text-decoration: none;
		font-size: var(--text-lg);
		background-color: var(--primary-color-100);
		color: var(--secondary-color-gray100);
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 0;
		margin: 8px 0;
		float: right;
		padding: 6px 16px;
		border-radius: 8px;

		& img {
			width: 24px;
			height: 24px;
			vertical-align: middle;
		}
	}
}

.delModal {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10000;

	& .delModalContent {
		background-color: white;
		width: 298px;
		height: 202px;
		border-radius: 12px;
		padding: 24px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		position: relative;

		& img {
			width: 24px;
			height: 24px;
		}

		& .delModalText {
			padding-bottom: 50px;
		}

		& .delModalButton {
			display: inline-block;
			width: 88px;
			height: 48px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 8px;

			&:first-child {
				border: 1px solid var(--error-color);
				position: absolute;
				left: 50px;
				bottom: 24px;
			}

			&:last-child {
				background-color: var(--error-color);
				border: none;
				position: absolute;
				right: 50px;
				bottom: 24px;
			}
		}
	}
}