.regContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regSection {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin: 2.4rem 0 16.2rem 0;
  width: 100%;
  max-width: 120rem;
}

.regTitle,
.regName,
.regIntroduction,
.regPrice,
.regTag {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.regTitle {
  flex-direction: row;
  justify-content: space-between;
}

.regSection label {
  font-size: var(--text-2lg-18);
  line-height: 2.6rem;
  font-weight: 700;
  color: var(--secondary-color-gray800);
}

.regTitle label {
  font-size: var(--text-xl-20);
  line-height: 3.2rem;
}

.regBtn {
  width: 7.4rem;
  height: 4.2rem;
  border: none;
  border-radius: 0.8rem;
  font-family: pretendard;
  font-size: var(--text-lg-16);
  font-weight: 600;
  line-height: 2.6rem;
  color: var(--secondary-color-gray100);
  background-color: var(--primary-color-100);
}

.regBtn:disabled {
  cursor: default;
  background-color: var(--secondary-color-gray400);
}

.regSection input,
.regSection textarea {
  width: 100%;
  height: 5.6rem;
  padding: 1.5rem 2.4rem;
  border: none;
  outline: none;
  border-radius: 1.2rem;
  background-color: var(--secondary-color-gray100);
  resize: none;
  font-size: var(--text-lg-16);
  font-weight: 400;
  line-height: 2.6rem;
  color: var(--secondary-color-gray800);
}

.regIntroduction textarea {
  height: 28.2rem;
}

.regSection input::placeholder,
.regSection textarea::placeholder {
  font-size: var(--text-lg-16);
  font-weight: 400;
  line-height: 2.6rem;
  color: var(--secondary-color-gray400);
}

.error {
  color: red;
  font-size: 1.4rem;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .regContainer {
    margin: 0 2.4rem;
  }
}

@media (max-width: 743px) {
  .regContainer {
    margin: 0 1.6rem;
  }
}
