nav {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-Bottom: 0.1rem solid #DFDFDF;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
}

#logo {
    margin-left: 20rem;
    margin-right: 3.2rem;
}


#profile {
    margin-right: 20rem;
}