@media (min-width: 375px) and (max-width: 743px) {

  header {
    padding: 0 1.6rem;
    gap: 1.6rem;
  }

  .navbar_menu {
    gap: 0.8rem;
  }
  
  .navbar_menu_li{
    width: fit-content;
    font-size: 1.6rem;
    line-height: 1.909rem;
  }

  .home_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    overflow: hidden;
  }
  
  .home_top_items {
    gap: 1.6rem;
    margin: 4.8rem 0.9rem 4.9rem 0.9rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .home_top_items_h1 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.48rem;
    align-self: center;
    text-align: center;
  }
  
  .items_button {
    cursor: pointer;
    height: 5.6rem;
    border: 0;
    border-radius: 4rem;
    background-color: var(--primary-100);
    padding: 1.6rem 12.4rem;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
    gap: 1rem;
  }

  .home_top_img {
    max-width: 774px;
    height: auto;
    object-fit: cover;
    align-self: center;
  }

  .home_middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1.6rem;
  }
  
  .home_mid_hot-item, .home_mid_register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
    width: 100%;
    height: 100%;
    margin: 2.4rem 0rem;
  }
  
  .home_mid_search {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 1.6rem;
    width: 100%;
    height: 100%;
    margin: 3.2rem 0rem;
  }

  .home_mid_hot-item_text,.home_mid_search_text, .home_mid_register_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
  }

  .home_middle h3 {
    font-size: 1.6rem;
    line-height: 2.24rem;
  }
  
  .home_middle h1 {
    font-size: 2.4rem;
    line-height: 3.36rem;
    letter-spacing: 0.048rem;
  }
  
  .home_middle h2 {
    font-size: 1.6rem;
    line-height: 1.92rem;
    letter-spacing: 0.128rem;
  }
  
  .home_middle img {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
  }

  .home_mid_bot_margin {
    display: flex;
    background-color: #fffffd;
    width: 100%;
    height: 4rem;
  }
  
  .home_bottom {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: #cfe5ff;
    width: 100%;
    height: 540px;
  }

  
  .home_bottom_article {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 9rem;
  }
  
  .home_bottom_article h1 {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.48rem;
    margin: 0;
  }
  
  .home_bottom_img {
    width: 498px;
    height: 270px;
  }
  
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    padding: 3.2rem 1.6rem 6.5rem;
    row-gap: 2.4rem;
  }

  #footer_codeit {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  
  #footer_menu {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  
  #footer_social-media {
    grid-column: 2 / 3;
    grid-row: 1;
    justify-self: end;
  }
}