@import "./reset.css";

* {
  box-sizing: border-box;
}

.whole {
  margin: 0 0 30px 0;
}

.bestProduct {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.best {
  color: #111827;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  margin: 30px auto 15px;
  width: 1200px;
}

.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 100%;
}

.productList .productImg {
  width: 282px;
  height: 282px;
}

.productList .productContent {
  width: 282px;
  height: 378px;
}

/*반응형 CSS*/
@media (min-width: 744px) and (max-width: 1199px) {
  .bestProduct {
    width: 43.5rem;
  }
  .productList {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
  }
  .productList .productImg {
    width: 343px;
    height: 343px;
  }
  .best {
    width: 43.5rem;
    margin: 30px auto 15px;
  }
  .whole {
    margin: 0 0 75px 0;
  }
}

@media (max-width: 743px) {
  .bestProduct {
    width: 21.5rem;
    margin: 0 auto;
  }
  .productList {
    grid-template-columns: 1fr;
    gap: 16px;
    width: 100%;
  }
  .productList .productImg {
    width: 343px;
    height: 343px;
  }
  .best {
    width: 21.5rem;
    margin: 30px auto 15px;
  }
  .whole {
    margin: 0 0 75px 0;
  }
}
