@import "./reset.css";

* {
  box-sizing: border-box;
  font-family: pretendard;
}

.footer {
  color: #e5e7eb;
  background-color: #111827;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 160px;
  margin: 0 auto;
  padding: 40px 200px;
}

.footer div {
  display: flex;
  gap: 20px;
}

.footer a img {
  width: 24px;
  height: 24px;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.codeit {
  color: #9ca3af;
}

/* 반응형 CSS */
@media (max-width: 1199px) and (min-width: 744px) {
  .footer {
    padding: 40px 24px;
  }
}

@media (max-width: 743px) and (min-width: 375px) {
  .footer {
    padding: 40px 16px;
  }
}
