@import "./reset.css";

* {
  box-sizing: border-box;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  padding: 8px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

.navLeft {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 40px;
}

.community {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: #4b5563;
  text-decoration: none;
  margin: 0 40px 0 0;
}

.market {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: #4b5563;
  text-decoration: none;
}

.inMarket {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: #3692ff;
  text-decoration: none;
}

.loginButton {
  width: 128px;
  height: 48px;
  font-size: 1rem;
  font-weight: 600;
  color: #f3f4f6;
  background-color: #3692ff;
  padding: 12px 23px;
  border-radius: 8px;
  border-style: none;
}

/* 반응형 CSS */
@media (max-width: 1199px) and (min-width: 744px) {
  .nav {
    padding: 8px 24px;
  }
  .community {
    margin: 0 20px 0 0;
  }
  .navLeft {
    gap: 20px;
  }
  .market,
  .inMarket,
  .community {
    font-size: 1.05rem;
  }
}

@media (max-width: 743px) and (min-width: 375px) {
  .nav {
    padding: 8px 16px;
  }
  .community {
    margin: 0 10px 0 0;
  }
  .navLeft {
    gap: 10px;
  }
  .market,
  .inMarket,
  .community {
    font-size: 1rem;
  }
}
