@import "./reset.css";

* {
  box-sizing: border-box;
  font-family: pretendard;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 30px auto 70px;
  color: #6b7280;
}

.pagination button {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  color: #6b7280;
}

.pagination button.active {
  background-color: #2f80ed;
  color: white;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
