@import "./reset.css";

* {
  box-sizing: border-box;
  font-family: pretendard;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.register1 {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 35px 0 0 0;
}

.register2,
.register3,
.register4,
.register5 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register5 {
  margin: 0 0 60px 0;
}

.registerTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #1f2937;
}

.registerButton {
  width: 74px;
  height: 42px;
  border: none;
  border-radius: 8px;
  background-color: #3692ff;
  color: #f3f4f6;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
}

.registerButton:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

textarea {
  color: #9ca3af;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.itemName,
.itemDescription,
.itemPrice,
.tag {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #1f2937;
}

.itemNameInput,
.itemDescriptionInput,
.itemPriceInput,
.tagInput {
  border: none;
  border-radius: 12px;
  background-color: #f3f4f6;
  color: #9ca3af;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 1200px;
  padding: 16px 24px;
}

.itemNameInput:focus,
.itemDescriptionInput:focus,
.itemPriceInput:focus,
.tagInput:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #3692ff;
  outline: none;
  color: #1f2937;
}

.itemNameInput {
  height: 56px;
}

.itemDescriptionInput {
  height: 282px;
}

.itemDescriptionInput::placeholder {
  text-align: left;
  vertical-align: top;
}

.itemPriceInput {
  height: 56px;
}

.tagInput {
  height: 56px;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.tagChip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  height: 36px;
  border-radius: 26px;
  text-align: center;
  background-color: #f3f4f6;
  padding: 6px 12px 6px 16px;
}

.tagText {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.deleteButton {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 오류 */
input.error,
textarea.error {
  border-color: #f74747 !important;
}

.errorMessage {
  color: #f74747;
  font-weight: 600px;
  font-size: 14px;
  line-height: 24px;
  padding: 0 0 0 16px;
}

/*반응형 CSS*/
@media (min-width: 744px) and (max-width: 1199px) {
  .register1 {
    width: 696px;
  }
  .itemNameInput,
  .itemDescriptionInput,
  .itemPriceInput,
  .tagInput {
    width: 696px;
  }
  .tagList {
    width: 696px;
  }
}

@media (max-width: 743px) {
  .register1 {
    width: 344px;
  }
  .itemNameInput,
  .itemDescriptionInput,
  .itemPriceInput,
  .tagInput {
    width: 344px;
  }
  .tagList {
    width: 344px;
  }
}
