/* -----------PC------------ */

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2px;
}

.wrapper {
  max-width: 1200px;
  margin: 40px auto;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}

.subTitleMenus {
  display: flex;
  gap: 12px;
}

form {
  display: flex;
  gap: 12px;
  font-size: 1.6rem;
}

input {
  background-color: var(--gray-100);
  border-radius: 12px;
  border: none;
  padding: 9px 20px 9px 16px;
  width: 325px;
}

input::placeholder {
  color: var(--gray-400);
  background-image: url("/src/assets/search-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.formButton {
  cursor: pointer;
  width: 133px;
  height: 42px;
  border-radius: 8px;
  padding: 12px 23px;
  background-color: var(--primary-100);
  font-weight: 400;
  border: none;
  color: var(--gray-100);
}

select {
  cursor: pointer;
  width: 130px;
  height: 42px;
  border-radius: 12px;
  border: solid 1px var(--gray-200);
  padding: 12px 20px;
}

.allProductList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin:  0 0 40px 0;
}

.allProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px 0;
}

.productImage {
  width: 221px;
  height: 221px;
  border-radius: 19.46px;
}

.productInfo {
  width: 221px;
  margin: 12px 0 0 0;
}

.description {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin: 0;
}

.price {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem;
  margin: 0;
}

.favoriteCount {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin: 0;
}

.pagination {
  width: 304px;
  margin: 0 auto;
  display: flex;
  gap: 4px;
}

.pagination>button {
  width: 40px;
  height: 40px;
  border: solid 1px var(--gray-200);
  border-radius: 40px;
  background-color: #FFFFFF;
}

.pagination>button:hover, .pagination>button.active {
  cursor: pointer;
  background-color: #2F80ED;
  color: var(--gray-50);
}


/* ---------Tablet---------- */
@media (max-width: 1200px) {
  .wrapper {
    margin: 40px 10px;
  }
  
  .allProductList {
    grid-template-columns: repeat(3, 1fr);
  }

  input {
    width: 242px;
  }
}


/* -----------Mobile------------ */
@media (max-width: 744px) {
  .allProductList {
    grid-template-columns: repeat(2, 1fr);
  }

  .productImage {
    width: 168px;
    height: 168px;
  }

  .productInfo {
    width: 168px;
  }
}