* {
  box-sizing: border-box;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

html {
  background-color: #FCFCFC;
  font-family: Pretendard;
  font-size: 62.5%;
}

body {
  margin: 0;
}

:root {
  --primary-100: #3692FF;
  --primary-200: #1967D6;
  --primary-300: #1251AA;
  --gray-900: #111827;
  --gray-800: #1F2937;
  --gray-700: #374151;
  --gray-600: #4B5563;
  --gray-500: #6B7280;
  --gray-400: #9CA3AF;
  --gray-200: #E5E7EB;
  --gray-100: #F3F4F6;
  --gray-50: #F9FAFB;
  --error-red: #F74747;
}
