.BestProduct  {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.BestProduct .itemImg {
  border-radius: 1.6rem;
  width: 28.2rem;
  height: 28.2rem;
}

.SalesProduct {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.SalesProduct .itemImg {
  border-radius: 1.6rem;
  width: 22.1rem;
  height: 22.1rem;
}

.textSection {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: #1F2937;
}

.name {
font-size: 1.4rem;
font-weight: 500;
line-height: 2.4rem;
}

.price {
font-size: 1.6rem;
font-weight: 700;
line-height: 2.6rem;
}

.favoriteCount {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #4B5563;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .BestProduct .itemImg {
    border-radius: 1.946rem;
    width: 34.3rem;
    height: 34.3rem;
  }
  .textSection {
    gap: 0.6rem;
  }
}

@media (max-width: 743px) {
  .BestProduct .itemImg {
    border-radius: 1.946rem;
    width: 34.3rem;
    height: 34.3rem;
  }

  .SalesProduct .itemImg {
    border-radius: 1.2rem;
    width: 16.8rem;
    height: 16.8rem;
  }
}

