@charset "UTF-8";
@import url(../styles/color.css);

section {
  display: block;
  width: 1200px;
  margin: 0 auto;
}

.productsTool {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.header {
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0;
}

.productsTool #searchAndSort {
  display: flex;
  gap: 10px;
}

.searchBar {
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 10px;
  width: 305px;
  height: 42px;
  border-radius: 12px;
  background-color: var(--color-gray-100);
}

#searchInput {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;

  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-gray-400);
  }

  &:focus {
    border-color: none;
    outline: none;
  }
}

#addProduct {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-gray-100);
  width: 133px;
  height: 42px;
  border-radius: 8px;
  background-color: var(--color-primary-100);
  cursor: pointer;
}

.selectContainer {
  width: 90px;
  height: 18px;
  border-radius: 1px;
  border: solid 1px var(--color-gray-200);
  padding: 12px 20px 12px 20px;
}

.productImg {
  width: 221px;
  height: 221px;
  border-radius: 16px;
}

.header {
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0;
}
.name {
  font-size: 14px;
  font-weight: 500;
}

.price {
  font-size: 16px;
  font-weight: 700;
}

.like {
  font-size: 12px;
  font-weight: 500;
}

.productImg {
  width: 221px;
  height: 221px;
  border-radius: 19.46px;
}

.productsListing {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 317px;
  width: 220px;
  margin: 16px 0;
}

.pageButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 40px;
  margin-bottom: 120px;
}

.arrowButton {
  cursor: pointer;
}

.pageButton {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-gray-500);
  background-color: white;
  border: 1px solid var(--color-gray-200);
  width: 42px;
  border-radius: 40px;
  padding: 12.5px 12.5px;

  &.active {
    color: var(--color-gray-50);
    background-color: #2f80ed;
  }
}
