.commentForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  color: #111827;
  margin-top: 4rem;
}
.commentInput {
  max-width: 120rem;
  width:100%;
  height: 10.4rem;
  padding: 1.6rem 2.4rem;
  border-radius: 0.8rem;
  border: 1px solid var(--secondary-gray-300);
  font-size: 1.6rem;
  background-color: #F3F4F6;
}

.commentInput::placeholder {
  color: #9CA3AF; 
  font-size: 1.6rem; 
  line-height: 1.8rem;
  letter-spacing: -0.1rem;
}

.commentButton {
  align-self: flex-end; /* 등록 버튼을 오른쪽에 위치 */
  width: 8.8rem;        /* 버튼에 줄바꿈없이 '처리중' 표시를 위해 사이즈를 로그인 버튼 사이즈로 변경함 figma : 7.4rem */
  height: 4.2rem;
  padding: 1.2rem 2.3rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  background-color: #9CA3AF;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
}

.commentButton.active {
  background-color: var(--primary-color);
  cursor: pointer;
}

.commentButton:disabled {
  background-color: #9CA3AF;
  cursor: not-allowed;
}
