html, body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--secondary-color-gray700);
  font-size: 16px; /* Responsive font-size */
  line-height: 1.5;
}

h1, h2, h3, p {
  margin: 0;
}

header,
main,
footer {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.sub {
  flex-grow: 1;
  margin: 0 12.5rem;
}

header {
  height: 70px;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: white;
  border-width: 0 0 1px;
  border-color: var(--border-color);
}

header .sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img.logo {
  height: 40px;
}

a.button {
  text-decoration: none;
  display: inline-block;
  font-size: var(--text-lg);
  background-color: var(--primary-color-100);
  color: var(--secondary-color-gray100);
  font-weight: 600;
  display: flex;
  justify-content: center;
}

header a.button {
  padding: 11px 43px;
  border-radius: 8px;
}

main {
  height: auto;
}

main a.button {
  padding: 12px 124px;
  border-radius: 9999px;
}

section {
  margin: 0 -12.5rem;
  padding: 0 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 720px;
  background-color: white;
}

section.left {
  justify-content: flex-start;
}

section.right {
  justify-content: flex-end;
}

section.left .description {
  align-items: flex-start;
}

section.right .description {
  align-items: flex-end;
}

section.right .description * {
  text-align: right;
}

section h3 {
  color: var(--primary-color-100);
  font-size: var(--text-2lg);
  font-weight: 700;
}

section.sec-top {
  height: 540px;
  padding: 12.5rem 0 0;
  background-color: transparent;
}

.sec-bottom-divider {
  height: 80px;
  margin: 0 -12.5rem;
  background-color: var(--secondary-color-gray100);
}

section.sec-bottom {
  height: 540px;
  padding: 143px 0 0;
  background-color: transparent;
}

section h2 {
  font-size: var(--text-4xl);
}

.description {
  height: 444px;
  padding: var(--text-4xl);
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--text-sm);
  background-color: var(--secondary-color-gray50);
}

.sec-top .description,
.sec-bottom .description {
  background-color: transparent;
}

.img-home-top {
  width: 746px;
  height: 340px;
}

.img-home-middle {
  width: 588px;
  height: 444px;
  background-color: var(--secondary-color-gray100);
}

.img-home-bottom {
  width: 746px;
  height: 397px;
}

footer {
  height: 160px;
  padding: 36px 0;
  font-size: var(--text-lg);
  background-color: var(--secondary-color-gray900);
  color: var(--secondary-color-gray100);
  justify-content: space-between;
  align-items: flex-start;
}

footer .sub-footer {
  /* color: ; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.codeit-2024 {
  color: var(--secondary-color-gray400);
}

.privacy-policy-and-FAQ {
  display: flex;
  gap: 30px;
}

footer a {
  text-decoration: none;
  color: var(--secondary-color-gray100);
}

footer .sns-icons {
  display: flex;
  gap: 12px;
  color: var(--secondary-color-gray100);
}

footer .sns-icons img {
  height: 20px;
}
