html {
  /* 10px */
  font-size: 62.5%;
  font-family: Pretendard;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.full {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 9.4rem;

}