html {
  /* 10px */
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Pretendard;
}

.full {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 9.4rem;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .main {
    margin: 9.4rem 2.4rem 0 2.4rem;
  }
}

@media (max-width: 743px) {
  .main {
    margin: 9.4rem 1.6rem 0 1.6rem;
  }
}