@import "./import.css";

#bestProductsTitle {
  margin-bottom: 1.6rem;
}

#bestProductsItems {
  /* width: 100%; */
  height: 37.8rem;

  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(4, 1fr);
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* Tablet */
@media (max-width: 1199px) {
  #bestProductsItems {
    height: 43.4rem;

    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .card.bestItem .product-img {
    max-width: 360px;
  }
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* Mobile */
@media (max-width: 743px) {
  #bestProductsItems {
    height: 48.2rem;

    grid-template-columns: 1fr;
  }
}
