.button {
    cursor: pointer;
    background-color: var(--Primary-100);
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: var(--Primary-200);
}

.button:focus {
    background-color: var(--Primary-300);
}

.button:disabled {
    background-color: var(--gray-400);
    cursor: default;
    pointer-events: none;
}
  