.footer-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.2rem 12.5rem;
    gap: 1rem;
    width: 192rem;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #111827;
    width: 100%;
    height: 16rem;
    border: 0.1rem solid;
    border-color: #111827;
}

.privacy,
.FAQ {
    color: #E5E7EB;
    cursor: pointer;
}

.codeit {
  color: #9CA3AF;
  cursor: pointer;
}

.PF {
    display: flex;
    gap: 3.2rem;
}

footer img{
    cursor: pointer;
    margin-left: 1rem;
}

.icon {
    display: flex;
}