@import "header.css";

header {
  padding: 0 20rem;
  height: 7rem;
}

h1 {
  font-size: 4rem;
  line-height: 5.6rem;
  font-weight: 700;
}

#pandaLogo {
  width: 153px;
}

#loginButton {
  font-weight: 600;
  border-radius: 0.8rem;
  padding: 1.1rem 4.3rem;
  line-height: 2.6rem;
}

.banner {
  background-color: #cfe5ff;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 55%;
  height: 54rem;
}

#topBanner {
  background-image: url("../Image/Img_home_top.png");
}

.section-wrap,
.cards {
  max-width: 151rem;
  margin: 0 auto;
  width: 100%;
}

.long-button {
  font-size: 2rem;
  font-weight: 700;
  border-radius: 100rem;
  padding: 1.6rem 12.4rem;
  margin-top: 3.2rem;
}

.card {
  padding: 13.8rem 0;
  display: flex;
  align-items: center;
  gap: 5%;
}

.card:nth-child(2) {
  text-align: right;
}

.card-text {
  flex: 1;
}

.card-text h2 {
  color: var(--Primary-100);
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.card-text p {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
  margin-top: 2.4rem;
}

#bottomBanner {
  background-image: url("../Image/Img_home_bottom.png");
}

footer {
  height: 16rem;
  background-color: var(--gray-900);
  padding: 3.2rem 20rem 10.8rem 20rem;
  color: var(--gray-400);
}

.footer-link {
  display: flex;
  gap: 3rem;
  color: var(--gray-200);
}

.sns-link {
  display: flex;
  gap: 1.2rem;
}

.sns-link img {
  width: 2rem;
  height: 2rem;
}
