@import "header.css";

* {
    box-sizing: border-box;
}

body {
    font-family: "Pretendard Variable";
}

header {
    display: flex;
    justify-content: center;
    /* margin: 60px 0 40px; */
    margin: 3.75rem 0 2.5rem;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 640px; */
    width: 40rem;
    margin: 0 auto;
}

#login-field {
    width: 100%;
}

.label-wrap {
    /* margin-bottom: 24px; */
    margin-bottom: 1.5rem;
}

.label-wrap label {
    /* font-size: 18px; */
    /* line-height: 21.48px; */
    font-size: 1.125rem;
    line-height: 1.3425rem;
    font-weight: 700;
    color: var(--gray-800);
}

.label-wrap p.error-msg {
    /* font-size: 15px; */
    /* line-height: 17.9px; */
    font-size: 0.9375rem;
    line-height: 1.11875rem;
    font-weight: 600;
    color: var(--error-red);
    /* margin-top: 8px; */
    /* margin-left: 16px; */
    margin-top: 0.5rem;
    margin-left: 1rem;
}

#login-field input {
    width: 100%;
    border-radius: 12px;
    /* height: 56px; */
    /* margin-top: 16px; */
    /* padding: 24px 16px; */
    height: 3.5rem;
    margin-top: 1rem;
    padding: 1.5rem 1rem;
    background-color: var(--gray-100);
    border: 0;
}

#login-field input:focus {
    outline: thin solid var(--Primary-100);
}

#login-field input.error {
    outline: thin solid var(--error-red);
}

label.input__pw > div {
    position: relative;
}

label.input__pw img {
    position: absolute;
    /* right: 24px; */
    /* bottom: 16px; */
    right: 1.5rem;
    bottom: 1rem;
}

#login-field button {
    width: 100%;
    /* height: 56px; */
    height: 3.5rem;
    border: 0;
    border-radius: 40px;
    background-color: var(--Primary-100);
    color: #ffffff;
    /* font-size: 20px; */
    /* line-height: 24px; */
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600;
}

#login-field button:disabled{
    background-color: var(--gray-400);
}

.sns-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #e6f2ff;
    width: 100%;
    /* height: 74px; */
    /* margin: 24px auto; */
    /* padding: 25px 23px; */
    height: 4.625rem;
    margin: 1.5rem auto;
    padding: 1.5625rem 1.4375rem;
}

.sns-login > div {
    display: flex;
    /* gap: 16px; */
    gap: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    /* width: 640px; */
    width: 40rem;
    margin: 0 auto;
}

footer p {
    /* font-size: 15px; */
    /* line-height: 17.8992px; */
    font-size: .9375rem;
    line-height: 1.1187rem;
    font-weight: 500;
    color: var(--gray-800);
}

footer a {
    color: #3182F6;
}