h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.2rem;
  color: var(--gray-900);
}

main {
  padding: 0 36rem;
}

#bestProducts {
  margin: 2.4rem auto 4rem auto;
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* Tablet */
@media (max-width: 1199px) {
  main {
    padding: 0 2.4rem;
  }
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* Mobile */
@media (max-width: 743px) {
  #bestProducts {
    max-width: 36rem;
  }

  main {
    padding: 0 1.6rem;
  }
}
