@import "./import.css";

#productOnSaleTitle {
  height: 4.2rem;

  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr 325px 133px 130px;
}

.search-query {
  height: 42px;
  width: 32.5rem;
  border-radius: 12px;
  background-color: var(--gray-100);

  padding: 0.9rem 2rem 0.9rem 1.6rem;
}

.regist-button {
  height: 42px;
  background-color: var(--Primary-100);
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--gray-100);
  padding: 1.2rem 2.3rem;
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* Tablet */
@media (max-width: 1199px) {
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* Mobile */
@media (max-width: 743px) {
}
