.salesProductTitle {
  display: flex;
}

.searchArea {
  width: 32.5rem;
  height: 4.2rem;
  padding: 9px 20px 9px 16px;
  border: none;
  border-radius: 1.2rem;
  background-color: #F3F4F6;
}

.registButton {
  width: 13.3rem;
  height: 4.2rem;
  padding: 1.2rem 2.3rem;
  border: none;
  border-radius: 0.8rem;
  background-color: #3692FF;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  color: #F3F4F6;
}