.salesItems {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2.4rem;
  max-width: 120rem;
  list-style-type: none;
}

.salesItemSection {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
  max-width: 120rem;
}