@import "header.css";

header {
  justify-content: center;
  margin: 6rem 0 4rem;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 64rem;
  margin: 0 auto;
}

#loginField {
  width: 100%;
}

.label-wrap {
  margin-bottom: 2.4rem;
}

.label-wrap label {
  font-size: 1.8rem;
  line-height: 2.148rem;
  font-weight: 700;
  color: var(--gray-800);
}

.label-wrap p.error-msg {
  font-size: 1.5rem;
  line-height: 1.79rem;
  font-weight: 600;
  color: var(--error-red);
  margin-top: 0.8rem;
  margin-left: 1.6rem;
}

#loginField input {
  width: 100%;
  border-radius: 1.2rem;
  height: 5.6rem;
  margin-top: 1.6rem;
  padding: 2.4rem 1.6rem;
  background-color: var(--gray-100);
  border: 0;
}

#loginField input:focus {
  outline: thin solid var(--Primary-100);
}

#loginField input.error {
  outline: thin solid var(--error-red);
}

#loginField button {
  width: 100%;
  height: 5.6rem;
  border: 0;
  border-radius: 40px;
  background-color: var(--Primary-100);
  color: white;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
}

#loginField button:disabled {
  background-color: var(--gray-400);
}

.sns-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: #e6f2ff;
  width: 100%;
  height: 7.4rem;
  margin: 2.4rem auto;
  padding: 2.5rem 2.3rem;
}

.sns-login > div {
  display: flex;
  gap: 1.6rem;
}

footer {
  justify-content: center;
  width: 64rem;
  margin: 0 auto;
}

footer p {
  font-size: 1.5rem;
  line-height: 1.78992rem;
  font-weight: 500;
  color: var(--gray-800);
}

footer a {
  color: #3182f6;
}
