@import "header.css";

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    /* margin: 60px 0 40px; */
    margin: 3.75rem 0 2.5rem;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 640px; */
    width: 40rem;
    margin: 0 auto;
}

form {
    width: 100%;
}

.labelWrap {
    /* margin-bottom: 24px; */
    margin-bottom: 1.5rem;
}

form input {
    width: 100%;
    border-radius: 12px;
    /* height: 56px; */
    /* margin-top: 16px; */
    /* padding: 24px 16px; */
    height: 3.5rem;
    margin-top: 1rem;
    padding: 1.5rem 1rem;
    background-color: var(--gray-100);
    border: 0;
}

form input:focus {
    border-color: var(--Primary-100);
}

.inputPW > div,
.checkPW > div {
    position: relative;
}

.inputPW img,
.checkPW img {
    position: absolute;
    /* right: 24px; */
    /* bottom: 16px; */
    right: 1.5rem;
    bottom: 1rem;
}

form button {
    width: 100%;
    /* height: 56px; */
    height: 3.5rem;
    border: 0;
    border-radius: 40px;
    background-color: var(--gray-400);
    color: #ffffff;
    /* font-size: 20px; */
    /* line-height: 24px; */
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600;
}

.snsLogin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #e6f2ff;
    width: 100%;
    /* height: 74px; */
    /* margin: 24px auto; */
    /* padding: 25px 23px; */
    height: 4.625rem;
    margin: 1.5rem auto;
    padding: 1.5625rem 1.4375rem;
}

.snsLogin > div {
    display: flex;
    /* gap: 16px; */
    gap: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    /* width: 640px; */
    width: 40rem;
    margin: 0 auto;
}

footer p {
    /* font-size: 15px; */
    /* line-height: 17.9px; */
    font-size: 0.9375rem;
    line-height: 1.11875rem;
    font-weight: 500;
    color: var(--gray-800);
}

footer a {
    color: #3182F6;
}