.banner {
  background-color: #cfe5ff;
  height: 54rem;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 55%;
}

#hero {
  background-image: url("../images/home/home-image1.png");
  background-color: #cfe5ff;
  background-size: auto; /* 이미지의 원래 크기 유지하는법 이거 지우면 커진다ㅠㅠ */
}


#features {
  padding-bottom: 13.8rem;
  background-color: #ffffff;
}

#bottomBanner {
  background-image: url("../images/home/home-image5.png");
  background-color: #cfe5ff;
  background-size: auto; /* 이미지의 원래 크기 유지하는법 이거 지우면 커진다ㅠㅠ */
}


#loginLinkButton {
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 8px;
  padding: 11.5px 23px;
}


.banner .pill-button {
  margin-top: 32px;
}


.feature {
  padding: 13.8rem 0;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
  width:100%;
  box-sizing: border-box;
  margin-bottom : 2rem;
  gap: 5%;
}

/* 아니다 싶으면 이 아래부분을 지워버려서 고치기 */
#section-between {
  background-color: #FCFCFC; /* 원하는 배경색 지정 */
  padding: 4rem 0; /* 필요에 따라 적절한 패딩 추가 */
}

/* Feature Content 배경색 설정 */
.feature-content {
  background-color: #FCFCFC; /* 문구가 포함된 부분의 배경색 */
  padding: 10rem; /* 필요에 따라 패딩 추가 */
}

.feature-content {
  flex: 1;
}

.feature:nth-child(2) {
  text-align: right;
}

.feature-tag {
  color: #3692ff;
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.feature-description {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.08em;
  margin-top: 2.4rem;
}
