/* 로그인/회원가입 공통 */
.container {
  background-color: var(--background-color);
  text-align: center;
  width: 100%;
  max-width: 64rem;
  margin: 6rem auto 4rem;
}

/* 상단 로고 영역 */
.logoSubpage {
  width: 100%;
  max-width: 64rem;
  margin: 6rem auto;
  text-align: center;
}

.logoWrapper {
  position: relative;
  width: 39.6rem;
  height: 13.2rem;
  margin: 0 auto; /* 로고를 중앙에 배치 */
}

/* 로그인 */
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
  width: 100%;
  /* height: 43rem; */
  height: 33rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 29rem;
  gap: 1.6rem;
}

/* 회원가입 */
.signupContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
  width: 100%;
  /* height: 66.4rem; */
  height: 56.4rem;
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 52.4rem;
  gap: 1.6rem;
}

/* 로그인/회원가입 공통 */
.formField {
  height: 9.3rem; /* 각 항목의 label과 input을 포함하는 높이 지정 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formField label {
  text-align: left;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.formField input {
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem 2.4rem;
  background-color: var(--input-background-color);
  border: none;
  border-radius: 1.2rem;
  font-size: 1.6rem;
}

.formField input:focus {
  border: 0.01rem solid var(--focus-border-color);
  outline: none; /* 기본 포커스 스타일 제거 */
}

/* 패스워드 래퍼 */
.passwordWrapper {
  position: relative;
}

.passwordWrapper .visibilityIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1.6rem;
  right: 1.6rem;
  bottom: 1.6rem; /* 추가됨 */
  cursor: pointer;
}

/* 버튼 스타일 */
.btnSubmit {
  width: 100%;
  height: 5.6rem;
  border-radius: 4rem;
  padding: 1.6rem 12.4rem;
  background-color: var(--primary-button-bg);
  border: none;
  font-size: 2rem;
  font-weight: 600;
  color: var(--button-text-color);
}

.btnSubmit:disabled {
  background-color: var(--disabled-button-bg);
  cursor: not-allowed;
}

/* 소셜 로그인 */
.socialLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 7.4rem;
  border-radius: 0.8rem;
  background-color: var(--social-login-bg);
  padding: 0 2.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.socialIcons {
  display: flex;
  gap: 1rem;
}

.iconWrapper {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
}

/* 회원가입 링크 */
.signupLink {
  font-size: 1.5rem;
  font-weight: 500;
}

.signupLink a {
  color: var(--link-color);
  text-decoration: underline;
  text-underline-offset: 0.2rem; /* 밑줄과 텍스트 사이 간격 조정 */
}

/* 입력창 테두리 (오류 입력시) */
.inputError {
  border: 1px solid red;
}

/* 오류 메시지 스타일 */
.errorMessage {
  color: red;
  font-size: 1.2rem;
  text-align: left;
  margin-top: 0.4rem;
}

/* Mobile 사이즈 */
@media (max-width: 743px) {
  .logoWrapper {
    position: relative;
    width: 19.6rem;
    height: 6.6rem;
    margin: 0 auto; /* 로고를 중앙에 배치 */
  }
}
