html {
    --mySize:clamp(5px,0.6vw,10px);
    --blueBtnColor:#3692ff;
    font-size: var(--mySize);
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: clamp(12px,1.5vw,24px);
}

#pandaTopLogo {
    width: clamp(200px,25vw,400px);
    margin-top: clamp(40px,5vw,80px);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginBox {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: "Noto Sans KR", sans-serif;
    width: clamp(320px,40vw,640px);
    font-weight: 500;
}

#emailInput {
    width: clamp(320px,40vw,640px);
    height: clamp(30px,3.75vw,60px);
    padding: clamp(5px,0.625vw,10px) clamp(10px,1.25vw,20px) ;
    box-sizing: border-box;
    outline: none;
    border-color: transparent;
    /*focus out일 때 테두리*/
    border-radius: clamp(5px,0.625vw,10px) ;
}

#emailInput:focus {
    outline: 1px solid var(--blueBtnColor);
}

#emailInput::placeholder {
    font-size: clamp(10px,1.25vw,20px);
    color: #c2c2c2;
}

#psInput {
    width: clamp(320px,40vw,640px);
    height: clamp(30px,3.75vw,60px);
    padding: clamp(5px,0.625vw,10px) clamp(10px,1.25vw,20px) ;
    box-sizing: border-box;
    outline: none;
    border-color: transparent;
    border-radius: clamp(5px,0.625vw,10px) ;
}


#psInput:focus {
    outline: 1px solid #3692ff;
}

#psInput::placeholder {
    font-size: clamp(10px,1.25vw,20px);
    color: #c2c2c2;
}

#loginBtn {
    width: clamp(320px,40vw,640px);
    padding: clamp(5px,0.625vw,10px);
    margin-top: clamp(10px,1.25vw,20px);
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    text-decoration:none;
    color: white;
    background-color: #9ca3af;
}

#simpleLoginBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    color: dimgrey;
    padding: clamp(20px,2.5vw,40px) clamp(10px,1.25vw,20px);
}

#signUpBox {
    text-align: center;
}

#signUpBox > p > a {
    color: rgb(125, 207, 255);
}