.registerSection {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerLabel {
  width: 120rem;
  display: flex;
  flex-direction: column;
}

#register {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  margin-top: 4rem;
}

#register h2 {
  font-family: Pretendard;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-align: left;
  color: var(--secondary-black-800);
}

#register button {
  width: 7, 4rem;
  height: 4.2rem;
  padding: 1.2rem 2.3rem;
  gap: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--secondary-gray-400);
  font-family: Pretendard;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  color: var(--secondary-white-100);
}

.registerLabel h3 {
  font-family: Pretendard;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-align: left;
  color: var(--secondary-black-800);
  margin-bottom: 2rem;
}

.registerLabel input {
  width: 120rem;
  height: 2.5rem;
  padding: 1.6rem 2.4rem;
  gap: 1rem;
  border-radius: 1.5rem;
  background-color: var(--secondary-white-100);
  border: none;
  margin-bottom: 4rem;
  vertical-align: top;
}

#introductionInput {
  height: 25rem;
}

#introductionInput::placeholder {
  position: relative;
  bottom: 10rem;
}

.registerLabel input:focus {
  outline: none;
  border: 0.2rem solid var(--primary-blue);
}

#tagLabel {
  margin-bottom: 20rem;
}

/* PC */
@media screen and (min-width: 1200px) {
}

/* Tablet */
@media screen and (min-width: 745px) and (max-width: 1199px) {
  .registerLabel,
  .registerForm,
  .registerSection {
    width: 100%;
  }
  .registerForm {
    padding: 0 2.4rem;
  }
  .registerLabel input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}

/* mobile */
@media screen and (min-width: 375px) and (max-width: 744px) {
  .registerLabel,
  .registerForm,
  .registerSection {
    width: 100%;
  }
  .registerForm {
    padding: 0 1.6rem;
  }
  .registerLabel input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}
