header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-white);
  border-bottom: 0.1rem solid var(secondary-white-300);
  position: sticky;
  top: 0;
  height: 6rem;
  padding: 0 20rem;
  z-index: 3;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

#logo {
  width: 12rem;
}

.userBtn {
  background-color: var(--primary-blue-100);
  color: var(--secondary-white-100);
  height: 3.5rem;
  padding: 1.2rem 2.3rem;
  gap: 1rem;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  line-height: 1.3rem;
}

@media (min-width: 744px) and (max-width: 1199px) {
  header {
    padding: 0 2.4rem;
    gap: 2rem;
  }
}

@media (max-width: 743px) {
  header {
    padding: 0 1.6rem;
    gap: 1.6rem;
  }
  #logo {
    width: 10rem;
  }
}
