.rendingSection1 {
  width: 100%;
  height: 47rem;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sectionBox {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  gap: 1rem;
}

.perchaseBox {
  position: relative;
  bottom: 14rem;
}

.perchaseText {
  font-size: 3rem;
  font-weight: 700;
  font-family: Pretendard;
  color: var(--secondary-gray-700);
  line-height: 5rem;
  text-align: left;
  position: relative;
  bottom: 1.5625rem;
  left: 0.5rem;
  white-space: nowrap;
}

.perchaseBtn {
  font-family: Pretendard;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
  width: 27rem;
  height: 4rem;
  border-radius: 2.5rem;
  padding: 3rem, 9rem;
  gap: 0.625rem;
  background-color: var(--primary-blue-100);
  color: var(--secondary-white-100);
  border: none;
  cursor: pointer;
}

.pandaOneImg {
  width: 46.625rem;
  height: 21.25rem;
}

/*PC*/
@media screen and (min-width: 1200px) {
  .pandaOneImg {
    width: 746px;
    height: 340px;
  }
}

/* Tablet */
@media screen and (min-width: 745px) and (max-width: 1199px) {
  .rendingSection1,
  .sectionBox {
    width: 100%;
  }
  .rendingSection1 {
    height: 80rem;
  }
  .perchaseBox {
    width: 100%;
    position: absolute;
    bottom: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .perchaseText {
    font-size: 3rem;
    text-align: center;
    line-height: 5.2rem;
  }
  .perchaseBtn {
    position: relative;
    bottom: 1rem;
  }
  .pandaOneImg {
    width: 100%;
    height: auto;
  }
  .navBr {
    display: block !important;
  }
}

/*Mobile*/
@media screen and (min-width: 375px) and (max-width: 744px) {
  .rendingSection1,
  .sectionBox {
    width: 100%;
  }
  .rendingSection1 {
    height: 60rem;
  }
  .perchaseBox {
    width: 100%;
    position: absolute;
    bottom: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .perchaseText {
    font-size: 2rem;
    text-align: center;
  }
  .perchaseBtn {
    position: relative;
    bottom: 1rem;
  }
  .pandaOneImg {
    width: 100%;
    height: auto;
  }
}

/*br 제거*/
@media screen and (max-width: 430px) {
  .navBr {
    display: block !important;
  }
}
