.itemsPage {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #FCFCFC;
}

.margin {
    margin-top: 2.6rem;
    margin-bottom: 14rem;
}

@media(max-width: 1199px) {
    .margin {
        margin-bottom: 16.5rem;
    }
}

@media(max-width: 743px) {
    .margin {
        margin-top: 1.7rem;
        margin-bottom: 13.5rem;
    }
}