.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  position: absolute;
  background-color: #fff;
  left: 100%;
  top: 10px;
  border: none;
}
.editButton {
  border: 1px solid #d1d5db;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  padding: 12px 41.5px 8px;
  color: #6b7280;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.deleteButton {
  border: 1px solid #d1d5db;
  border-top: none;
  border-radius: 0 0 8px 8px;
  padding: 8px 41.5px 12px;
  color: #6b7280;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
