body {
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
}

.footer-icon {
  align-items: center;
  width: 1920px;
  height: 160px;
  justify-content: space-between;
  padding: 32px 200px;
  display: flex;
  box-sizing: border-box;
  background-color: #111827;
}

.codeit {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  align-items: center;
  color: #9ca3af;
}

.menu {
  gap: 30px;
  display: flex;
}

a {
  text-decoration-line: none;
}

.Privacy-a,
.FAQ-a {
  color: #e5e7eb;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09;
  align-items: center;
}

.icon {
  gap: 12px;
  display: flex;
  width: 116px;
  height: auto;
}
