.itemList {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 360px;
  width: 1200px;
  gap: 12px;
}

.itemHeader p {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #111827;
  display: flex;
  flex-grow: 1;
}

.search {
  gap: 4px;
  display: flex;
  align-items: center;
  width: 325px;
  height: 42px;
  padding: 9px 20px 9px 16px;
  background-color: #f3f4f6;
  border-radius: 12px;
  box-sizing: border-box;
}

.searchInput {
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 100%;
  height: 100%;
  border: none;
  align-items: center;
  background-color: #f3f4f6;
  color: #9ca3af;
}

.updateProduct {
  display: flex;
  width: auto;
  height: 42px;
  border-radius: 8px;
  padding: 12px 23px;
  gap: 10px;
  background-color: #3692ff;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #f3f4f6;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
}

.dropdownSelect {
  width: 130px;
  height: 42px;
  border-radius: 12px;
  border-width: 1px;
  padding: 12px 20px;
  gap: 10px;
  border: 1px solid #e5e7eb;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #1f2937;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-sizing: border-box;
}

.dropdownList {
  position: absolute;
  display: grid;
  grid-template-rows: repeat(2, 42px);
  grid-gap: 0;
  width: 130px;
  height: auto;
  padding: 0;
  margin: 8px 0 0;
}

.item-recent {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #e5e7eb;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #1f2937;
  border-radius: 12px 12px 0 0;
  background-color: #ffffff;
}

.item-favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #e5e7eb;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #1f2937;
  border-radius: 0 0 12px 12px;
  background-color: #ffffff;
}

.product-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 24px;
  row-gap: 40px;
  margin-top: 24px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 40px;
}
