/* 등록 */
.register_container {
  margin-bottom: 70px;
}
.register_title {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.register_buttion,
.edit_button {
  width: 74px;
  height: 42px;
  border: none;
  border-radius: 7px;
  background-color: #9ca3af;
  color: white;
  font-weight: 600;
}
.register_buttion.active_button {
  background-color: #3692ff;
  cursor: pointer;
}

.register_form {
  display: flex;
  flex-direction: column;
}

.register_input {
  width: 100%;
  background-color: #f3f4f6;
  border: none;
  height: 56px;
  margin-bottom: 15px;
  text-indent: 20px;
  border-radius: 10px;
}

.register_form h3 {
  margin-bottom: 15px;
}

.register_textarea {
  height: 282px;
  font-family: sans-serif;
  resize: none;
  padding-top: 20px;
}
@media (min-width: 744px) and (max-width: 1199px) {
}

@media (max-width: 743px) {
}
