.menu {
  width: 13.9rem;

  background-color: var(--primary-white);
  z-index: 10;

  cursor: pointer;

  color: var(--secondary-gray-800);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
}

.patch-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding: 1.2rem 1.7rem 1.6rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;

  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #d1d5db;
}

.Link {
  text-decoration: none;
  color: var(--secondary-gray-800);
}

.delete-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding: 1.2rem 1.7rem 1.6rem;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  border: 0.1rem solid #d1d5db;
}
