.bestImg {
  width: 282px;
  height: 282px;
  border-radius: 16px;
}

.productImg {
  width: 221px;
  height: 221px;
  border-radius: 16px;
}

.header {
  font-size: 20px;
  font-weight: 700;
}
.name {
  font-size: 14px;
  font-weight: 500;
}

.price {
  font-size: 16px;
  font-weight: 700;
}

.like {
  font-size: 12px;
  font-weight: 500;
}
