.nav {
    position: sticky;
    top: 0;
    z-index: 99999;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 7rem;

    margin: auto;
    border-bottom: 0.1rem solid #DFDFDF;

    background-color: #ffffff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 192rem;
    width: 100%;

    margin: 0 20rem;
}

.leftSection {
    display: flex;
    align-items: center;

    gap: 3.2rem;
}

.mobile {
    display: none;
}

.menu {
    display: flex;
    align-items: center;

    padding: 0;

    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.148rem;

    list-style: none;

    gap: 3.9rem;
}

.menu a {
    color: #4B5563;
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 4.2rem;

    padding: 1.2rem 2.3rem;

    border-radius: 0.8rem;

    background-color: #3292FF;
}

.auth a {
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.909rem;
}

/* -- Tablet -- */
@media (min-width: 744px) and (max-width: 1199px) {
    .container {
        margin: 0 2.4rem;
    }

    .menu {
        font-size: 1.6rem;
    }
}

/* -- Mobile -- */
@media screen and (max-width:743px) {
    .container {
        margin: 0 1.6rem;
    }

    .menu {
        font-size: 1.4rem;
    }

    .logo {
        display: none;
    }

    .mobile {
        display: block;
    }
}