.NavbarStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid #dfdfdf;
  width: 100%;
  padding: 0 200px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.Nav {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 10px 0;
}
.logoStyle {
  width: 153px;
  height: 51px;
}
.Nav p {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #4b5563;
}
.Avatar {
  display: flex;
  gap: 6px;
  align-items: center;
}
.Avatar span {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #4b5563;
}

.KimAvatar {
  width: 40px;
  height: 40px;
}

.Nav img {
  content: url("./imgFile/판다마켓로고.png");
}

/* tablet Size */
@media (max-width: 1199px) {
  .NavbarStyle {
    padding: 1px 24px;
  }
  .Nav img {
    content: url("./imgFile/판다마켓로고.png");
  }
}
@media (max-width: 743px) {
  .NavbarStyle {
    padding: 0 16px;
  }
  .Avatar span {
    display: none;
  }
  .Nav img {
    content: url("./imgFile/판다마켓글씨로고.png");
    width: 81px;
    height: 40px;
  }
}
