.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px; /* 최대 너비 설정 */
  margin: 0 auto 40px; /* 가운데 정렬 */
  width: 100%; /* 너비를 100%로 설정 */
}
.ProductMenuBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 24px;
}
.ProductMenuFont {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #111827;
  margin: 0;
  flex-grow: 1;
  white-space: nowrap;
}
/* .ProductMenuBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
} */
.ProductSerchInput {
  border-radius: 12px;
  border: none;
  background-color: #f3f4f6;
  width: 325px;
  height: 42px;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9ca3af;
  padding-left: 44px; /* 커서 위치 조정 */
  background-image: url("./imgFile/돋보기아이콘.png");
  background-repeat: no-repeat;
  background-position: 16px center; /* 아이콘 위치 */
  background-size: 24px 24px; /* 돋보기 크기 조정 */
  margin-right: 12px;
}
.PostProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 23px;
  gap: 10px;
  background-color: #3692ff;
  height: 42px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #f3f4f6;
  margin: 0;
  margin-right: 12px;
  white-space: nowrap;
}
.ProductDropdown {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 132px;
  height: 42px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0;
  position: relative;
}
.ProductDropMenu {
  position: absolute;
  list-style: none;
  top: 100%;
  margin-top: 8px;
  width: 130px;
}
.NewestList,
.BestList {
  border: 1px solid #e5e7eb;
  border-radius: 12px 12px 0 0;
  height: 42px;
  background-color: #ffffff;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #1f2937;
  cursor: pointer;
}
.BestList {
  border-radius: 0 0 12px 12px;
}

/* 메뉴바 여기까지------------------- */

/* 메인Grid */
.ProductListFrame {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px 24px;
}
.ProductListItem img {
  width: 221px;
  height: 221px;
  margin-bottom: 16px;
  border-radius: 16px;
}

/* tablet Size */
@media (max-width: 1199px) {
  .Main {
    max-width: 696px;
  }
  .ProductListFrame {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 40px 16px;
  }
}

/* mobile Size */
@media (max-width: 743px) {
  .Main {
    max-width: 344px;
  }
  .DropdownBox .ProductDropdown {
    background: url("./imgFile/드롭다운모바일.png") no-repeat center;
    background-size: contain;
    width: 40px; /* 이미지 크기에 맞춰 조정 */
    height: 40px; /* 이미지 크기에 맞춰 조정 */
    padding: 0; /* 패딩 제거 */
    color: transparent; /* 텍스트 숨기기 */
    cursor: pointer;
  }
  .DropdownBox .DropdownArrow {
    display: none; /* 화살표 아이콘 숨기기 */
  }
  .ProductMenuBox {
    display: grid;
    grid-template-columns: 288px 42px;
    gap: 8px 14px;
  }
  .PostProduct {
    order: 0;
    transform: translateX(-136px);
    padding: 0;
    width: 133px;
  }
  .ProductSerchInput {
    order: 1;
    box-sizing: border-box;
    width: 288px;
    margin-right: 14px;
  }
  .DropdownBox {
    order: 2;
  }

  .ProductListFrame {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 32px 8px;
  }
  .ProductListItem img {
    width: 168px;
    height: 168px;
  }
}
