#contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#products-entire {
    margin-top: 2.4rem;
}

#page-entire {
    margin-top: 4.3rem;
    margin-bottom: 14rem;
}