@charset "UTF-8";
@import url(./color.css);

html {
  font-family: Pretendard;
}

/*nav*/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: white;
  padding: 0 400px;
  border: 1px solid #dfdfdf; /*color pallet에 없어서 임의로 추가*/
}

.container {
  width: 1220px;
  margin: 0 400px;
}

.logoMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 21px;
}

#logo {
  width: 153px;
  height: 52px;
}

.menu {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-gray-600);
}

.login {
  cursor: pointer;
  background-color: var(--color-primary-100);
  width: 88px;
  height: 42px;
  border: none;
  border-radius: 10px;
  color: var(--color-gray-100);
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;

  &:hover {
    color: var(--color-gray-100);
    background-color: var(--color-primary-200);
    transition: 0.3s;
  }
}

/*Footer*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 125px;
  background-color: var(--color-gray-900);
  padding: 35px 400px;
}

#copyright {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray-400);
}

.externalPageContainer {
  display: flex;
  gap: 30px;
}

.externalPage {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray-200);
  text-decoration: none;
}

.snsContainer {
  display: flex;
  gap: 12px;
}

.snsLogo {
  cursor: pointer;
}

@media (min-width: 744px) and (max-width: 1199px) {
  nav {
    padding: 0 30px;
    width: 100%;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
  }

  .searchBar {
    width: 242px;
    height: 42px;
  }

  .bestImg {
    width: 343px;
    height: 343px;
    border-radius: 19.46px;
  }

  .productImg {
    width: 221px;
    height: 221px;
    border-radius: 19.46px;
  }

  .productsListing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  .productsContainer {
    width: 100%;
    gap: 10px;
  }

  .bestProductsListing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .bestProductsContainer {
    height: 100%;
    gap: 10px;
  }

  footer {
    padding: 35px 30px;
    width: 100%;
  }
}
@media (min-width: 375px) and (max-width: 743px) {
  nav {
    width: 100%;
    padding: 0 30px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .productsTool {
    display: inline;
  }
  .searchBar {
    width: 288px;
    height: 42px;
  }

  .productsListing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .bestProductsListing {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  footer {
    padding: 35px 30px;
  }
}
