.arrow-button {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    border: 0.1rem solid #E5E7EB;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.6rem;
    text-align: center;
}