.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 200px 10px;
  gap: 64px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  gap: 32px;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.head_title {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

.head_info {
  display: flex;
  gap: 32px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-200);
}

.head_profile {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 235px;
  border-right: 1px solid var(--gray-200);
  font-size: 1.4rem;

  & p:last-of-type {
    color: var(--gray-400);
  }
}

.head_favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 87px;
  height: 40px;
  border: 1px solid var(--gray-200);
  border-radius: 35px;
  font-size: 16px;
  color: var(--gray-500);
}

.articleContent {
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.commentForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.commentTitle {
  font-size: 1.6rem;
  font-weight: 600;
}

.commentInput {
  width: 100%;
  height: 104px;
  background-color: var(--gray-100);
  border: none;
  border-radius: 12px;
  padding: 16px 24px;

  &::placeholder {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--gray-400);
  }
}

.registerButton {
  display: flex;
  justify-content: flex-end;
}

.buttonContent {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
