.wrapper {
    display: flex;
    flex-direction: column;

    gap: 4rem;
}

.articles {
    display: flex;
    flex-direction: column;

    gap: 2.4rem;
}

.article-search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1.6rem;
}