.best_post {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.87px;
  color: #111827;
}

.post_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.post {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #1f2937;
}

.writing_button {
  width: auto;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #3692ff;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  padding: 12px 23px;
}

.writing {
  text-decoration: none;
  color: #ffffff;
}

.search_form {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
