:root {
  --primary-100: #3692FF;
  --primary-200: #1967D6;
  --primary-300: #1251AA;

  --gray-50: #F9FAFB;
  --gray-100: #F3F4F6;
  --gray-200: #E5E7EB;
  --gray-300: #D1D5DB;
  --gray-400: #9CA3AF;
  --gray-500: #6B7280;
  --gray-600: #4B5563;
  --gray-700: #374151;
  --gray-800: #1F2937;
  --gray-900: #111827;

  --error-red: #F74747;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Pretendard', sans-serif;
  color: var(--gray-700);
  font-size: 62.5%;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

ul {
  list-style-type: none;
}

input,
textarea {
  border: none;
}

@media (min-width: 744px) and (max-width: 1199px) {
  body {
    padding: 0 2rem;
  }
}

@media (max-width: 743px) {
  body {
    padding: 0 1.5rem;
  }
}