* {
  box-sizing: border-box;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');

html {
  background-color: #fcfcfc;
  font-family: Pretendard;
  font-size: 62.5%;
}

body {
  margin: 0;
}

:root {
  --primary-100: #3692ff;
  --primary-200: #1967d6;
  --primary-300: #1251aa;
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;
  --error-red: #f74747;
}
