@import "/reset.css"

html {
  font-size: 62.5%;
}

:root {
  /* Gray scale */
  --gray-900: #1b1d1f;
  --gray-800: #26282b;
  --gray-600: #454c53;
  --gray-500: #72787f;
  --gray-400: #9ea4a8;
  --gray-200: #e5e7eb;
  --gray-100: #e8ebed;
  --gray-50: #f7f7f8;

  /* Primary color */
  --blue: #3692ff;

  /* Layout dimensions */
  --header-height: 7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: inherit;
}

/* form 요소 스타일 리셋: 브라우저 간 스타일 차이를 최소화*/
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}



img {
  vertical-align: bottom;
}




/*------- in updating...  ----------*/

/* 바디 스타일 */
body {
  color: #374151;
  word-break: keep-all;
  font-family: "Pretendard", sans-serif;
}


/* 헤더 스타일 */
header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  padding: 9px, 400px, 9px, 400px;
  background-color: white;
  z-index: 1;
}








/*------- updated ----------*/




/*-------- 글씨체 -------*/


/* 첫번째 글씨체 */
.first-line {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #3692FF;
}

/* 두번째 글씨체 */
.second-line {
  font-size: 40px;
  line-height: 56px;
  font-weight: 700;
  color: #374151;
}



/* 세번째 글씨체 */
.third-line {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #374151;
}


/*-------- 버튼 -------*/



button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}



.button {
  background-color: var(--blue);
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #1967d6;
}

.button:focus {
  background-color: #1251aa;
}

.pill-button {
  font-size: 2rem;
  font-weight: 700;
  border-radius: 99.9rem;
  padding: 1.6rem 12.4rem;
}

.button:disabled {
  background-color: #9ca3af;
  cursor: default;
  pointer-events: none;
}

