.label {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--gray-800);
}

input.input {
  width: 100%;
  border-radius: 12px;
  height: 5.6rem;
  padding: 1.6rem 2.4rem;
  background-color: var(--gray-100);
  border: 0;

  &:focus {
    outline: thin solid var(--Primary-100);
  }

  &.error {
    outline: thin solid var(--error-red);
  }
}

textarea.input {
  width: 100%;
  border-radius: 12px;
  height: 28.2rem;
  padding: 1.6rem 2.4rem;
  background-color: var(--gray-100);
  border: 0;

  &:focus {
    outline: thin solid var(--Primary-100);
  }

  &.error {
    outline: thin solid var(--error-red);
  }

  &.comment {
    height: 12rem;
  }
}
