.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}

.writeBtn {
  background: var(--primary-color);
  color: var(--button-text-color);
  width: 13.3rem;
  height: 4.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; 
}

.sectionTitle {
  font-family: 'Pretendard', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--heading-text-color);
}

/* Tablet 사이즈 */
@media (max-width: 1199px) and (min-width: 744px) {
  .sectionTitle {
    padding: 0 2.4rem; 
  }
}

/* Mobile 사이즈 */
@media (max-width: 743px) {
  .sectionTitle {
    padding: 0 1.6rem;
  }
  .writeBtn {
    margin-right: 1.2rem;
  }
}