
/*--------웹페이지 -------*/


a {
  text-decoration: none;
  color: inherit;
}



  /* nav 스타일 */

  #nav {
    justify-content: space-between;
    width: 1920px;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 0 200px;
    gap:10px;
    z-index: 1;
    
  }

  
  .first-last-section{
  
    background-color:  #CFE5FF; 
    display: flex;
    width: 100%;
    
    justify-content: center;
    flex-direction: row;
    align-items: end;
  
  }
  
  #firstSection{
    height: 440px;
  }
  
  
  #lastSection{
    height: 370px;
  } 
  
  
  

/* main banner */
.second-tird-fourth-section{
  background-color:  #ffffff; 
  height: 440px;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 200px;
  align-items:center;
  
}


/* 풋터 스타일 */
footer{

  justify-content:space-between;
  display:flex;
  background-color:  #000000;
  color: #9ca3af;
  padding: 32px 200px 100px 200px;
  font-size: 1rem;
  gap: 10rem;
  box-sizing: border-box;
  align-items: center;

}


#footer2{
  display: flex;
  gap: 1.4rem;
  color:#ffffff;
  /* margin-left:100px */
}
#footer3{
  
  display: flex;
  gap: 1rem;
  margin-left:;
  
}







/* 헤더 로그인 버튼*/

#loginLinkButton {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 11.5px 23px;
}

/* .login-Button {
  background-color: #2196f3; 
  color: #fff; 
  padding: 15px 20px;
  border-radius: 10px; 
  font-size: 18px; 
  text-align: center; 
  width: 100px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 50px;
  
} */



/* 구경하러가기 버튼*/

.banner .pill-button {
  margin-top: 32px;
}



.look-up-button{
  background-color: #2196f3; 
  color: #fff; 
  padding: 15px 30px;
  border-radius: 25px; 
  font-size: 18px; 
  text-align: center; 
  margin-bottom: 100px;

}




/*--------image adjust -------*/
.adjustImage{
  width:50%
}

.adjustImageB{
  width:20px;
}

.adjustImageC{
  width:100%
}

img {
  width: 500px;
}


