.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 120rem;
  margin: 9.4rem auto 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin: 0 2.4rem 7rem 2.4rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: var(--gray-800);
}

.registerBtn,
.editBtn {
  width: 7.4rem;
  height: 4.2rem;
  border: none;
  border-radius: 0.8rem;
  background-color: var(--gray-400);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  color: #ffffff;
}

.active {
  background-color: var(--primary-100);
  cursor: pointer;
}

.formSection {
  display: flex;
  flex-direction: column;
}

.formSection h2 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--gray-800);
  margin-bottom: 1.2rem;
}

.inputSection {
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem 2.4rem;
  background-color: var(--gray-100);
  border: none;
  border-radius: 1.2rem;
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: var(--gray-800);
}

.inputSection::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: var(--gray-400);
}

.textareaSection {
  height: 28.2rem;
  resize: none;
}

@media (max-width: 1199px) and (min-width: 744px) {
  .layout {
    max-width: 69.6rem;
  }
}

@media (max-width: 743px) {
  .layout {
    max-width: 34.5rem;
  }

  .container {
    gap: 2.4rem;
    margin: 0 1.6rem 7rem 1.6rem;
  }

  .title h1 {
    line-height: 2.387rem;
  }

  .registerBtn {
    line-height: 1.909rem;
  }

  .formSection h2 {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  .inputSection {
    margin-bottom: 1.6rem;
  }

  .textareaSection {
    height: 20rem;
  }
}
