.section {
    width: 100%;
    height: 72rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1199px) {
    .section {
        width: 69.6rem;
        height: 69.6rem;
    }
}

@media(max-width: 743px) {
    .section {
        width: 34.4rem;
        height: 40rem;
    }
}