.banner {
    width: 98.8rem;
    height: 44.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner.reverse {
    flex-direction: row-reverse;
}

.image {
    width: 58.5rem;
    height: 100%;
}

.textBox {
    height: 23.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textBox.checkSize {
    width: 27.4rem;
}

.textBox.searchSize {
    width: 31.7rem;
}

.textBox.registerSize {
    width: 33.5rem;
}


.title {
    height: 2.6rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.6rem;
    text-align: left;
    color: #3692FF;
}

.subtitle {
    height: 11.2rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.2rem;
    text-align: left;
}

.description {
    width: 27.4rem;
    height: 6.4rem;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.2rem;
    text-align: left;
}

.subtitleAndDescriptionConatiner {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media(max-width: 1199px) {
    .banner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .banner.reverse {
        flex-direction: column;
        align-items: end;
        text-align: right;
    }


    .image {
        width: 100%;
        height: 52.4rem;
    }

    .textBox {
        height: 16rem;
    }

    .textBox.checkSize {
        width: 31.9rem;
    }

    .textBox.registerSize,
    .textBox.searchSize {
        width: 41rem;
    }

    .subtitle {
        height: 4.2rem;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 4.2rem;

        br {
            display: none;
        }
    }

    .description {
        height: 5.2rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.6rem;
        text-align: left;

    }

    .subtitleAndDescriptionConatiner {
        height: 11.8rem;
    }
}

@media(max-width: 743px) {
    .image {
        width: 100%;
        height: 25.9rem;
    }

    .textBox {
        height: 13rem;
    }

    .textBox.checkSize {
        width: 24rem;
    }

    .textBox.searchSize {
        width: 31.6rem;
    }

    .textBox.registerSize {
        width: 31.5rem;
    }

    .title {
        height: 2.2rem;
        font-size: 1.6rem;
    }

    .subtitle {
        height: 3.4rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 3.2rem;
    }

    .description {
        height: 3.8rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.52rem;
    }

    .subtitleAndDescriptionConatiner {
        height: 8.8rem;
    }
}