.section {
    width: 100%;
    height: 54rem;
    display: flex;
    justify-content: center;
    align-items: end;
    background: #CFE5FF;
}

@media(max-width: 1199px) {
    .section {
        height: 92.7rem;
    }
}

@media(max-width: 743px) {
    .section {
        height: 54rem;
    }
}