.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
  height: 13.8rem;
  border-bottom: 0.1rem solid var(--gray-200);
  background-color: #fcfcfc;
}

.articleHeader {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.2rem;
  letter-spacing: -0.05rem;
  color: var(--gray-800);
}

.articleInfo {
  display: flex;
  justify-content: space-between;
}

.nameDate {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.name {
  color: var(--gray-600);
}

.date {
  color: var(--gray-400);
}

.like {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: var(--gray-500);
}

@media (max-width: 743px) {
  .wrapper {
    height: 13.6rem;
  }

  .title {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}
