.paginationWrapper {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  margin: 1.9rem 0 14rem 0;
}

.paginationWrapper button,
.pageBtns button {
  width: 4rem;
  height: 4rem;
  font-weight: 600;
  background-color: #ffffff;
  border-radius: 99rem;
  border: 0.1rem solid #e5e7eb;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #6b7280;
  cursor: pointer;
}

.pageBtns {
  display: flex;
  gap: 0.4rem;
}

.pageBtns button.active {
  background-color: #2f80ed;
  color: #f9fafb;
  border: none;
}

.pageBtns button:disabled {
  cursor: not-allowed;
  background-color: #ffffff;
}

@media (min-width: 744px) and (max-width: 1199px) {
}

@media (max-width: 743px) {
}
