@charset "UTF-8";
@import url(color.css);

html {
  font-family: Pretendard;
}

body {
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  color: white;
  border: 1px solid #dfdfdf; /*color pallet에 없어서 임의로 추가*/
}

#logo {
  width: 153px;
  height: 52px;
}

.menu {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-gray-600);
}

#profileImg {
  width: 40px;
  height: 40px;
}

#profileName {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-gray-600);
}

.bestImg {
  width: 282px;
  height: 282px;
  border-radius: 16px;
}

.productImg {
  width: 221px;
  height: 221px;
  border-radius: 16px;
}

.header {
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0;
}
.name {
  font-size: 14px;
  font-weight: 500;
}

.price {
  font-size: 16px;
  font-weight: 700;
}

.like {
  font-size: 12px;
  font-weight: 500;
}

.bestProductsListing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.productsListing {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.bestProductsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 378px;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 317px;
  margin: 16px 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 160px;
  background-color: var(--color-gray-900);
}

#copyright {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray-400);
}

.externalPage {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray-200);
  text-decoration: none;
}

.snsLogo {
  cursor: pointer;
}
